[2018-03-07 20:58] TomKaltz commented on #901
I will report back...

[2018-03-07 21:51] TomKaltz commented on #901
Compiled commit 54997aedb7ee2372f42b9a10bcfc0304fdb735c3 and ran with 1080i5994 channel.....

[code]

[2018-03-08 04:31] TomKaltz commented on #901
@ronag the parallel conversion is significantly more performant.  Is there any downside to having the transform output locked to yuv422p in this way?

[2018-03-08 04:59] TomKaltz opened #915 "Audio distortion at NTSC framerates"
When running in NTSC framerates I get distorted audio in the system audio consumer and the ffmpeg consumer.

Audio sounds better from a recorded (ffmpeg consumer) file but still distorts.

Seems like something with our old friend the NTSC audio cadence run.

[2018-03-08 05:20] #230 closed, assigned to nobody

[2018-03-08 05:51] markusnygard commented on #230
Thank you with great respect for everyone who is putting their time into developing this great software.
br markus

[2018-03-08 07:12] dotarmin commented on #913
Okey, it seems obvious that community together agreed on skipping the support for Linux in CasparCG Server 2.2.0, and specifically Ubuntu 17.10 to focus on 18.04 LTS instead.

We could however have some sort of pre-evaluation period with the work Julian has done with making it run under 18.04 and building with Docker. If we do that, we have to be clear it's not supported by the community but is av

[2018-03-08 09:01] baltedewit commented on #913
having to run with sudo sounds like a bad idea. there's probably a file permission issue when copying from docker that should be fixed.

it's not that it doesn't work, Linux just comes with a big old disclaimer: YMMV. my build for Debian is humming along quite nicely, and by building outside docker I didn't get any weird behaviour like missing db's and having to run through sudo. but it does take

[2018-03-08 09:55] dotarmin commented on #913
Docker daemon runs as root and needs therefore sudo. It is possible to to manage Docker without sudo permissions by creating a Docker group and adding your user it. More information [here][1].

Agree, I don't blame Linux or so just to be clear 😄, but putting focus on LTS versions is still the main goal in my opinion.

[1]: https://docs.docker.com/install/linux/linux-postinstall/

[2018-03-08 10:43] baltedewit commented on #913
Docker is only used at compile time, runtime should _**never**_ require sudo unless you're doing things that require full access to the os (like the docker deamon).

[2018-03-08 10:44] dotarmin commented on #913
You're absolutely right, hmm.

[2018-03-08 12:57] premultiply commented on #901
Found out that the current implementation is wrong as it assumes BGRA Input from mixer to be tv range and not full range. This gives wrong Levels in Output.

Complete filter chain for pre https://github.com/CasparCG/server/commit/0d721847b49d022f7db09f48e92d8732b0db19c8
is
ADD 1-700 FILE test.mxf -codec:v dnxhd -b:v 120M -codec:a pcm_s16le -flags:v +ilme+ildct -filter:v interlace,scale=**in_range=

[2018-03-08 13:15] premultiply commented on #901
@TomKaltz Thanks for testing! The problem in your case is that dnxhd requires **10 bit** which zscale does not support in this conversion path.
But this also gives the hint why why dnxhd performance is low. swscale needs to upscale from 8 to 10 bit first before writing to the dnxhd encoder.

[2018-03-08 13:18] premultiply commented on #901
Some sort of XDCAM HD422 flavor (wrong audio track configuration) should give much better performance:
ADD 1-777 FILE test.mxf  -codec:v mpeg2video -codec:a pcm_s24le  -filter:v -filter:v interlace,scale=in_range=full:out_range=tv:out_color_matrix=bt709:flags=print_info,format=yuv422p -b:v 50M  -maxrate:v 50M -bufsize:v 3835k -minrate:v 50M  -profile:v 0 -level:v 2 -flags:v ilme+ildct

[2018-03-08 13:25] premultiply commented on #901
Or using zscale:
`ADD 1-777 FILE test.mxf  -codec:v mpeg2video -codec:a pcm_s24le -filter:v interlace,zscale=rangein=full:range=limited:primaries=709:transfer=709:matrix=709,format=yuv422p -b:v 50M  -maxrate:v 50M -bufsize:v 3835k -minrate:v 50M  -profile:v 0 -level:v 2 -flags:v ilme+ildct`

[2018-03-08 13:54] premultiply commented on #891
I am wondering why there is no "connection" to the hardware reference clock of the decklink board visible to me from code. For me it looks like server feeds frames by "system time" (or HPET etc.) to decklink board. So decklink boards will drop or duplicate frames as needed to match their own free running or genlocked clock. Decklink is not the clock master for channel. This would explain why there

[2018-03-08 14:18] TomKaltz commented on #406
So can someone submit a PR to add these formats?

[2018-03-08 14:20] TomKaltz commented on #915
This is related to #838. @ronag feel free to close this if you think the other issue fully covers this.

[2018-03-08 14:27] ronag opened #916 "Console logging is strange on Windows 10"
Sometimes it just stops printing...

[2018-03-08 14:30] Julusian commented on #406
They look to already exist in video_format.cpp. Changelog suggests they have been there since 2.1 beta 2

[2018-03-08 14:33] TomKaltz commented on #916
I noticed this too at one point then couldn’t reproduce after restart.  I have a suspicion it has to do with new line characters. There may have been a preceding new line in the commands I was pasting into console.

[2018-03-08 14:33] Julusian commented on #916
Seems to occur either when scrolling up to the very top, or stopping it from outputting (eg marking text) which it then never recovers from

[2018-03-08 15:30] TomKaltz commented on #406
I'm going to close this.  OP can re-open if needed.

[2018-03-08 15:33] TomKaltz commented on #891
I'm curious about this too.  Decklink genlock clock should drive channel ticking.  Is this not the case @ronag?

[2018-03-08 15:44] ronag commented on #891
You are wrong. The decklink api has a callback it calls based on it's internal clock.

[2018-03-08 15:46] ronag commented on #901
120M is 8 bit, 185M is 10 bits.

[2018-03-08 15:47] premultiply commented on #901
The scaler claims that 10bit is required.

[2018-03-08 15:52] ronag commented on #901
@premultiply Where? How do I reproduce?

[2018-03-08 15:53] ronag commented on #901
Could be a bug in ffmpeg pixel format resolution... hmm...

[2018-03-08 15:54] ronag commented on #901
but yes, that could explain the performance issues thomas has been having

[2018-03-08 15:55] premultiply commented on #901
[2018-03-08 16:53:12.795] [info]    Received message from 127.0.0.1: ADD 1-700 FILE test.mxf -codec:v dnxhd -b:v 120M -codec:a pcm_s16le -flags:v +ilme+ildct -filter:v zscale=size=hd720,format=yuv422p\r\n
[2018-03-08 16:53:12.797] [info]    ffmpeg[test.mxf] Initialized.
[2018-03-08 16:53:12.797] [info]    Sent message to 127.0.0.1:202 ADD OK\r\n
[2018-03-08 16:53:12.846] [error]   [ffmpeg] [dnxhd

[2018-03-08 15:57] ronag commented on #901
120M is for 50i not 50p

[2018-03-08 15:59] premultiply commented on #901
Yes, sorry, you are right about the bitrate.

[2018-03-08 16:02] premultiply commented on #901
@TomKaltz `ADD 1-700 FILE test.mxf -codec:v dnxhd -b:v 120M -codec:a pcm_s16le -flags:v +ilme+ildct -filter:v interlace,zscale=rangein=full:range=limited:primaries=709:transfer=709:matrix=709,format=yuv422p` works for me

[2018-03-08 16:03] ronag commented on #901
@premultiply old commit 1080i59 realtime?

[2018-03-08 16:07] premultiply commented on #901
@ronag Old commit but 1080i50 "only". Sorry I haven't got such crazy odd video source availible. ;-)
But the scaler should not care about the framerate at all.

[2018-03-08 16:20] ronag commented on #901
i59 is heavier than 50i... my server handles 50i... but at 59i it chokes

[2018-03-08 16:23] premultiply commented on #901
HP Z440 has only ~30% CPU load on 1080i50 with this ffmpeg_consumer running (~14% just passing decklink input to decklink output) but I'll try do get a "faster" video source tomorrow.

[2018-03-08 16:23] TomKaltz commented on #901
I will test the zscale stuff but with the following command on 0d721847b49d022f7db09f48e92d8732b0db19c8 I get very good performance and realtime encoding.  The files seemed to have proper coloremetry.

```add 1-700 file record700.mxf -codec:v dnxhd -b:v 120M -codec:a pcm_s16le -flags:v +ilme+ildct -filter:v interlace,format=yuv422p -threads:v 4```

[2018-03-08 16:25] Julusian commented on #913
Yes, I shall do so soon.

Im not sure why sudo was needed. I don't think I needed to do that so that is very strange.

Yes, I too primarily run debian so will likely end up doing a lot of dev and testing work from there. But for any production deployments I shall be looking to whatever we support.
One thing to note is that we build against a lot of system libraries now, which is a potential source

[2018-03-08 16:31] premultiply commented on #901
No it's slightly off. You can reproduce by feeding a colorbar to decklink in and watch server decklink output on video monitor (better add a waveform/vectorscope). If you record the channel and playback the file recorded file on ffmpeg producer you can toggle between the signals. You should see a slight level shift because of the wrong scaler input flag.

[2018-03-08 16:34] ronag commented on #915
I think so.

[2018-03-08 16:34] #915 closed

[2018-03-08 16:41] TomKaltz commented on #838
Just as a comparison, the distortion in system audio consumer is a LOT worse than the distortion in the files recorded by ffmpeg consumer at 1080i5994.

[2018-03-08 16:52] k0d commented on #913
@dotarmin docker requires sudo by default, so you should add your user to the docker group (something like this... sudo usermod -a -G docker dotarmin"

In terms of 18.04 support instead of 17.10....I am in total support of that...but as I didn't want to install it on my laptop when I was doing the development and testing recently, I targeted 17.10. I don't know exactly when...but I will upgrade my

[2018-03-08 17:05] miguelmanticore commented on #92
Dear All,

I Someone working on feature? I'm available to help,  is already the pipline using 10bits?

[2018-03-08 17:08] TomKaltz commented on #92
This is not being worked on.  I would love to find a way to get this implemented.  The mixer pipeline is currently 8bit.

If there is anyone in the community that might be able to fund something like this please contact me: tomkaltz at gmail.

[2018-03-08 17:11] miguelmanticore commented on #92
I will start a tour of  the code and I will give you feedback.

Em 08/03/2018 17:08, "Thomas Kaltz III" <notifications@github.com> escreveu:

[2018-03-08 17:13] premultiply commented on #92
Decklink „4k“ models provide an independant 10 bit interface for ANC-Data. So there is no need to capture and feed 10 bit image data in same format anymore.

[2018-03-08 18:17] baltedewit commented on #916
Just FYI: can't reproduce this on linux/debian 9.3.

[2018-03-08 18:21] baltedewit commented on #913
I was thinking of a full apt repo, but I don't know what exactly the implications are. I think  a deb file would still suffer from the issue that we're not using system versions of ffmpeg and boost, right?

[2018-03-08 19:29] premultiply commented on #913
A deb-Package would be the best solution for users.

[2018-03-08 22:24] walterav1984 commented on #913
@premultiply
Make that a snap, even a dump/classic can be installed from the ubuntu snap store without adding ppa's or manually downloading debs. But snaps are kinda hard to make I noticed if you would like them to run besides the platform your building on...

[2018-03-09 00:04] Julusian commented on #913
The more I think about it, the less sure I am on which way to go.
I believe an apt repo isn't much more difficult than just building deb files (I did it once in the past). And it needs to be hosted somewhere.
Building deb files sounds reasonable, but there are some questions on to do it:
* put all the required libs into the deb
* make the deb reference other packages and require them to be install

[2018-03-09 01:18] Julusian opened #917 "Improve output on linux when config file is missing"
### Expected Behaviour
The user should be informed that the specified file could not be found.
Potentially a default file should be generated to the specified filename.

### Current Behaviour
[code]

Windows gives better output:
[code]

### Environment
* CasparCG Server version: 7c0ffc4c
* Operating system: Ubuntu 18.04

[2018-03-09 01:19] Julusian commented on #913
@walterav1984 #917 Could your issue when not running as root be this?

[2018-03-09 03:45] dimitry-ishenko opened #918 "Playback of growing files"
I've got a .ts file that is being written to and played back at the same time. Running server 2.1 Beta 2.

Currently the server will stop playing at the point where the end of the file was when the playback has started. In other words, if the file was 5 minutes long, when I started playing it, the server will stop at the 5 minute mark, even though by the time it reaches that mark, the file will be

[2018-03-09 03:58] dimitry-ishenko commented on #918
As a starting point I was thinking  if I pass 0 length and tweak this line:
https://github.com/CasparCG/server/blob/6fec6f8f6b5276db86536dd551e047f2a8f3dcdb/modules/ffmpeg/producer/input/input.cpp#L366

to read : `... || (file_frame_number_ >= out_ && out_ > 0) ...`

[2018-03-09 04:47] premultiply commented on #851
#918

[2018-03-09 07:11] baltedewit commented on #913
They're containerized (kind of like docker) so I don't think we can get access to niche drivers like Decklinks. Our implementation for the mixer _might_ also not work, depending on how they've implemented gpu acceleration.

That's basically like putting CasparCG together with boost and ffmpeg into a tar file, except you get to access system directories and auto-execute an install script.

That's m

[2018-03-09 07:11] premultiply commented on #891
https://github.com/CasparCG/server/blob/8dcbc80c617211eda521a80ec38d3215eb7d2dd7/src/modules/decklink/consumer/decklink_consumer.cpp#L726
Maybe this is the reason for the main 1 Frame Audio Offset.

Has anybody checked if this is really true?:
Buffering 3 Frames of Video and 4 Frames auf Audio??? Sounds really strange to me.
What happens if they are set equal? Can someone build it with equal buffe

[2018-03-09 07:27] ronag commented on #891
yes... that has occurred to me as well... I think helge wanted to lower the latency by doing that... but yea that means the audio is off sync.

[2018-03-09 07:30] ronag commented on #891
@premultiply could you try with master now?

[2018-03-09 07:35] k0d commented on #913
We are statically building against ffmpeg and boost so that simplifies things.

There is already a script to extract CCG to a folder from the Docker image. It takes too many libs just now...which causes the nss issue...but I will be updating that soon.

I think the plan to create a single folder is the best way still, it should be quite portable that way.

I have plenty of experince with apt/deb p

[2018-03-09 07:58] baltedewit commented on #899
I'd like to express it like this: we have _something_ working currently. DIAG takes too many system resources (imho), doesn't allow for monitoring automation and requires an x server on linux.

This is an undocumented change, but 2.2.0 does not output diag info. Not sure if there's anything that holds us back from porting that over to 2.2.0/2.3.0 though. But if we want to replace diag entirely it

[2018-03-09 08:50] premultiply commented on #891
The 1 frame offset ist fixed for normal and low delay mode now.

![img_2967](https://user-images.githubusercontent.com/4681172/37198588-18aeb042-237f-11e8-8201-61e68b447bb1.jpg)

[2018-03-09 09:00] jesperstarkar commented on #891
Good job guys. Brilliant.

[2018-03-09 09:11] walterav1984 commented on #913
@Julusian
The `sudo` requirement probably came from running all the build scripts and extraction with `sudo` since I didn't put my normal user to the docker group. Doing a `chmod -R 777` on the extracted caspar-server folder makes casparcg run without `sudo` for me.

This makes it indeed tight to one ubuntu release, but when done right/perfect a snap can be build to support all releases!

@baltede

[2018-03-09 09:12] premultiply commented on #891
System delay (decklink_producer to decklink_consumer, genlocked) is 8 frames in low delay mode now and 9 frames in normal mode now.

[2018-03-09 09:18] drakmor commented on #901
BlackMagic decklink have a main color standart as bmdFormat10BitYUV for copy by DMA working. May be use it as main in mixer?

[2018-03-09 09:22] premultiply commented on #891
Genlocked yes. Haven't measured it without genlocking the decklink card... Let me check...

[2018-03-09 09:35] premultiply commented on #901
@drakmor This would require a complete redesign and rewriting of all producers, mixer and consumers. And the Decklink path is currently is fine. There are only some glitches on the ffmpeg_consumer left.

[2018-03-09 09:57] #891 closed

[2018-03-09 09:58] ronag commented on #899
Just developer time :).

[2018-03-09 09:58] ronag commented on #891
@premultiply thanks for the help!

[2018-03-09 10:46] Julusian commented on #913
So I had a play around with deb packaging last night (https://github.com/Julusian/casparcg-deb). Turns out that the dependency tree if we go for referencing libs is pretty large. It's not yet referencing any CEF deps and maybe overestimates what is needed for ffmpeg (I made it reference libavformat out of laziness, even though we use our own)
My conclusion from this is that it would be way too pai

[2018-03-09 14:32] dimitry-ishenko commented on #913
Having switched my laptop to Ubuntu recently (been using Gentoo for over 10 years), in my extremely humble opinion, PPA is the way to go. It can even be hosted on launchpad.net.

@Julusian there are ways to make it less painful:
http://www.tuxradar.com/answers/517
https://stackoverflow.com/questions/22008193/how-to-list-download-the-recursive-dependencies-of-a-debian-package

If you are planning t

[2018-03-09 14:50] Julusian commented on #913
Ooh, that is good to know. Im sure ill want that myself in future.
While that is less painful, its still not ideal. It does rely on the user having a machine running the same release machine available to download the deps on.

Ideally yes, but we are using a newer version of ffmpeg than is available in the repos, and potentially compiled with different options (to match what we use on windows).
Th

[2018-03-09 15:44] dimitry-ishenko commented on #913
@Julusian oh yes, this brings up 2 things:

1. Asio can be used as a standalone library: https://think-async.com/Asio/AsioStandalone without any dependency on boost.
I've actually done this in my Firmata implementation: https://github.com/dimitry-ishenko/firmata.
If you use it as a standalone lib, you can just add it as a submodule to the server git repo and have no runtime deps.

2. Last time I p

[2018-03-10 00:53] dimitry-ishenko commented on #918
Well, the above change is indeed sufficient to keep the ffmpeg producer going. I can submit it as a PR, but it feels a bit hackish. Thoughts?

[2018-03-10 05:14] TomKaltz commented on #901
Running at commit 80dec5a1e18d797bf94725461a36e91b49ed9530 1080i5994 channel

Between the commands...
```ADD 1-700 FILE test.mxf -codec:v dnxhd -b:v 120M -codec:a pcm_s16le -flags:v +ilme+ildct -filter:v interlace,zscale=rangein=full:range=limited:primaries=709:transfer=709:matrix=709,format=yuv422p -threads:v 4```
AND
```add 1-700 file record700.mxf -codec:v dnxhd -b:v 120M -codec:a pcm_s16le -fl

[2018-03-10 07:53] premultiply commented on #918
I like the idea of explicitly setting LENGTH 0 to keep the producer running until manually stopped.

If LENGTH is not set at all it should auto-remove the producer (empty layer) or transition to the next loaded clip after last frame was played.

Negative values to LENGTH should set relative out-points from the last frame.

[2018-03-10 08:14] premultiply commented on #901
Yes, you have to use a build without the internal prescaler to compare the performance between scale (swscale) and zscale. Please try with 41cf1abd2849e4d0031ab02d45620652f28efdbc.
Download: http://casparcg.com/builds/CasparCG%20Server/master/casparcg-server-41cf1abd2849e4d0031ab02d45620652f28efdbc-windows.zip

zscale:
`ADD 1-700 FILE test.mxf -codec:v dnxhd -b:v 120M -codec:a pcm_s16le -flags:v +

[2018-03-11 15:35] Julusian commented on #913
I have raised a PR for the build portion of this #919
It would be good to not close this issue yet, until there is a plan for packaging (and potentially using system boost)

[2018-03-11 17:33] jesperstarkar opened #920 "2.2.0 beta 1 performance"
### Expected Behaviour
- Better performance in Decklink producer playback.
- Performance that at least matches 2.0.7 and 2.1.0 beta 2.
- Near-linear growth of CPU, GPU and RAM consumption as load increases with new sources and layers.

### Current Behaviour
- 2-4x less performance in Decklink producer playback compared to 2.0.7 and 2.1.0 beta 2.
- Exponential growth in resource consumption.
- Unex

[2018-03-11 17:35] ronag commented on #920
2.2 runs in progressive so it basically has 2x GPU usage as well as extra cpu overhead for deinterlacing. This is expected.

[2018-03-11 17:37] ronag commented on #920
Fixing this will require re-introducing native interlaced support. Which I don't see happening.

[2018-03-11 17:38] ronag commented on #920
How much memory does that machine have? It seems to crash due to out of memory. The memory usage is a bit interesting.

[2018-03-11 17:39] jesperstarkar commented on #920
16gb. It crashes with this:

[code]

[2018-03-11 17:41] ronag commented on #920
Does that happen when a specific number of inputs or memory usage is reached?

[2018-03-11 17:42] ronag commented on #920
Are you getting drop-frame warnings in DIAG before it happens?

[2018-03-11 17:42] Julusian commented on #920
I have run it through the vs cpu profiler and with 4 1080i50 inputs, it is spending 50% of the cpu-time in decklink_producer.VideoInputFrameArrived

30% in calling av_buffersink_get_frame_flags
10% in calling av_buffersrc_write_frame
12% in ffmpeg::make_frame

It doesnt quite max out my cpu with that, and hits 1.6gb of ram in use. One channel with decklink consumer.

[2018-03-11 17:43] ronag commented on #920
This is probably because the decklink sdk is calling the VideoInputFrameArrived faster than we are able to process the frames and we start buffering up input frames. Should probably move the graph to a separate thread.

[2018-03-11 17:43] jesperstarkar commented on #920
@ronag I ran without DIAG since it adds 20-25% cpu usage from idle, and I wanted to hold that out of the measurements.

[2018-03-11 17:46] Julusian commented on #920
Yeah it looks to me like we are pulling frames from the graph immediately, and doing a while(true) with no sleeps until a frame is ready. I am assuming av_buffersink_get_frame_flags doesnt block there.
A seperate thread sounds like a good idea there

[2018-03-11 17:46] ronag commented on #920
There isn't much to do here... we could possible avoid the extra overhead in `make_frame`... and move the processing to a separate thread (to avoid the crash) but that won't actually help with proper playback.

You need a beefier machine or run progressive :).

Maybe we could make the deinterlace filter configurable to allow a faster version.

[2018-03-11 17:48] ronag commented on #920
Yea, it would be appropriate.

[2018-03-11 17:49] ronag commented on #920
Ah, we should probably use `AVBufferRef` for the frames sent to `av_buffersrc_write_frame` to avoid the extra memcpy.

[2018-03-11 17:50] ronag commented on #920
Performance have not been a focus for 2.2

[2018-03-11 17:51] Julusian commented on #920
http://casparcg.com/forum/viewtopic.php?f=13&p=30575&sid=a20a315112b8756c9d58d3ca212a501e#p30575

[2018-03-11 18:42] ronag commented on #920
Well, I would disagree with the performance part of that :)

[2018-03-11 18:57] Julusian commented on #920
After a bit of a debug, the gpu usage is from 20-25% gpu per active channel, which is maybe to be expected but seems a bit high when there is no compositing involved (on a GTX1070).
The crash was an easily solvable null exception. Ill raise a pr in a minute for that.
The non-linear cpu increase is a more interesting one. I had a look at the diag window (didnt manage to get a screenshot of it) and

[2018-03-11 20:27] Julusian opened #921 "Exception: No diagnostic information available."
### Current Behaviour

I am getting this a lot in the logs, often a few seconds apart. We used to get dropped-frames reported in the log and this seems to appear at the time the diag window reports dropped-frames so perhaps that is the cause?

Release builds appear to not show the stacktrace but do still show the exception heading line.

[code]

### Environment
* CasparCG Server version: c8d70472

[2018-03-11 22:51] ronag commented on #921
This is weird. I've seen this as well. Wish we could have some more info.

[2018-03-11 22:52] ronag commented on #921
If you are able to consistently reproduce it could you add more fine grained try/catch with CASPAR_LOG_CURRENT_EXCEPTION to try and nail down where it happens? Start from video_channel.cpp and split produce,mix, consumer and osc into separate try/catch sections.

[2018-03-12 08:18] dotarmin commented on #920
I'm about changing the texts now. But it sounded really neat doh, but you're totally right!  😄

[2018-03-12 08:46] Punkley opened #923 "info/Info 1 not currently working correctly"
"info" and "info 1" are currently returning the same information.

Tools like Justmacros uses info 1 to get the channel information about what is going on.
Currently info 1 isn't working correctly and is just returning the same data as info

info is also showing that a channel is playing even if nothing has started

[2018-03-12 19:14:49.811] [info]    Received message from Console: info\r\n
#200 I

[2018-03-12 10:05] ronag commented on #923
@niklaspandersson @5opr4ni I don't remember how this should work?

@Punkley what does it return in 2.0?

[2018-03-12 10:50] Punkley commented on #923
Look at #612 there is an example there for "info <channel>"

[2018-03-12 10:54] ronag commented on #923
ah yes, this is xml INFO. That's been deprecated. `INFO 1` should return an error.

[2018-03-12 10:56] ronag opened #924 "INFO proxy"
Seems a lot of people are missing the deprecated INFO with xml response. If someone is up for it I would suggest implementing an OSC -> INFO proxy in node.

[2018-03-12 11:20] Punkley commented on #923
That's actually not a good thing to deprecate in my opinion.

It will break tools like justmacros for getting the info about channels.
(and a bunch of my tools)

Kingsley

[2018-03-12 11:26] MauriceVeraart commented on #872
Is this code available somewhere just to look into it.
i understand it is not ready yet

[2018-03-12 11:35] jesperstarkar commented on #872
We'll share/open as soon as possible. This is currently our number three priority, after #920 and #776

[2018-03-12 11:44] MauriceVeraart commented on #872
Ok thanks first things first of coarse ;)
sorry for my impatience

whats roughly the status

- proof of concept

- buggy

- nearly ready

LS
Maurice

[2018-03-12 11:45] jesperstarkar commented on #872
PoC. @Julusian want to chime in?

[2018-03-12 11:59] 5opr4ni commented on #923
for example an `info 1` could return this:

[code]

http://casparcg.com/wiki/CasparCG_2.1_AMCP_Protocol#INFO

/o

[2018-03-12 12:01] premultiply commented on #923
In my opinion OSC is no replacement for any AMCP info request/response.

[2018-03-12 12:11] premultiply commented on #924
As INFO is basic functionality of any AMCP client-server connection I think it is not a good idea to deprecate it at all. Should be core functionality of AMCP communication as it is important for playout and automation. OSC is not a replacement for this as it uses a different communication channel and it requires other/additional parser etc. in client (if possible at all) and has other disadvanteg

[2018-03-12 12:15] premultiply commented on #918
Means you played an open and incomplete MXF file and ffmpeg reported length 0 by itself?
Which mxf writer was involved here?

[2018-03-12 12:53] ronag commented on #921
Seems to come from the osc `tick_` call

[2018-03-12 12:54] ronag commented on #921
We should probably make sure osc run asynchronously from the channel. Instead of sync like it is today.

[2018-03-12 14:53] TomKaltz commented on #918
I played back same file that was being recorded by ffmpeg consumer. Dnx Mxf.

[2018-03-12 15:01] Julusian commented on #872
I would class it as a proof of concept.
I have been busy on other things, so haven't much time to work on it since this discussion was started.

[2018-03-12 15:23] Jeff-Clark-MST commented on #916
I've had this in several CasparCG builds and other console based app's on Windows 10. This solved it for me:

1. Right Click the CasparCG Console window.
2. Untick 'Quick Edit Mode'
3. Untick 'Insert Mode'

Windows 10 behaviour for console windows is pretty poor, it also sometimes sleeps the window unless you do something to hit (like press enter on it)

[2018-03-12 15:28] ronag commented on #916
Would be nice if we could set these programmatically.

[2018-03-12 16:13] Jeff-Clark-MST commented on #916
C++ isn't my thing at all. But the below unticks them both for me:

In  ..\src\shell\main.cpp

Calling after print_info(); in run()

[code]

source: https://docs.microsoft.com/en-us/windows/console/setconsolemode

At present this does prevent you typing in the console window however. Which is strange since manually disabling QuickEdit mode still allows you to type.

[2018-03-12 18:34] dotarmin commented on #916
@Jeff-Clark-MST, thanks for helping out. @niklaspandersson will look at this issue this week and I'm sure this is helpful information!

[2018-03-12 18:57] dotarmin commented on #913
I know? :)

Keeping it simple is the key here. We have also to consider that users who's going to use the Linux build knows the OS it-self and can manage to run it self or by having clear instructions on how to do so.

I don't see a reason for going for a deb-package when we have Docker for building it on Linux and a way to extract the package from Docker. It's just matter of having it well docume

[2018-03-12 19:06] k0d commented on #913
I love packaging...apt repos are awesome...but also require more maintenance to support multiple OS versions. So I think that we should just use the archive file system that we do already. We statically link to FFMPEG and Boost to keep it as simple as we can...and it really doesn't matter as much about the media-scanner ffmpeg version as it does for the CCG server, so I think it's fine to not requ

[2018-03-12 19:13] dimitry-ishenko commented on #913
IMHO ppa + deb pkg(s) is the simplest option from users' perspective. All they would need to do is `add-apt-repository ...` and `apt install ...`. This way they will also be able to get updates and bugfixes with `apt update/upgrade`.
From developer's perspective, if you are planning to only target LTS, you only need to worry about single platform.
Just my 2 cents.

[2018-03-12 19:13] dotarmin commented on #924
What I think @ronag means here is that we could simply route incoming AMCP INFO calls to an http request that pipes back the response to the caller seamlessly, just as media-scanner proxy does for e.g. CLS, TLS etc. An advantage of this would the possibility to create multiple formats that are available and suits various needs of content and letting the proxy create the data for us.

@ronag Am I r

[2018-03-12 19:18] k0d commented on #913
@dimitry-ishenko I can agree that being able to apt update/upgrade is nice...but isn't a large part of the user-base of this project in a different situation? "If it works, don't fix it" applies very much to broadcasting and accidental upgrades might be too big of a risk. I probably can't describe this 100% as I don't have long time experience in it...

We have to consider maintenance of the repos

[2018-03-12 19:20] dotarmin commented on #913
Well said!

Well, it good two cents then for sure! :)
But who will maintain the repo? I love repos myself and would like that for the project but the issue with maintaining that is still a fact that could potentially get out of scope easily.

[2018-03-12 19:27] ronag commented on #924
No, I was thinking of just converting the OSC state to an http call.

[code]

[2018-03-12 19:30] TomKaltz commented on #924
Lets say you use a temporary layer with some random id.  You then clear that layer but the last known state of that layer is still in memory.  Doesn't this seems like a leak?  There should be a way to clear or expire layer state.

[2018-03-12 19:31] ronag commented on #924
@TomKaltz OSC always provides full state on e.g. channel basis.

[2018-03-12 19:32] TomKaltz commented on #924
Ah so it will omit empty layers with this HTTP call.  Got it.

[2018-03-12 19:37] ronag commented on #913
We've merged 18. I think this can be closed?

[2018-03-12 19:39] TomKaltz commented on #857
Also we absolutely need to see what's loaded in the background of a layer.  Currently there is no way to get that information since INFO is gone.

[2018-03-12 19:41] TomKaltz commented on #857
I was tinkering and it seems that OSC will not get updated with the info from the background since it's not currently receiving frames since it's in the background.  My work-around was to send the background producers print() information on every foreground frame receive but obviously this is a HUGE hack and delivers the background producer data in a weird string format.

[2018-03-12 19:41] dimitry-ishenko commented on #913
@kod @dotarmin you guys are funny. I feel like you are trying to put the onus of dealing with installation issues on the end-users. :stuck_out_tongue_closed_eyes:

As a 10+ year Gentoo Linux user and systems administrator (running over 400 Gentoo boxen at our various facilities) I had a fair share of manually installing and patching software. I love Gentoo and I loved doing that, but recently I've

[2018-03-12 19:43] dotarmin commented on #924
But that request could be Client -> Server -> HTTP Request just as with media-scanner and then pipe back the response same way? Or are you thinking of Client -> node?

[2018-03-12 19:44] dimitry-ishenko commented on #913
Honestly, I think you will end up spending less time maintaining the repo and making it "just work" for the users, than dealing with installation problems from a .tar.gz archive.

[2018-03-12 19:48] k0d commented on #913
@dimitry-ishenko
1. Feel free to contribute the scripts to build the debian package(s) and submit a PR
2. IMHO: Installation issues (for this type of project) are really the responsibility of the end-user....and if they want help...that's what the forum is for. We will provide installation instructions of course, and they will likely work if the end user follows the guidelines, which probably need

[2018-03-12 19:49] dotarmin commented on #913
I'm not saying anything haha!

I can understand that but what's the purpose of using Linux if not using the terminal? 😃

[2018-03-12 19:55] dotarmin commented on #913
This issue is fixed  We will support 18.04 and a PR has been merged just as @ronag says. We should go for the archive files for now, this could on the other hand change in the future.

[2018-03-12 19:55] #913 closed

[2018-03-12 20:36] premultiply commented on #924
AMCP, OSC, HTTP, ... what's next? CIFS, SOAP, MQTT?
I do not like it. Would be the 3rd protocol to get only part of the required information and functionality on client side.

[2018-03-12 20:45] premultiply commented on #918
Huh, I did not know that ffmpeg handles MXF containers correctly in this way ^^
Then you should be able to do timeshift, instant replay and slowmotion with ffmpeg without additional stuff.
I think just the framerate producer has to re-added. But its `framerate` filter may be swapped by `minterpolate` filter which should have better quality. ;-)

[2018-03-12 23:18] ronag commented on #924
Well, yea... you can already get all the information through AMCP & OSC... so you don't need anything like this per se...

[2018-03-12 23:21] Julusian commented on #920
I've had more of a look into this and have found the same cpu impact playing 1080i50 video files too.
It turns out my assumption about av_buffersink_get_frame_flags was wrong and it is what is running the graph and so does block. That cpu time is essentially being spent deinterlacing the input video so I guess is expected performance loss, but it affecting video playback makes it much more likely

[2018-03-12 23:21] ronag commented on #924
We use a client <- websocket -> node <- AMCP/OSC -> caspar proxy ourselves. So we can get and do everything over a simple websocket API.

[2018-03-12 23:22] ronag commented on #921
yea, I'm pretty convinced this is related to OSC...

[2018-03-12 23:30] ronag commented on #920
I guess the best fix would be to port bwdif to opengl or alternatively somehow allow interlaced frames through the progressive pipeline. The second options would need a some kind of `frame_index` passed to `frame_producer::receive` so that the producer can sync in the interlaced from on even indices so they come out properly from the mixer.

[2018-03-12 23:32] premultiply commented on #924
We use no proxy etc. and can do [client <- AMCP -> caspar] up to server 2.1. So we can get and do „everything“ over a simple TCP or serial line connection. Very easy to handle and configure for users. Only start the server and connect on port 5250. ;-)

[2018-03-12 23:33] ronag commented on #920
You could also try and run bwdif in non temporal mode which should make it a bit faster.

[2018-03-13 01:20] TomKaltz commented on #823
+10000

[2018-03-13 06:19] jamesdwise commented on #716
What does the <buffer-depth> property of the decklink consumer do?
Is it just to set the buffer depth, or should it also effect the latency between the computer display and the SDI output?

I'm hoping to make the bluefish consumer as similar as possible.

[2018-03-13 07:28] PeterAkakpo opened #925 "LAST FRAMES NOT PLAYED (ver 2.1 beta 2)"
### Expected Behaviour
Video should play to the end of file

### Current Behaviour
Video plays, but does not play the last frames. VLc player and windows media player are able to play the files right to the end with no problem.

### Steps to Reproduce
play any video file and run then DIAG. You will observe that when the file ends , the frames played is always less then the total frames and you don

[2018-03-13 08:11] ronag commented on #925
Please provide sample file

[2018-03-13 08:11] ronag commented on #716
Which property?

[2018-03-13 08:42] PeterAkakpo commented on #925
Is there a way to send a file that is more than 10MB. My sample file is about 60MB.

[2018-03-13 08:52] ronag commented on #925
Ah sorry, I didn't see this is for 2.1. We are not doing any more work on that. PS. Use dropbox, gdrive or some other cloud storage service for providing files.

[2018-03-13 08:52] #925 closed

[2018-03-13 09:15] dotarmin opened #926 "Requires VC Redistributable 2013 package from specific commit"
### Expected Behaviour
Able to run CasparCG Server 2.2.0 after having downloaded a build [casparcg.builds.com][1] with only requirement of having `VC Redistributable 2015` package installed.

### Current Behaviour
It requires `VC Redistributable 2013` to be able to run builds from commit 3024a11 and onwards.

### Steps to Reproduce
1. Download a build from commit 3024a11 and onwards available at [

[2018-03-13 10:33] Punkley commented on #924
That is similar to what I do, as does Justmacros

My C skills are pretty lacking (php and perl is my language)

[2018-03-13 13:35] ronag commented on #921
master should be a bit better now, the actual error isn't fixed but osc runs in a seperate thread so the impact should be lower. We still need help with reproducing & testing.

[2018-03-13 19:07] waitforit opened #927 "newtek-ivga consumer is always interlaced?"
It appears that no matter which video-mode is set for a channel, the ndi output is always being sent as interlaced.  Is there a configuration option to override this?

[2018-03-13 19:13] Julusian commented on #927
It appears to be hardcoded to always interlaced, no matter the channel format.
Simply requires changing this line to check if format_desc is progressive:

https://github.com/CasparCG/server/blob/97cbe67806b867cef564c625a55be983b7f813e0/src/modules/newtek/consumer/newtek_ivga_consumer.cpp#L82

[2018-03-13 19:24] ronag commented on #927
It should be always progressive. Fixed in master.

[2018-03-13 19:24] #927 closed

[2018-03-13 19:25] ronag commented on #882
Fixed

[2018-03-13 19:25] #882 closed

[2018-03-13 19:26] #885 closed

[2018-03-13 22:20] jamesdwise commented on #716
Oh dear, what an idiot.  the <buffer-depth> property. sorry :(

[2018-03-14 03:11] TomKaltz commented on #927
shouldn't we be able to choose the format of this output?  I think some switchers can take interlaced over NDI.

[2018-03-14 04:15] TomKaltz commented on #901
Ok with commit https://github.com/CasparCG/server/commit/41cf1abd2849e4d0031ab02d45620652f28efdbc and the commands in the previous comment it seems that swscale is very slightly more performant but I cannot get these commands to run in realtime for very long.  Robert's parallel transform makes it realtime but then the colors are still slightly off.  Any ideas?

[2018-03-14 06:01] ronag commented on #927
Make a new issue

[2018-03-14 06:02] #926 closed

[2018-03-14 06:05] ronag commented on #716
It’s just pre-roll. Decklink is very sensitive to that depending on what settings and drivers you use.

I don’t think you need that option for bluefish.

[2018-03-14 06:09] jamesdwise commented on #716
OK thanks, i will not add it to our consumer options.

Another thing I have noticed is that the key channel appears to always be a full white on output.
Eg. when i configure a 4224, fill and Key output, the Key channel is always all white?
Since i am getting a full RGBA buffer from caspar i'm pretty sure that it is actually not giving me the correct data for the key (ie. A part of the RGBA) can an

[2018-03-14 07:00] ronag commented on #716
Works for us. What card and config are you using?

[2018-03-14 15:01] Phil403 opened #930 "Ember+ Integration"
Hi all,

I just wanted to bring up a discussion about an integration of Ember+ Protocol from Lawo.
It could be a good addition to the existing OSC Protocol, especially for Broadcast use.
https://github.com/Lawo/ember-plus

Let me know what you think about this.

Regards
Phil

[2018-03-14 15:12] jesperstarkar commented on #930
Hi Phil.

Sure, it would be awesome. We have discussed this already with several broadcasters. One approach is to have CasparCG Clients which talk AMCP and still maintain control over CasparCG. However, some features of CasparCG could perhaps be directly controlled by Ember+? Is this what you are thinking? Du you have any idea on which features you would like to control over Ember+, directly or vi

[2018-03-14 16:57] TomKaltz commented on #838
So it looks like support for NTSC framerates will not be included in 2.2 unless someone in the community can help implement audio sample handling in the ffmpeg and decklink producers.  Is there someone that might be able to tackle this issue?  @ronag any guidance on to what were looking for here?

[2018-03-14 18:45] Phil403 commented on #930
Hi Jesper
I think AMCP is a good way of controlling Caspar, so my thought was to either use Ember+ as an additioal protocol or as a substituion for OSC. In this case I would suggest that it should be implemented directly in the server instead of a middleware. I was thinking about translating OSC to Ember+ in a middleware but if there is an option to support it natively it would be better.
Regardin

[2018-03-14 22:23] jamesdwise commented on #716
I've tried a number of different bluefish cards, but inspecting the memory indicates that the alpha channel is all FF.  I am using the CG1080i50.mp4 clip - which i'm pretty sure works with the key data correctly in 2.0.7 and 2.1.0.

Could you expand on what is required to make ffmeg filter graph maintain the alpha?

[2018-03-15 02:05] jamesdwise commented on #716
just to be clear i am doing
load 1-1 cg1080i50 loop
play 1-1

On the Fill output i see the clip playing, but just white on the Key Channel.
The Key output is black prior to loading the clip

[2018-03-15 07:26] dotarmin commented on #716
Hey @jamesdwise
I have just tried this with same file, CG1080i50 and can confirm it works. I have correct alpha shown. But if you don't have the CG1080i50_A file, then you will see solid white alpha channel.

/Armin

[2018-03-15 10:19] dotarmin commented on #916
Does this issue apply only on Windows 10 or Windows 7 as well?

[2018-03-15 10:43] MauriceVeraart opened #931 "How to look at producetime in graph"
hi all

I am benchmarking a custom build off 2.2.0
to see how it performs on the moment for my application

please have a look at the picture

I was wondering are the route producers now working on the edge
as the producetime is ticking the ceiling or is this spikey behavior normal ??

### Attachments
[img]https://preview.ibb.co/koV0ec/Untitled.png[/img][/url]

[2018-03-15 11:02] Jeff-Clark-MST commented on #916
I personally have only had the issue on windows 10.

I've had a number of console based apps (CasparCG server included) that have been used on both Windows 10 and Windows 7 machines and the console hanging until you give it focus or press a button on it has only occurred on Windows 10.

[2018-03-15 11:19] walterav1984 commented on #773
Linux Mesa driver bug with Intel HD4400 graphics or CasparCG Server 2.2.0.3345 90aebfd8f Beta 1 on i3-4170 on ubuntu 18.04?

Sorry for not using a current build but as I understand there are not any OpenGL version related fixes in the mean time.

[code]
Under Windows this hardware only supports OpenGL 4.3 according to this wiki but under linux it shows 4.5 compatibility. https://en.wikipedia.org/w

[2018-03-15 12:14] dotarmin commented on #916
Thanks @Jeff-Clark-MST

[2018-03-15 12:16] Julusian commented on #773
This looks like the errors I was getting when trying to run it on hardware that doesnt support 4.5, so I guess its not currently possible to run on your machine without some work to make the opengl code compatible with more devices

[2018-03-15 13:42] grahamspr86 opened #932 "Screen Consumer Uninitializing Hanging"
CasparCG Server 2.2.0 seems to hang when Uninitializing the Screen Consumer on QUIT after the build on the 12th March at 12:08, previous builds do not seem to be affected.

The last build to work is casparcg-server-87f7f19518a4ff5abf8d912ad60b49763f06f459-windows.zip

The Screen Consumer window does not close, it sits saying  video_channel[1|720p5000] Uninitializing.

[code]

[2018-03-15 17:48] TKooijmans opened #933 "Playback of m3u8 streamlinks"
With latest 2.1 beta we could play live streams with a command like this
PLAY 1-1 "http://rrr.sz.xlcdn.com/?account=omroepgelderland&file=ooievaar&type=live&service=wowza&output=playlist.m3u8"

### Expected Behaviour
This worked fine in Beta 2.1.

### Current Behaviour
server report play ok, but no output.
If we try with a rtsp stream it works fine

### Steps to Reproduce

### Environment
* Caspar

[2018-03-15 21:06] TomKaltz commented on #932
I have seen this but couldn't reproduce again.

[2018-03-15 21:58] jamesdwise commented on #932
I too have seen this, it is not 100% of the time but pretty often.
sadly can't help with specific condition to reproduce it.....yet

[2018-03-15 22:07] grahamspr86 commented on #932
I appear to have it on two systems, Windows 7 and 10, happens every time.

[2018-03-15 22:21] Julusian opened #934 "Move CII and CLK protocols to external services"
These both look like things that could easily be implemented as standalone services that convert to AMCP

[2018-03-16 08:42] ronag commented on #934
They will be moved. We're looking into moving SVT stuff into their own fork. However, until that is ready they will unfortunately stay.

[2018-03-16 08:43] ronag commented on #932
This was fixed in the build after this one f2afe4dbabc99a03a23d89027d7e6d33da905d46

[2018-03-16 08:55] ronag commented on #933
Fixed in master. Thanks for the report!

[2018-03-16 08:55] #933 closed

[2018-03-16 08:57] ronag commented on #931
That doesn't look too good. Basically the produce time is how quick the route is getting frames from the source channel and the consume time is how faster the destination channel is consuming the frames.

However, as long as you don't get any vertical lines (dropped or late frame) you should be fine.

[2018-03-16 08:57] #931 closed

[2018-03-16 08:58] ronag commented on #921
I think this doesn't happen in master anymore. We still need https://github.com/CasparCG/server/pull/928

[2018-03-16 08:58] #921 closed

[2018-03-16 09:00] #900 closed

[2018-03-16 09:10] grahamspr86 commented on #932
I'll have to disagree it's still not working in the latest one today bb01003

![casparcgbb010037](https://user-images.githubusercontent.com/37407811/37512350-d248135c-28f9-11e8-9e7a-b6f6d36036af.png)

[2018-03-16 09:14] ronag opened #936 "Correct gamma and colormatrix handling"
- GPU mixer should work in linear space.
- GPU mixer should either handle non default color matrices or ffmpeg producer should guarantee correct color matrices.

[2018-03-16 09:20] ronag commented on #932
Ok. Now it is fixed in master. :)

[2018-03-16 09:20] #932 closed

[2018-03-16 10:59] walterav1984 commented on #773
@Julusian
Was it also Intel graphics ons Linux if so which family HD4xxx or HD5xxx HD6XX?

[2018-03-16 12:23] Julusian commented on #773
It was not intel graphics.
I attempted to try it on my laptop (HD5500) but was having issues compiling it on debian and had other things I needed to do. I shall try and give it a try today to see if I can get some more info on what the opengl error is. Being able to run caspar on my laptop again would be very useful...

[2018-03-16 14:05] jesperstarkar commented on #773
I have an HD630 you can play with if you want @Julusian

[2018-03-16 14:29] Julusian commented on #773
@jesperstarkar Great, Ill let you know if I want to play.
I've just remembered that I have a HD4000, but that claims to support up to 4.0, and is definitely missing some features caspar relies on.

[2018-03-16 17:11] Julusian commented on #921
I suppose this issue has 2 parts.
The first which should be resolved is the frequency of appearance in the logs.
The second part is the very vague stacktrace and error. The stack trace looks to be to where the catch is located, rather than the throw.

This is another exception I am getting while looking at #773
[code]

[2018-03-16 17:29] ronag commented on #921
@Julusian that exception is unrelated here?

[2018-03-16 17:30] ronag commented on #921
Yes, only exceptions thrown by caspar will contain a stack trace.

[2018-03-16 20:46] Julusian commented on #921
My original intention with this issue was to do with the lack of useful stack trace, but that may not have been clear.

I think that exception is thrown by us on this line, so it should have a stacktrace surely? It appears that the first exception thrown here does, but after that they do not. https://github.com/CasparCG/server/blob/b047f47ff16ab2df32d34946e907c2804471a3e9/src/common/gl/gl_check.cp

[2018-03-16 22:38] Julusian opened #937 "Target OpenGL Core profile"
Depends on: #899

Some code is using features only available on the compatibility profile, but Intel chips on Linux (not sure about windows) only support some of the required new feature extensions in the core profile.

From what I can tell, the following blocks of code all need rewriting. I checked all the opengl code I could find, so hopefully this is all of it.

https://github.com/CasparCG/serv

[2018-03-16 22:40] Julusian commented on #773
My conclusions on this confirm what has already been stated.

Caspar is using some OpenGL 1.3 functions which are now depracated (eg glClientActiveTexture) and so they are not in the core profile.

The Intel/Mesa driver does not implement some extensions (eg GL_ARB_direct_state_access) in the compatibility profile which is why it is 3.0, but they are defined in the 4.5 core profile.

So we need a

[2018-03-16 22:44] Julusian commented on #782
If this isn't resolved by #937, we could check for the required extensions to be available instead of relying on glew's gl4.5 check.
Something like the following, but the list of required extensions filled out fully
[code]

[2018-03-16 23:13] ronag commented on #921
The exception type is future_error. We don’t throw that.

[2018-03-17 18:07] TomKaltz commented on #901
@premultiply do you have any idea why the hard-coded color transform is still wrong?

[2018-03-17 18:43] premultiply commented on #901
Yes, because the filter does not care about the full range property of the input BGRA frames.

[2018-03-17 19:29] TomKaltz commented on #901
Is this an swscale bug or is there anything else we can do to twist the filter into doing what we want?

[2018-03-19 05:48] premultiply commented on #901
I don‘t know. I can only hint what seems to be the problem here.

https://trac.ffmpeg.org/wiki/colorspace

[2018-03-19 10:17] saltomodules commented on #878
Perhaps of use is that this looks to be related to an earlier issue which was closed by @ronag with the request for further testing on 2.2: https://github.com/CasparCG/server/issues/632

We've run the same tests (see for details the issue mentioned above) on `2.2.0.4 529f94a7 Beta 1 ` and it looks like casparcg still fails to play files that do no have a width that is a multiple of 8
(for heights

[2018-03-19 15:35] Julusian commented on #872
Over the weekend I have implemented some more of the schedule commands. Here is my revised proposed list of commands. Any feedback is welcome.

The key differences:
* Commands are now `SCHEDULE [cmd]` to make the names more clear and consistent
* `SET` command has token as first parameter
* Many of the response codes have been filled in more accurately

[code]

[code]

[code]

[code]

[code]

[cod

[2018-03-19 17:09] Julusian commented on #822
https://blogs.msdn.microsoft.com/vcblog/2018/03/13/clangformat-support-in-visual-studio-2017-15-7-preview-1/

Needs verifying that the format file is in the correct location, but it might work with the next VS release

[2018-03-19 19:20] MauriceVeraart commented on #872
This looks really good to me !
maybe SCHEDULE LIST [token] would be a nice addition to search on which timecode you scheduled a token a bit off the inverse off SCHEDULE LIST [timecode]

[2018-03-20 06:27] #822 closed

[2018-03-20 10:30] TondaKrist commented on #924
I think that AMCP INFO is a must for simple playout automation and control. We really miss it... If it is possible, please, put it back to next builds...

[2018-03-20 10:35] TondaKrist opened #941 "UNABLE to get BACKGROUND media via OSC or AMCP INFO"
Expected Behaviour
Return snapshot state of specified layer, either via AMCP INFO or OSC

Current Behaviour
Unable to get info about background media in specified layer
and other details which were able to get via AMCP in <= 2.1

[2018-03-20 11:15] MauriceVeraart opened #942 "change DATA LIST to DLS or add DLS"
not really needed but since the software is in a mayor cleanup the following

### Current Behaviour

almost all "LIST" AMCP commands are like TLS,CLS,FLS except de DATA LIST shouldn't DATA LIST be DLS
to be more consistent ?? and also be handled by SCANNER.EXE

### Steps to Reproduce

### Environment
* CasparCG Server version:
* Operating system:

### Attachments

[2018-03-20 11:57] Punkley commented on #924
I second that.

[2018-03-20 13:03] Julusian commented on #941
Related #923 #924

[2018-03-21 06:40] vimlesh1975 opened #943 "osc info "/channel/1/stage/layer/1/file/frame" not comming"
Many osc  information which were coming in servrer 2.1 are missing in server 2.2.
Most important is /channel/1/stage/layer/1/file/frame

![osc](https://user-images.githubusercontent.com/4338487/37697020-6df70f9c-2d00-11e8-91e1-a7ef790e7ee1.png)

[2018-03-21 08:00] ronag commented on #943
You can calculate /frame from /time.

[2018-03-21 08:12] vimlesh1975 commented on #943
That will ok.
But what about dBFS vaules for audio?

[2018-03-21 08:16] vimlesh1975 opened #944 "unsused options in ffmpeg consumer"
I am getting so many Unused options in ffmpeg consumer.

`[2018-03-21 12:21:28.061] [info]    Received message from 127.0.0.1: add 1 file ccc2.mxf -c:a pcm_s24le -ar 48000 -map 0:0 -map 0:1 -map 0:2 -map 0:3 -map 0:4 -vf copy,il=l=d:c=d,colorspace=fast=1:all=bt709:format=yuv422p:ispace=bt709:itrc=bt709:iprimaries=bt709,il=l=i:c=i,fps=25,setfield=tff,setdar=dar=16/9,setsar=sar=1 -top 1  -alternate_

[2018-03-21 08:28] ronag commented on #944
yes, those options are deprecated. Use filters to set colorspace params.

[2018-03-21 08:28] #944 closed

[2018-03-21 08:29] ronag commented on #943
Those can also be calculated from the values you get.

[2018-03-21 08:30] dotarmin commented on #943
@vimlesh1975 This will be done in the CasparCG Client.

[2018-03-21 08:30] #943 closed

[2018-03-21 09:29] vimlesh1975 commented on #943
Total time is wrong in pause mode.

[2018-03-21 09:30] ronag commented on #943
@vimlesh1975 can you raise that as a separate issue?

[2018-03-21 09:32] vimlesh1975 opened #945 "osc "/channel/1/stage/layer/1/file/time" wrong in pause mode"
Total time is wrong in pause mode.
For example it is 356160 second for c:/casparcg/_media/go1080p25.mp4
In playing mode it is 17.8 second.

[2018-03-21 11:33] Julusian commented on #872
That would be easy to add.
I think that `SCHEDULE INFO [token]` would be a better name, as you are asking about a certain entry, not multiple. Or perhaps `SCHEDULE INSPECT [token]`? I'm also thinking that more info can be added to this response in future if there is some data worth returning, but not to `SCHEDULE LIST`.

[2018-03-21 15:21] Julusian commented on #942
The name makes sense to me, as there is a set of DATA commands:
https://github.com/CasparCG/server/blob/88171e16d862033592c49c846d32c063e8a8cd32/src/protocol/amcp/AMCPCommandsImpl.cpp#L1389-L1392

It is also worth noting that `THUMBNAIL LIST` exists and is in a similar fashion.

I don't think its worth moving the list command to an external service without moving the other data commands too.

Also

[2018-03-21 16:35] saltomodules opened #946 "Memory leak on win 7 x64 with default config"
### Expected Behaviour

Memory usage remains more or less stable all other factors staying the same.

### Current Behaviour

Memory usage keeps going up with about 100 - 300 kb per second even when casparcg isn't really doing anything.

This begins immediately after starting casparcg with the default configuration.

Behavior is present in latest build 88171e16  but is als observable in earlier bui

[2018-03-21 17:12] baltedewit commented on #946
Judging from the task menu I can reproduce this on Windows 10.

This appears to be coming from the system-audio consumer, removing it stopped the excessive growth of memory. Although it appears there is still some minor growth with just the screen consumer. I don't notice any growth without consumers.

[2018-03-21 21:10] Punkley commented on #941
Background media information is a must to be able to get.

[2018-03-22 09:05] dotarmin commented on #946
I can confirm this.

[2018-03-22 10:00] ronag commented on #946
I can only reproduce it with system audio.

[2018-03-22 14:39] Jeff-Clark-MST commented on #946
Can confirm reproducing this on Window 10.

Removing `<system-audio />` from my config for each channel solves.

E.g.
Causes Mem Leak:
[code]

No Mem Leak:

[code]

[2018-03-22 19:02] #945 closed

[2018-03-22 19:55] MauriceVeraart commented on #872
happy to hear it is easy to implement

i take the syntax off the command the way it comes ;)
but you have good points there.
i like short so my 2cents to `SCHEDULE INFO [token]`

keep up the good work

ls
Maurice

[2018-03-24 09:17] bastolino opened #948 "correct build-instructions"
### Expected Behaviour
On a complete vanilla system one would expect the build-instructions to simply work. All dependencies should be installed.

### Current Behaviour
- dependencies missing: git, docker.io (just add these packages to ./BUILDING.md, section Development, point 1)
- typo in section Development, point 6 "`" missing at the end of the line

[2018-03-24 15:16] Julusian commented on #872
I have `SCHEDULE INFO` defined as the following:
[code]

Some notes about how the scheduler is currently implemented:
When a scheduled command gets executed, it will send a response back to the initiating client for confirmation of execution. It sends the same response as it would have if executed normally (eg 202 PLAY OK), using the RES syntax with the schedule token used as the id:
[code]

The t

[2018-03-25 17:18] TomKaltz commented on #941
Regarding my previous comment https://github.com/CasparCG/server/issues/857#issuecomment-372438022

@ronag do you think there is an easy solution to this problem or is my hack something that can be released as stop-gap measure until a proper fix is implemented?

[2018-03-25 17:44] ronag commented on #941
It's easy to just add another osc path.

[2018-03-25 19:19] MauriceVeraart commented on #942
understood it makes sense that there are more data commands and these should indeed not be done by scanner.

ehmm will the data commands be completely removed ??  or will it be exchanged by something similar.
if so I have to change my strategy on my recent project ;(

[2018-03-25 19:38] Julusian commented on #942
Removing the CG commands is part of ronag's wishlist, but that doesn't mean it will happen, and doesn't give any timescale either.
But the datastore looks to only be used by the DATA AMCP commands and by CG ADD and CG UPDATE, so doesn't make a lot of sense without CG.

[2018-03-25 19:50] MauriceVeraart commented on #942
Ok thanks for your response
well I use or should I say abuse these commands to store data not correlated to the CG commands.
but for the mixer fill commands.
I find it very nice to let one client store data on the server (fixed place) and the other client finding it on the again fixed place. without building a extra service. again maybe I am abusing these commands

[2018-03-25 19:52] jesperstarkar commented on #942
That's not abuse at all! DATA is the only way to store consistent state between the client. We are doing a similar cookie-style storage in multi client environments ourselves.

[2018-03-27 07:47] dotarmin commented on #948
Git will be added.
Docker should be installed by following the instructions from Docker manual it-self, @k0d, please correct me if I'm wrong.

Fixed already!

[2018-03-27 08:19] Julusian commented on #948
Yes, I had to install from the docker instructions rather than ubuntu repos in order to build successfully.

[2018-03-27 08:50] bastolino commented on #948
Thanks for that info - then it would be worth mentioning the Docker manual as dependency also, right?

[2018-03-27 09:58] dotarmin commented on #948
Thanks for confirming! :)

Yes, I will add it as step 2.

Thanks!

/Armin

[2018-03-27 11:26] dotarmin commented on #948
Fixed!

[2018-03-27 11:26] #948 closed

[2018-03-27 13:18] TomKaltz commented on #872
Looking forward to your branch being made public so we can test this new cool feature!

[2018-03-27 20:11] crazyscot commented on #782
The build of 27 Mar 11:43 doesn't open for me, claiming that my graphics card doesn't support OpenGL 4.5.
This machine has an Intel HD 530 chipset. The Intel graphics control panel reports OpenGL 4.5.
Presumably this is another instance of the same issue?

[2018-03-28 10:01] TKooijmans opened #952 "Open GL error with server 2.1 and higher"
I have a Open GL problem on 2 different laptops with the following specs
Intel i7 CPU with Nvidia GTX 860M with Windows 7-64 with latest updates
intel i5 CPU with Nvidia GTX 860M with Windows 10

Both laptops report Open GL errors with CasperCG 2.1 and the latest CasperCG 2.2
CasperCG 2.1 can be used after reporting this error, but CasperCG 2.2 can not be used.
Performance seems bad however, cross

[2018-03-28 12:42] dotarmin commented on #952
OpenGL 4.5 is required for running CasparCG Server v2.2. If you update your graphics drivers it should work.

Same here, try to update your graphic drivers, what's good to know here is that v2.1 does not require OpenGL 4.5 as far as I know. Also, v2.1 is not actively developed anymore, just so you know.

[2018-03-28 23:03] grahamspr86 opened #953 "Video stops playing 2.2.0.4 42ee4c20 Beta 1"
I've seen a few times a video just stops playing on a channel other layers on that channel continue.

It had been playing on loop for 5 hours in the case of  1080I5000_TEST and  3 hours for AMB

[code]
The log shows the following.

[code]

[code]

[2018-03-28 23:08] drakmor commented on #952
May be it's "nVidia Optimus" problem. Try disable Intel video card in bios.

[2018-03-29 06:54] dotarmin commented on #952
Didn't even think of that, thanks! 👍

[2018-03-29 16:08] elanvrt commented on #782
The latest march 28 build also shows me the openGL error. My GPU is nVidia K2200, which should support openGL 4.5

[2018-03-29 21:59] TKooijmans commented on #952
I tried Nvidia updates, but that didn't solve the problem.
I tried Cinebench to test open GL rendering and that worked fine and it used open GL 4.6.
On a laptop with only Intel HD 3000 graphics I don't get errors and it switches to Open GL 3.1

[2018-03-29 22:14] drakmor commented on #952
Try it's manual - https://support.serato.com/hc/en-us/articles/202305784

[2018-03-30 13:51] TKooijmans commented on #952
I tried tips from the manual too, but this does not solve the open GL errors.
I tried to disable the Intel graphics, but then you don't see your desktop anymore.
So with laptops, the Intel driver should always be running.
With Cinebench I get a desent score with open GL 4.4

[2018-03-31 07:00] baltedewit commented on #872
[code]
It might be a good idea to broadcast this to all connected clients. e.g. we might leave commands in memory to wait for them to be executed, however, if they get cancelled by another client without our knowledge they will end up in staying memory indefinitely.

[2018-03-31 11:00] matiaspl commented on #731
For the sake of the discussion
https://github.com/CasparCG/server/issues/891 - current real-world end to end latency is currently said to be 8 or 9 frames regarding if low-latency is enabled or not.

[2018-03-31 11:27] Punkley opened #955 "CasperCG wont play WebM embeded HTML pages"
Bit of a strage one, if you have a html page with a embeded webM video CasperCG errors with

PLAY 1-1 [HTML] https://webmail.tbdproductions.com.au/disp/test.html
[2018-03-31 21:49:46.928] [info]    Received message from Console: PLAY 1-1 [HTML] https://webmail.tbdproductions.com.au/disp/test.html\r\n
#202 PLAY OK
[0331/214949.917:ERROR:gpu_main.cc(164)] Exiting GPU process due to errors during ini

[2018-03-31 11:46] grahamspr86 commented on #953
Seen this twice again today, is there anyway to understand what the cause of these errors are?

[2018-04-01 16:25] Znarkus opened #956 ""No connection could be made" with Client"
### Current Behaviour
When I start latest next Client (`CasparCG Client 3dad82ffaf7b097b40d91095c87ca0f4e7c367ee.zip`) with latest server (`casparcg-server-62ceef88a362be179c3576bba9621868ee8ba56e-windows.zip`) it fails with these errors in the server log output (see attached log).

Is there anything more than the server, that  I need to start?

Please let me know if there's anything more I can pr

[2018-04-03 06:43] dotarmin commented on #956
I have tried this and I can reproduce the error when `scanner.exe` is not started. But server **does not fail** or anything, it still works. This is more a client related bug because the client tries to fetch thumbnails even if `scanner.exe` is not running.

If you use the `casparcg_auto_restart.bat` script it should start what you need or you could simply start `scanner.exe` first (bundled) and t

[2018-04-03 06:43] #956 closed

[2018-04-03 07:47] Znarkus commented on #956
Okay thanks! Submitted a PR to update the readme to reflect this :)

[2018-04-03 10:06] didikunz commented on #924
I also second bringing back the INFO commands, as they are much easier to use. And removing it breaks a lot of existing stuff. So please bring it back.

[2018-04-03 10:53] dotarmin commented on #956
Thanks! I think it has been merged already! 👍

[2018-04-03 23:17] PeterAkakpo commented on #953
I have also experienced it multiple times. its not like its frozen or hanged but something like its paused. i had to run "CALL SEEK frame " for it to continue playing. i am also sure RESUME might also get it playing again.

[2018-04-04 06:47] dotarmin commented on #953
I can start a test as well and let you know if or when it stops.

@PeterAkakpo Do you use same media file as @grahamspr86 ?

[2018-04-04 06:57] toontoet commented on #953
We're currently running into the same issue running CasparCG 2.2 24/7 tests. Will try to reproduce.

[2018-04-04 08:13] PeterAkakpo commented on #953
@dotarmin no, my files are totally different from his

[2018-04-04 09:09] grahamspr86 commented on #953
I'm playing three videos on loop, have been using it to test the decklink cards and generate some heat from the Quadro

<a href="https://ibb.co/kJLsPx"><img src="https://preview.ibb.co/iOaRjx/Screen_Shot_2018_04_04_at_10_06_25.png" alt="Screen_Shot_2018_04_04_at_10_06_25" border="0"></a>

[2018-04-04 12:26] dotarmin commented on #953
Perfect, I have done some tests from 09:00 today without any issues. I restarted the test about 12.05 and will let it loop until tomorrow or until it stops.

[2018-04-04 12:55] elanvrt commented on #924
I concur with everyone who wants the INFO command back. OSC is great for frame-accurate timecode and audio levels, but it does not offer all the data that INFO has. And breaking backward compatibility with older clients is always a showstopper.

[2018-04-04 12:58] jesperstarkar commented on #871
@maceyldn ![img_0312](https://user-images.githubusercontent.com/6236874/38308828-8e41b6ee-3818-11e8-982c-ca0230b0d122.JPG)

Output only for now, free running and pr. channel. @Julusian will be focusing on slaving to an input soon.

[2018-04-04 13:16] Punkley commented on #924
We have a pretty high want for INFO to return, is there any chance it can happen?

So many tools that would need to be re-written

Kingsley

[2018-04-04 16:11] TKooijmans commented on #952
Just tested the latest 2.2 beta build but the Open GL error remains on a laptop with combined graphics
from Intel and Nvidia.
Please see attachment, it also shows errors when I disable Nvidia to force Intel only.
It should switch back to Open GL 3.3 or something?

[caspar_2018-04-04.log](https://github.com/CasparCG/server/files/1876609/caspar_2018-04-04.log)

[2018-04-04 16:16] dotarmin commented on #952
I can test this tomorrow on my laptop, it's an Dell XPS 15" 9550. I'll update you.

[2018-04-04 16:42] TKooijmans opened #958 "How to do playback of youtube clips?"
When I test this command
https://www.youtube.com/embed/OUH3fio-fwE?autoplay=true&showinfo=0&autohide=1

A youtube clip should play

### Expected Behaviour
should play a youtube clip

### Current Behaviour
shows title but doesnot play.

### Steps to Reproduce

### Environment
latest Casper 2.2 beta

### Attachments

[2018-04-04 17:54] ronag commented on #958
If it doesn't work in ffplay it won't work in caspar, i.e. this doens't work either:

[code]

[2018-04-04 17:54] #958 closed

[2018-04-04 18:53] pkeuter commented on #958
You can try using youtube-dl (https://github.com/rg3/youtube-dl) with the -g flag to extract the video URL of the link. This video will be playable by ffplay (and thus CasparCG)

[2018-04-05 06:32] dotarmin commented on #953
**Update:**
When I came back to work today clips were still playing. I even played clips simoatainisly on two channels using 1080i50.

[2018-04-05 08:16] grahamspr86 commented on #953
I've been running it simultaneously on two channels also could happen on either.

What OS are you using @dotarmin I'm on Windows 10 Pro?

[2018-04-05 08:32] dotarmin commented on #953
Interesting, I'm running new tests from this morning and we'll se what the result will be. So far it works really well.

Windows 7 Pro x64. I'm not sure if it could be Windows related. I have to little experience with CasparCG Server and Windows 10 unfortunately.

[2018-04-05 09:07] grahamspr86 commented on #953
Sorry I lie using Windows 7 Pro x64, was thinking of a different machine.

I'm running the tests again now.

My config, ignore the unused channel two I use that for project to route from Channel two to Channel one, not being used in my tests at present.

[code]

[2018-04-05 09:38] dotarmin commented on #953
@grahamspr86 I can try with your config.

[2018-04-05 09:45] grahamspr86 commented on #953
Interesting just crashed on me, not sure if it's related or different issue.

[code]

<a href="https://ibb.co/k62Zpx"><img src="https://preview.ibb.co/ddWihH/Screen_Shot_2018_04_05_at_10_40_59.png" alt="Screen_Shot_2018_04_05_at_10_40_59" border="0"></a>

<a href="https://ibb.co/gKathH"><img src="https://preview.ibb.co/buVR2H/fullsizeoutput_63f.jpg" alt="fullsizeoutput_63f" border="0"></a>

[2018-04-05 14:06] gizahNL commented on #917
gijs@testlab-707:~/casparcg_server$ ./run.sh
Type "q" to close application.

CasparCG will automatically shutdown. See the log file located at the configured log-file folder for more information.

/any/ error output would be helpful. Caspar is also refusing to log anything to files, perhaps also the possibility to start with debug (i.e.: extra verbose messages) would be nice.

[2018-04-05 16:14] grahamspr86 commented on #953
Had been running for a few minutes under six hours before one of the videos failed again, on channel one this time. Memory, CPU and temps all seemed fine before it failed. Nothing else is in the windows event log that would indicate an issue.

Is there no way of getting some more detailed info as to why it's failing?

[code]

[2018-04-06 08:30] MauriceVeraart commented on #878
seeing this behavior too
with some tests I found out this error happens when the horizontal resolution
is not dividable by 16 maybe this can be used as a filter to not try to play the file.

[2018-04-06 08:35] ronag commented on #878
It might go as far as not dividable by 32 with AVX512

[2018-04-07 06:25] PeterAkakpo opened #959 "FFMPEG Consumer - Unused Options"
### Expected Behaviour

All options accepted by ffmpeg should also work
### Current Behaviour

running this in casparcg
**add 1-89 file test.mp4 -c:a copy -c:v libx265 -vf scale=720:576** does not use
the **-c:a copy and -vf scale=720:576**

also after recording, the format is **h264-mpeg4 avc (part 10) (avc1)** instead of **h.265 hevc**
does this means that casparcg does not support **h.265**?

b

[2018-04-07 10:27] ronag commented on #959
You need to use the long form ffmpeg options:

[code]

[2018-04-07 10:27] #959 closed

[2018-04-07 10:28] ronag commented on #959
codec `copy` is not implemented and doesn't make much sense. If you just want to copy then this is basically it:

[code]

[2018-04-07 12:02] PeterAkakpo opened #960 "FFMPEG Consumer - Clean Recording"
### Expected Behaviour

Ability to record a layer without any mixer transformations (clean recording)

### Current Behaviour

Currently you can only record a channel with all its transformations

### Attachments

[2018-04-07 12:55] ronag commented on #960
You can add a dummy channel and route the layer to it and record that.

[2018-04-09 07:07] dotarmin commented on #953
I had a crash at Saturday (2018-04-07). The video was started a day before the crash. I have started same test again but with log-level at debug.

[2018-04-09 09:07] PeterAkakpo opened #961 "AMCP - PLAY ON EMPTY LAYER"
### Expected Behaviour

anytime a **PLAY {channel}-{layer}**  command is sent to an empty layer, the response should be a **PLAY FAILED** instead of **OK**. the above command cannot be considered as being successfully executed command

### Current Behaviour

the system returns a status of **OK** (which shows the validity of the command), but which gives a wrong impression. when you issue **PLAY 1-

[2018-04-09 10:07] jesperstarkar commented on #961
@ronag Had a comment about this earlier in another issue, which was closed. Robert claims that a `OK` response only acknowledges that the command is received and valid, not taken effect. This definition is a breaking change in the AMCP protocol, but that is the current implementation, if I understand 2.2 correct. Can you please add some light to this @ronag?

And @Julusian will your work on async

[2018-04-09 10:36] ronag commented on #961
```PLAY 1-0``` is an invalid command and should not return OK.

[2018-04-09 10:41] jesperstarkar commented on #961
No, PLAY is perfectly valid! If you have loaded or paused content on a layer, you can invoke playback with `PLAY 1-0`

[2018-04-09 10:42] ronag commented on #961
@jesperstarkar: Yes, you are right. It's `LOAD 1-0` which is invalid.

[2018-04-09 10:43] ronag commented on #961
I'm not sure what is "correct" for this issue. AMCP is a bit semantically broken as it is right now.

[2018-04-09 10:45] jesperstarkar commented on #961
The original description of correct behaviour is desired. Everything I mentioned is unrelated, or partially related.

[2018-04-09 11:53] TKooijmans commented on #958
What about youtube live streams?

[2018-04-09 12:08] pkeuter commented on #958
Same. youtube-dl will provide you with an HLS stream.

[2018-04-09 14:43] ryanwmckenna opened #962 "Unreal/Unity Engine Producer"
Add gaming engine support for 3D graphics through Caspar, making progress into virtual sets

[2018-04-10 06:53] dotarmin commented on #953
**Update:**
I hade same issue again and no extra information in the log even when log-level is `debug`. A solution would to run those test through Visual Studio debug mode (I don't know how misleading the test would be due to debug mode) but hopefullt we could se where it crashes.

@ronag  What do you think?

[2018-04-10 08:00] ronag commented on #953
@dotarmin No idea. Would have to look into it.

Try with a build with this line removed https://github.com/CasparCG/server/blob/master/src/core/video_channel.cpp#L167.

[2018-04-10 09:33] dotarmin commented on #953
Thanks Robert! I will test this through Visual Studio and se if I can get more information about this.

[2018-04-10 10:03] grahamspr86 commented on #953
Had mine playing for 18 hours and it crashed, didn't see my original issue of the video stopping.

Is this two separate issues are they related?

1:) The video stops but CasparCG continues work for other outputs.

2:) CasparCG crashes.

[2018-04-10 10:30] dotarmin commented on #953
@grahamspr86 I can just confirm number 2.

[2018-04-10 15:53] seccpur commented on #953
IMHO, looks like heap corruption where error(s) stayed latent for a considerable period of time. Could it be ( just guessing ) related to (https://github.com/CasparCG/server/issues/946) ?

[2018-04-10 15:56] ronag commented on #953
#946 is only with system audio consumer

[2018-04-11 02:47] dimitry-ishenko opened #963 "LOADBG with AUTO not working after seeking forward"
Issue following commands:
[code]
`Clip2` should start playing automatically once `clip1` comes to an end. It works fine so long as you don't reduce `clip1` playout duration (eg, using the `SEEK` command). In other words, if you seek forward so that the amount of time `clip1` was playing is less than the original duration of `clip1`, `clip2` will not start playing.

This is important for example fo

[2018-04-11 16:00] TKooijmans commented on #768
I checked this with the latest build and it is still broken.
The stream starts and can be monitored but it only shows black.
Also tested ADD 1-1 STREAM

[2018-04-11 20:08] Julusian commented on #872
We were originally planning to make the timecode string used be valid SMPTE timecode, but that doesn't cleanly support high framerates. When SMPTE goes above p30 it counts in a confusing manner, eg for 50p:
[code]
In some places (eg decklink driver) no suffix is used when in the string format, each number is simply used twice. Adobe software looks to not use SMPTE timecode. I'm not sure what suffi

[2018-04-11 20:37] premultiply commented on #872
When talking about "timecode" you are always talking about SMPTE Timecode. So yes, it needs to be implemented the way the SMPTE has specified it. But it is not as bad you may think at the first moment. Many devices like frame synchronizers, vision mixers, NLE software, Dolby encoder/decoders, VANC data insertion in general etc. still need to be aligned to the "standard framerates" (24, 25, 30) to

[2018-04-11 20:44] Julusian commented on #872
@premultiply To clarify, the timecode output via consumers will definitely be valid smpte timecode, I am wondering about the timecode we use in amcp and osc, as that doesn't need to be smpte unless we want it to

[2018-04-11 20:51] premultiply commented on #872
Ok, then I would prefer fractions of seconds "timecode" for internal use with "endless" precision/resolution.
HH:MM:SS.ffffff or SECONDS.fractions with decimal datatype. This would support any framerate.

[2018-04-11 21:14] MauriceVeraart commented on #872
Hi Julusian
What is your input ??
is it like the framenumber off the FFMPEG producer??

i remember the * from the early tape days ;)

hmm normally you would use this with other gear using timecode too,
when notation is going to be different from the other gear this will be confusing for operational staff.

TC shows i am doing with other gear on 30+ framerates are normally using real SMPTE notation

[2018-04-11 21:57] Julusian commented on #872
@premultiply that is one option. I think I would end up converting that fraction to a frame number internally, rounded to the nearest frame, and so responses would end up being the ideal number.
so that if you scheduled in 25p on 01:00:00.111 it would report that back under SCHEDULE LIST as 01:00:00:120.

@MauriceVeraart The timecode source will have accuracy down to the field as the timecode come

[2018-04-12 06:59] dotarmin commented on #768
This works in CasparCG Client 2.0.9 with CasparCG Server 2.2.0.

[2018-04-12 19:11] dimitry-ishenko opened #964 "Strange alpha blending behavior"
I've created two .mov files with Fill&Key -- red circle and blue square.

The red circle was created from:
FILL:
![red_f](https://user-images.githubusercontent.com/2858291/38697571-6b6be6a0-3e60-11e8-9f9d-df65419bf9c0.png)
KEY:
![red_k](https://user-images.githubusercontent.com/2858291/38697572-6b80695e-3e60-11e8-9b3b-3024acbbfd00.png)

The blue square was created from:
FILL:
![blue_f](https://use

[2018-04-12 19:29] dimitry-ishenko commented on #963
Here is another example using built-in server media:
[code]
Without the seek command the file will smoothly fade out at the end.
With the seek command, it will freeze at the end and then fade out after a second or so.

This further reconfirms that there seems to be a timer of some sort that gets fired when the file starts playing, which trigger auto transition.

[2018-04-13 05:59] 5opr4ni commented on #964
Hi

CasparCG normally works in premultiplied, so creating the files as you do is not correct, they are straight as you do them. Caspar internali work in premultiplied mode, so you actually get the correct result based on your source files.
Historically, straight was the preferred but now a days premultiplied is the one to go with. It is actually called producers choice. Today most Dsk’s has suppor

[2018-04-13 06:36] dotarmin commented on #768
Server or Client?

[2018-04-13 06:46] dotarmin commented on #963
@dimitry-ishenko Is it correct that you're experiencing this issue with v2.1?

[2018-04-13 06:51] dotarmin commented on #963
I can confirm this works well in Server v2.2.

[2018-04-13 08:06] hummelstrand commented on #964
It's easy to make the assumption that alpha channels are "cut-out masks", but every couple of years I have to refresh my memory by reading https://www.schoolofmotion.com/blog/premultiplication/ and reminding myself that the alpha channel is multiplied with the fill.  :)

[2018-04-13 14:18] dimitry-ishenko commented on #964
OK I feel stupid... I was trying to solve another problem and in the process completely forgot that Caspar needs premult alpha. Sorry and thank you pointing it out.

[2018-04-13 14:18] #964 closed

[2018-04-13 14:44] dimitry-ishenko commented on #963
@dotarmin yes I am still on 2.1. Thank you for confirming that it works fine on 2.2.  :+1: Unfortunately, we can't use 2.2 in our production environment until we do extensive testing on it. (And looking at some of the open bugs, it still crashes after playing video for some hours.)

[2018-04-13 15:17] TomKaltz commented on #963
Yes 2.1 is no longer being developed and will get no further improvements.
2.2 is still in active beta.

On Fri, Apr 13, 2018 at 10:44 Dimitry Ishenko <notifications@github.com>
wrote:

--
Thomas Kaltz III 586-214-7150 Sent from Gmail Mobile

[2018-04-13 15:36] dimitry-ishenko commented on #963
Thanks @TomKaltz. I am aware that 2.1 is no longer under development. :stuck_out_tongue_closed_eyes: I am mainly reporting bugs to make sure they are fixed in 2.2. As I've mentioned above, I can't use 2.2 just yet, but thankfully @dotarmin was able to test it.

[2018-04-13 18:39] jesperstarkar commented on #963
@dimitry-ishenko we will patch this in a fork 2.1 of. Expected to be done within 3 weeks.

[2018-04-13 19:06] dimitry-ishenko commented on #963
@jesperstarkar oh nice! Is it publicly accessible?

[2018-04-13 19:10] grahamspr86 commented on #953
I've not been able to reproduce my other error of Exception: No diagnostic information available with the log level set to debug, turn that off and I can, make sense of that!

If I install Visual Studio @ronag where should I be looking to try and trap it?

[2018-04-13 19:10] jesperstarkar commented on #963
Sure it will be. But the task is not top prio yet, but will be in a few weeks.

[2018-04-13 19:41] Julusian commented on #963
I think that LOADBG AUTO is even more broken in 2.2.0.4 555d0386
If I run the following (with no seek) then the transition doesnt start until the video has finished
[code]

I can see what is wrong in 2.1 though, its using the number of frames the producer has output instead of position in the file when checking for the start of the transition. From the code in 2.2 I expect it will be the same issu

[2018-04-13 19:54] TKooijmans commented on #768
The server can start a RTMP stream, but that results in a black stream.
This happens also when you give the add stream command (custom) from 2.09 client.
Above command works fine with Server 2.1 but not with Server 2.2,
So to test this please add a rtmp stream...

[2018-04-13 19:56] dotarmin commented on #963
👍

[2018-04-13 20:02] dimitry-ishenko commented on #963
@Julusian can you point me to the whereabouts of the loadbg transition code? If I have a chance I will try to take a stab at it.

@jesperstarkar is your 2.1 fork accessible at this time? Maybe I can contribute there.

[2018-04-13 20:03] dotarmin commented on #963
@Julusian Does this also apply for 42ee4c2? My testing is for the moment based on 42ee4c2 and it worked when I tested 😕

I can also try this tomorrow using 42ee4c2.

[2018-04-13 20:07] dotarmin commented on #963
No problems but I'm kind of confused right now based on what Julian wrote. I have tested this using 42ee4c2 and what I could see it worked but now I'm not sure... 😖

[2018-04-13 20:14] dotarmin commented on #963
More testing needed using v2.2.

[2018-04-13 20:15] Julusian commented on #963
@dimitry-ishenko It was a very quick fix. I havent tested it very thoroughly yet, but it appears to work. Also, it is likely to break anything that relies on the frame-number field in INFO/OSC
https://github.com/nrkno/tv-automation-caspar-server/tree/963-loadbg-auto-2.1
Let me know if you need a build and I can set one going

@dotarmin I tried in latest 2.2. I don't see anything suggesting it woul

[2018-04-13 20:17] dotarmin commented on #963
I will do same tests again tomorrow morning just in case somebody swapped version on the testing machine accidentally. And if that's the case I apologies right away for my previous statement. I will let you know tomorrow and update my previous comments if that's the case 😕

Ping @Julusian

[2018-04-13 20:48] dimitry-ishenko commented on #963
OK I found where the auto transition happens:

https://github.com/CasparCG/server/blob/6fec6f8f6b5276db86536dd551e047f2a8f3dcdb/core/producer/layer.cpp#L134-L142

@Julusian I will take a look at usages of `frame_number()` to see what may have gotten broken.

[2018-04-14 07:03] dotarmin commented on #963
**Update**:
I can confirm that my previous tests are _invalid_ because it appears that v2.0.7 was running (somehow, I blame myself) meanwhile I tested 😖. I have just tested (once again, now with v2.2 for sure) and can confirm that this bug applies for both v2.1 and v2.2 of CasparCG Server.

f.y.i. @dimitry-ishenko @Julusian @TomKaltz

[2018-04-14 07:31] dotarmin commented on #952
I just tried this on my Dell XPS 15" 9550 and it works well when using the Nvidia GPU. By default it tries to use the integrated GPU (which didn't work in my case) when you execute `casparcg.exe`.

What I did to make it work is simply right-clicked at `casparcg.exe` and selected Nvidia GPU. I have also tried to add `casparcg.exe` in Nvidia Control Panel to under *Manage 3D Settings* so CasparCG is

[2018-04-14 08:35] #917 closed

[2018-04-14 14:00] TKooijmans commented on #952
On Windows 7 I can select with CasperCG.exe to start with (GTX860) Nvidia card.
If I set this in the Nvidia panel, I still get these errors.
We also  tried on an Acer with MX 150 Nvidia card.

We get the same errors in the log and casperCG shutsdown.
[2018-04-14 15:55:24.667] [info]    ############################################################################
[2018-04-14 15:55:24.667] [info]

[2018-04-14 14:00] seccpur commented on #953
@ronag : Will this code likely to leak in fmpeg_producer.cpp, Please check  Line #64 , #93 in [code](https://github.com/CasparCG/server/blob/master/src/modules/ffmpeg/producer/ffmpeg_producer.cpp)

1 )   `std::shared_ptr<AVProducer> producer_; `
But constructor initialization list uses `new`  in line #79 . Use of std::unique_ptr<> more appropriate here ?

2) `~ffmpeg_producer()`
Use of `std::threa

[2018-04-14 14:13] dotarmin commented on #952
@TKooijmans Can you verify your OpenGL version with e.g. OpenGL Viewer?

[2018-04-14 16:29] Julusian commented on #872
This is at the point where it is working pretty well (with some limitations), so I think it is time to share a preview build.

Some warnings and known issues:
* The timecode is hard coded to increment correctly for 50i. In any other format it won't behave correctly
* Channel time will start at 00:00:00:00 and will freerun, it can't be set any other way
* AMCP is expecting the timecode to be valid

[2018-04-14 17:00] TKooijmans commented on #952
I got this with OpenGL test, I can't get higher then 4.4
![afbeelding](https://user-images.githubusercontent.com/4194609/38770610-dae4432c-4015-11e8-8b09-a25d1224e2c3.png)

[2018-04-14 17:47] TKooijmans commented on #952
should CasperCG not automatic switch to a lower version of Open GL when 4.6 is not available?

[2018-04-14 17:47] dimitry-ishenko commented on #963
@Julusian you don't happen to have Linux builds, do you?

[2018-04-14 21:35] dotarmin commented on #952
No?
Amd I think you mean OpenGL 4.5 because that's what v2.2 requires.

[2018-04-15 11:50] TKooijmans commented on #952
Hi Armin,
How can we get Casper Server working on laptops then?
On my own laptop I can't update to get OpenGL 4.5 working, I can't get higher then 4.2.
On another new Acer laptop (i5 CPU with MX150 Nvidia and Windows 10) we can't get casper server 2.2 working either.....

[2018-04-15 13:50] Julusian commented on #963
@dimitry-ishenko https://drive.google.com/open?id=1SwVZokm5VkBkE58rvmAqGQs6LHJJ_aYj

[2018-04-15 21:42] Julusian commented on #782
I think that the builds I have added to #966 might solve some issues on devices which should support opengl 4.5. If someone could give them a try it would be appreciated.

[2018-04-16 03:28] crazyscot commented on #782
Build casparcg-server-d6758db8710e7dd0afec6fd93e8490729c5d7dec-windows opens for me without any complaints about OpenGL. However, connecting to it with a client (2.0 or my own) causes a bunch of exceptions on the console; templates either don't work, or crash the server completely.

It may be a different issue, of course, but this is the console trace from a simple `THUMBNAIL LIST`:

[code]

[2018-04-16 04:32] baltedewit commented on #782
Tested on an xps 15 running windows:

[code]
After this it just kept spamming that last error. Without screen consumer:
[code]
After this windows stopped the execution.

Note that AMB played fine on the nvidia gpu.

[2018-04-16 06:50] Julusian commented on #782
@baltedewit @crazyscot Thanks. Ill take another look when I have some time

@crazyscot That exception you posted is expected, if you launch scanner.exe that one should go away, but the crashing is not expected

[2018-04-16 07:29] MauriceVeraart commented on #872
cool you have the timecode on OSC also ;D

[2018-04-17 06:39] dotarmin commented on #952
Hi @TKooijmans,

I honestly do not know what to answer on this? You have to take into consideration that CasparCG Server is a professional playout system and graphics system, and with v2.2 we decided to upgrade to OpenGL 4.5 to clean up the code (and to improve performance with reservation). As the time goes on and it's more requirements we also need to upgrade stuff the server depends on (which w

[2018-04-18 06:22] PeterAkakpo opened #967 "PAL HTML FONT APPEARANCE"
### Expected Behaviour

Font should me clear and smooth on all channel modes

### Current Behaviour

font is not clear and smooth on PAL mode, but clear and smooth on 1080p2500

I HAVE ENABLED **CLEAR FONT TYPE**  AND **SMOOTH EDGES OF SCREEN FONTS** ON WINDOWS

### Steps to Reproduce
change channel mode to PAL either in config or with SET 1 MODE PAL and the run the html template that has text on

[2018-04-18 07:15] jesperstarkar commented on #967
Do you use decklinks? Can you compare this with running the CasparCG channel in HD and have the decklink card downscale to SD?

[2018-04-18 08:55] PeterAkakpo commented on #967
@jesperstarkar can you direct me on how to "downscale decklinke to SD from HD. I have used the Desktop Video Setup and under the converter section, i have HD to SD set, but, my output is still HD (1080p2500)

[2018-04-18 10:44] jesperstarkar commented on #967
If that doesn't work, I don't have any clues. Sorry about that.

[2018-04-18 10:58] Julusian commented on #967
How are you grabbing that frame?
To me, the issue with the PAL one looks like deinterlacing artifacts. What does 1080i5000 look like?

[2018-04-18 12:47] gizahNL opened #968 "[LINUX-Ubuntu] Caspar 2.2 beta issues when running ACMP commands"
Running Caspar 2.2 compiled using the standard docker scripts, then extracted and installed onto ubuntu bionic server we are getting the following issues when connecting the caspar client with the server.

It seems  a few commands (TLS, THUMBNAIL LIST and CLS) are failing.
[code]

[2018-04-18 13:01] ronag commented on #968
You need to run https://github.com/CasparCG/media-scanner.

@dotarmin Maybe time to update the README?

[2018-04-18 13:01] #968 closed

[2018-04-18 13:02] ronag commented on #968
https://github.com/CasparCG/server#configuration

[2018-04-18 13:03] dotarmin commented on #968
I think so!

[2018-04-18 13:09] dotarmin commented on #952
I'm closing this issue because I consider original question answered. OpenGL 4.5 is required for Server v.2.2 and CasparCG Server does not switch automatically to a lower OpenGL version when 4.5 is not present.

If you still have issues with MX150 (which I assume you have) I have to refer you to issue #782 and continue the discussion there. @Julusian have done a PR that _potentially_ could be a so

[2018-04-18 13:09] #952 closed

[2018-04-18 17:25] seccpur commented on #920
**Allow Diag command to be disabled**  - graph related codes are verbose and eating CPU cycles and it is req only during analysis.

Easy way : send the graph existing codes as std::function to a  helper graph function which will either flush or execute depending on std::atomic graph_disable flag.

Ideal But Hard Way: send the graph codes as async packaged tasks. Could be overwhelming  due to the r

[2018-04-18 17:28] jesperstarkar commented on #920
Can we expect a PR from you @seccpur ?

[2018-04-18 18:57] Julusian commented on #920
@seccpur
While the graph code is using cpu even when not being displayed, I'm not sure if it can be improved much.
If not being rendered, all the graph type does is store track the latest values in a map, and doing that via std::async could well introduce more overhead. As most of these values are time measurements or buffer size checks, the computation of those can't be moved to another thread ei

[2018-04-18 19:05] ronag commented on #920
std::async always spawns a new thread

[2018-04-18 21:15] Julusian commented on #871
Timecode can now be passed through caspar. It is paired with frames through the mixer, so is kept in sync with the video. This is easily tested by feeding a decklink a source with both vitc and bitc, and viewing the decklink consumer on a monitor with vitc viewing (or use another decklink with the CapturePreview sdk sample project)

I have added some AMCP commands to set a timecode source. The nam

[2018-04-18 21:38] MauriceVeraart commented on #871
NICE
any test done yet with interupted / reversed or cue'ed back TC ?

[2018-04-19 04:50] baltedewit commented on #967
I agree, used to have things like this happen with vertical scrolling text as well. Try making the font a bit bigger. Basically, the lines in PAL take up so much of your text that it will start to look ragged. It also helps to not have any thin lines in the text like serifs, but I guess you already have a bold font.

Oh, and the screen consumer is a bad bet on checking this. The deinterlacer is no

[2018-04-19 08:17] seccpur commented on #920
@Julusian
Thanks for the detailed reply. I agree with std::async part, however by-passing graph codes ,whenever DIAG command is not used, will be helpful.

[2018-04-19 15:28] sirfnomi commented on #963
loadbg also not playing with length command

one more thing i think related to it.

with length 40 clip1 is playing only 20frames and get stopped

**Environment**

- CasparCG Server version: 2.2.0.4 Beta 1 x64
- Channel Set to Pal DV
- Operating system: Windows 7 x64

[2018-04-20 06:36] dotarmin commented on #963
@sirfnomi Thanks for letting us know! 👍

[2018-04-20 06:38] dotarmin commented on #967
@PeterAkakpo, could you please check this and reply to Julian? 😄

[2018-04-20 07:18] MauriceVeraart opened #969 "Scanner fn not working without Network"
### Current Behaviour
CLS & other scanner functions do not work
when no network cable is connected / no network is available
scanner on its own is working
`http://127.0.0.1:8000/cls` in a browser gives return
but caspar throws errors
[code]
with a network cable connected to a empty switch things start to work again

### Steps to Reproduce

### Environment
* CasparCG Server version: 88171e16d
* Ope

[2018-04-20 08:02] Julusian commented on #969
Looks like an easy fix:
https://stackoverflow.com/questions/5971242/how-does-boost-asios-hostname-resolution-work-on-linux-is-it-possible-to-use-n

Just needs to choose a mode flag to use when making the request. A list of options is under the Data Members header at: https://www.boost.org/doc/libs/1_66_0/doc/html/boost_asio/reference/ip__basic_resolver_query.html

[2018-04-20 08:44] MauriceVeraart commented on #871
ok thanks julusian
can I help by making a file with jumpy timecode ?

other question by VITC you mean RP188 right ?
found this in BM's sdk doc

[2018-04-20 09:12] premultiply commented on #871
There is not such thing as „jumpy“ timecode on files as it was possibly on VTRs. Files like MXF have a „StartTC“ metadata entry in header and its the decoder job to advance it frame by frame.

There may be other custom legacy and incompatible „timecode“ tracks in some wrappers but this is only possible to use by special software/hardware and may be inconsistent to other timecodes in same file etc.

[2018-04-20 09:33] MauriceVeraart commented on #871
Sorry for not being complete ;)
I ment a audiofile with LTC recorded on it to put into a generator / inserter
I have old deck's and stuff laying around where I  could make
weird timecode stuff with like slow running and such

nevermind

[2018-04-20 09:40] Julusian commented on #872
I had a thought. The scheduler commands are currently channel agnostic. This will be fine if all channels are on the same timecode, but if they are different (perhaps off by 1, different fps) then the list would be rather confusing.

One option would be to explicitly specify the channel in each of the commands. The quirk here (or advantage?) is that you could do the following: `SCHEDULE 1 SET abc

[2018-04-20 09:49] Julusian commented on #871
Ah ok. Thanks for the offer, but I have what I need for now :)

[2018-04-20 11:17] PeterAkakpo commented on #967
this is the result of 1080i5000. It is much better than setting the channel mode to PAL
![1080i500](https://user-images.githubusercontent.com/7926382/39048254-b42d485e-4494-11e8-8674-fc0322efbb23.png)

[2018-04-20 13:03] Julusian commented on #960
I would call that a workaround rather than solution.
Using a dummy channel requires the user to know before starting the server how many layers they will want to record, and adds a considerable gpu overhead

[2018-04-21 06:31] vimlesh1975 commented on #963
in server 2.2 seek and lenght parameter should be twice of earlier.

[2018-04-21 08:50] MauriceVeraart commented on #969
ok thanks for your guidance ;)

changing line 21
in http_request.cpp to

 `tcp::resolver::query    query(host, port, boost::asio::ip::resolver_query_base::numeric_service );`

works byut
`tcp::resolver::query    query(host, port, boost::asio::ip::resolver_query_base::canonical_name );`

works too
when i read the doc i think the last is the best option right ??

LS

[2018-04-21 10:31] Julusian commented on #963
I thought I had read something like that somewhere, but only for interlaced channels

[2018-04-21 16:11] Julusian commented on #955
If you need a quick fix, then copying the swiftshader folder from here should work
https://github.com/Julusian/CasparCG-Server/tree/develop/dependencies64/cef/win32/Release

Proper fix in #970

[2018-04-21 16:30] Julusian commented on #969
Hmm..
I would go with `numeric_service` as that tells it that the service (port number in our case) is numeric. Alternatively, we could pass in an empty flags value seeing as all we want to do is remove the current default of `address_configured`

[2018-04-21 17:25] #955 closed

[2018-04-21 17:26] #969 closed

[2018-04-21 18:44] dotarmin commented on #955
I can hopefully manage some time tomorrow to fix the build-scripts to include a copy of the swiftshader-folder.

Thanks @Julusian

/Armin

[2018-04-21 20:57] Julusian commented on #967
@PeterAkakpo The effect is still there in that frame of 1080i50, and only on the second line which looks to be the only one that is moving. Its not as bad as your PAL sample because the text is much bigger. To make it a fair test the text would need to be the same pixel size.
I don't think there is anything we can do to fix this, the issue lies in how interlaced video works.

I had this problem my

[2018-04-22 07:01] Punkley commented on #946
confirmed..

[2018-04-23 05:17] vimlesh1975 commented on #963
I can confirm that this is for progressive channel also.

[2018-04-23 07:00] dotarmin commented on #955
Build-scripts are updated and include swiftshader folder form now on.

[2018-04-23 08:08] drakmor commented on #969
Maybe this is the best option:
`tcp::resolver::query query(host, port, boost::asio::ip::resolver_query_base::canonical_name );`

[2018-04-26 15:27] ronag opened #972 "Some single frame videos don't play"
Some videos with a single frame will not display.

[2018-04-26 15:28] ronag opened #973 "HTML doesn't clear on window.remove"
Calling "remove" doesn't always clear the HTML producer and possibly doesn't remove it.

[2018-04-26 15:28] ronag opened #974 "window.clearTimeout is missing"
possible window.clearInterval as well?

[2018-04-26 15:29] ronag opened #975 "log console.log to log file"
We need to be able to log from templates to caspar log.

[2018-04-26 15:29] ronag opened #976 "exception no message"
We have some "no message" exceptions

[2018-04-26 15:30] ronag opened #977 "OSC not stable"
I've noticed OSC can make things unstable. Not sure if this is still an issue. We've disabled OSC on internal builds. Needs a review & test.

[2018-04-27 08:21] dotarmin opened #978 "Make build-scripts checkout themselves when a build is triggered"
### Expected Behaviour
When a build is triggered automatically, the build-server should checkout the build-scripts itself from a repository. By going this approach, it would be enough with a pull request against the build-scripts repository to update the scripts when needed.

### Current Behaviour
When changes are made to CasparCG/server that affect files, folders, and versions of media-scanner th

[2018-04-27 08:28] dotarmin opened #979 "Get a clip's original fps over OSC"
### Expected Behaviour
Get a clip's original fps over OSC (as in v.2.1) using the `/fps` path.

### Current Behaviour
This was removed in v2.2 Beta in agreement with Robert.

[2018-04-27 08:33] dotarmin opened #980 "Get volume level for individual layers over OSC"
### Expected Behaviour
Get volume level for individual layers over OSC in addition to the master volume level for the entire channel.

[2018-04-27 09:34] MauriceVeraart opened #981 "CLS/TLS option to output JSON/XML/?"
feuture request
### Expected Behaviour
CLS/TLS now gives output in space delimited format (is het called this way??)
maybe it is nice giving the user the option to output it like JSON or XML
i tweaked Scanner a bit for my own purpose to output JSON
which makes building clients  a lot easier for me

[2018-04-27 09:45] MauriceVeraart opened #982 "CLS extended version"
feature request

CLS

now gives minor information of assets
while FFPROBE gives us a lot more usefull  information about it.

to stay backward compatible
maybe making a CLSE (extended)
command  that outputs more detailed information is nice to have.

played around with this my self, CLS gives me now info like FPS/CODEC/RESOLUTION/AR
which makes making clients a lot easier for me.

[2018-04-30 09:36] TKooijmans opened #983 "INFO commands not working with latest build"
THE AMCP commands like INFO PATHS, INFO SYSTEM
don't return information with latest 2.2 build of 23-04-2018

### Current Behaviour
commands like
PLAY 1-1 clipname   work but
INFO 1-1 or INFO PATHS or INFO SYSTEM  return all the same info

### Steps to Reproduce

Send command like
INFO PATHS,
check return info

### Environment
* CasparCG Server version: 2.2.04  (23 april build)
* Operating system:

[2018-04-30 09:50] Julusian commented on #983
This is expected behaviour. The info command has been removed in favour of OSC
#923 #924 #941

[2018-04-30 10:43] dotarmin commented on #983
@ronag has added #923 to milestone 2.2.0. Info will be put pack to v2.2 with reservation that XML-structure could possibly change.

[2018-04-30 10:43] #983 closed

[2018-04-30 10:53] TKooijmans opened #984 "How to get output stream working again?"
With the latest builds I can't get output stream working.
When I try
ADD 1 STREAM 1 rtmp://yourWowzaserver/live/zwaluw
with FF mpeg settings
-pix_fmts yuv420p -format flv -vcodec libx264 -crf 28 -vf scale=1280:720 -c:a libvo_aacenc -b:a 96k -tune film -preset veryfast

So total command would be
ADD 1 STREAM 1 rtmp://yourWowzaserver/live/zwaluw -pix_fmts yuv420p -format flv -vcodec libx264 -crf 28

[2018-04-30 12:41] Palakis commented on #379
@calumbrookes No it doesn't circumvent the licensing issues, because it would mean that the program relies on a proprietary component to function and the GPL tries to avoid that.

[2018-04-30 12:48] Palakis commented on #379
By looking at the source of ndi ffmpeg module, it looks like it does compile-time linking to the library. IIRC doing so prevents FFmpeg from running without the NDI library installed, and thus requires bundling these with FFmpeg.

Another solution would be to use dynamic loading. NewTek provides such a mechanism in their MIT-licensed NDI headers provided in the SDK.

[2018-05-01 10:16] baltedewit commented on #984
short hand parameters are no longer accepted by the ffmpeg consumer.

[2018-05-01 16:42] sirfnomi commented on #984
with ADD 1 STREAM udp://192.168.10.17:5001 -vcodec libx264 -f mpegts -tune zerolatency -preset medium -crf 18 getting error

Log:

[2018-05-02 10:11] gizahNL opened #986 "Unable to pass -x264-params"
Setting  ffmpeg[udp://192.168.88.164:5000] Unused option params="nal-hrd=cbr:force-cfr=1" in configfile

results in  ffmpeg[udp://192.168.88.164:5000] Unused option params="nal-hrd=cbr:force-cfr=1"

 /opt/ffmpeg/bin/ffmpeg -h encoder=libx264
shows syntax to be:
-x264-params       <string>     E..V.... Override the x264 configuration using a :-separated list of key=value parameters

Is CasparCG som

[2018-05-02 18:39] grahamspr86 opened #987 "2.2.0b HTML Producer causes GPU error. Works on 2.1.0b"
If you run the following browser test http://web.basemark.com/run/ using the HTML Producer when it reaches test 18 it causes a repeating error in CasparCG.

[code]

Running the following to start the test, you need to load the page twice to make it to start automatically.

[code]

When you try and quit CasparCG it causes CasparCG to crash on close

[code]

[2018-05-04 12:17] #972 closed

[2018-05-04 12:28] ronag commented on #953
Trying to reproduce on machine now. Will keep you posted.

[2018-05-04 12:37] PeterAkakpo commented on #953
this is the log details from windows event viewer when casparcg crashed. my graphics card is nvidia quadro m4000 with 8GB memory dedicated.
![opengl](https://user-images.githubusercontent.com/7926382/39628171-112dd1de-4fa0-11e8-82c2-0471d8deb943.png)

[2018-05-04 12:44] grahamspr86 commented on #953
Interesting I haven't seen that in the event viewer when it's happened to me.

I'm using a Quadro K4200

[2018-05-04 12:46] dotarmin commented on #953
Me neither when testing with Quadro K2000 and K2200.

[2018-05-04 13:09] TKooijmans commented on #986
this is the same problem as in #984

[2018-05-04 13:38] ronag commented on #953
Please provide the exact commands you've sent. Not just the error log.

[2018-05-04 13:50] grahamspr86 commented on #953
@ronag I've included what I've been doing and my config. I've not had time to test recently.

As commented above with the log level set to debug I couldn't reproduce my first issue of the video just stopping but could have CasparCG crash which was my second issue I came across. I'm still not sure if both are linked as when it crashes there is no useful info from the debug log.

[code]

[2018-05-04 17:41] #937 closed

[2018-05-07 18:40] Julusian commented on #782
I have just tested the latest build on Windows 10 with Intel HD530 (i7-6700T) and didnt get any errors in some simple tests, so if anyone is still having issues I would need some help to reproduce and test :)

[2018-05-07 18:49] #782 closed

[2018-05-08 11:45] TKooijmans opened #989 "fill works as crop"
With latest build using
MIXER 1-1 FILL 0.12 0 0.75 1 25 easeinsine
causes picture to crop instead of squeeze

### Expected Behaviour
picture should squeeze

### Current Behaviour
picture cropping occurs

load a picture on layer 1-1
send command
MIXER 1-1 FILL 0.12 0 0.75 1 25 easeinsine

### Environment
* CasparCG Server version: build 4 may 2018
* Operating system: Win7 -64

### Attachments

[2018-05-08 13:59] gizahNL opened #990 "unable to clone 2.1.x branch, github over quota."
Checking out files: 100% (14322/14322), done.
Downloading dependencies64/boost/stage/lib/win32/libboost_atomic-vc140-mt-1_59.lib (6.8 KB)
Error downloading object: dependencies64/boost/stage/lib/win32/libboost_atomic-vc140-mt-1_59.lib (a333606): Smudge error: Error downloading dependencies64/boost/stage/lib/win32/libboost_atomic-vc140-mt-1_59.lib (a3336066f76f75ca6f59efdd7dd88ef0de8fa4decce021ae0f

[2018-05-08 14:00] ronag commented on #990
@dotarmin ping

[2018-05-08 14:49] gizahNL opened #991 "2.2 [Linux] PLAY [HTML] 404"
We are trying to play a locally stored HTML file.
Command as follows:
PLAY 1-15 [HTML] "file:///PATH/TO/FILE/NAME.html?subtitle=test%20123&duration=3000"
Which used to work with 2.1, excluding the arguments (? and following) is of no avail

[2018-05-08 14:57] dotarmin commented on #990
Fixed!

@ronag we should remove Git LFS references for 2.1 branch, even if the repo gets large. What do you think?

/Armin

[2018-05-08 14:57] #990 closed

[2018-05-08 14:58] TomKaltz commented on #991
Yeah but we have no logs to see what happened.

[2018-05-08 14:58] ronag commented on #990
@dotarmin No opinion on 2.1. Sorry :).

[2018-05-08 15:05] gizahNL commented on #991
[code]

[2018-05-08 16:01] Julusian commented on #872
This is now complete and just needs further testing and porting to 2.2
I have a document describing the final functionality including new commands and config as well as known limitations, which will eventually make its way to the wiki
Doc: https://docs.google.com/document/d/1xkksxIdNHMO95RFF8wJ3vYRbXCHwKnjkMwVqwAyjv3A/edit?usp=sharing
Build: https://drive.google.com/open?id=1krPtXGHIxes2MRqzxuagtw

[2018-05-08 16:01] Julusian commented on #871
This is now complete and just needs further testing and porting to 2.2
I have a document describing the final functionality including new commands and config as well as known limitations, which will eventually make its way to the wiki
Doc: https://docs.google.com/document/d/1xkksxIdNHMO95RFF8wJ3vYRbXCHwKnjkMwVqwAyjv3A/edit?usp=sharing
Build: https://drive.google.com/open?id=1krPtXGHIxes2MRqzxuagtw

[2018-05-08 16:19] MauriceVeraart commented on #871
Cool definatly gona check it out some were this week.

Just a question (if it's a stupid question don't shoot me I am a C++ novice ;) )
where do you handover the timecode from the sources (free/clock/layer) to the part that
processes it.

or in other words if I make a TCsource myself what should I call
(just want to test myseIf to see if I could make a artnet timecode interface)

ls
Maurice

[2018-05-08 16:33] Julusian commented on #871
@MauriceVeraart

If its a producer, then there are a couple of methods to override from frame_producer as defined by https://github.com/nrkno/tv-automation-casparcg-server/blob/2.1.x/core/producer/timecode_source.h
Then the producer can be loaded onto the channel and used as a source the same as the decklink can currently.

The selection between the various types of source gets handled by this cla

[2018-05-09 07:14] dotarmin opened #992 "Remove Git LFS references for v2.1"
Git LFS was introduced for branch v2.1 before it was branched off to v2.2 (now master) to minimise the repository size and the time it took to do a clone. Meanwhile developing v2.2 Beta, more packages were nugetified and the need of Git LFS was dropped.

**So what's the issue?**
Well, we had a community member yesterday having an issue with cloning v2.1 (see #990) because data packs where disabled

[2018-05-09 09:48] gizahNL commented on #992
Another option would be to serve them on a standard http server, update build instructions to download and extract them let it be like that.
Since 2.1 dev is no longer happening this seems fair imho.

[2018-05-09 20:48] jesperstarkar commented on #930
After working with Ember+ integrations for the last week, I really see how it would fit CasparCG well. However, I struggle to see obvious benefits over the current OSC functionality. Do you see anything better in Ember+ other than interoperability with other broadcast-centric equipment?

[2018-05-09 21:04] 5opr4ni commented on #930
I think that ember+ belongs in the client, firstly.

[2018-05-09 22:32] Phil403 commented on #930
Interoperability with other broadcast equipment and control systems could be a good feature to Caspar, especially since Ember+ was integrated by many manufacturers as well.
I guess there could be three options for this:

1. using a translation service OSC <> Ember+
this could be done in the client as well, but personally I would prefer a separate service for that

2. adding Ember+ as an addition t

[2018-05-10 08:56] vimlesh1975 commented on #979
It is not clear how to write it. Earlier it was like below.
/channel/1/stage/layer/1/file/fps

[2018-05-10 09:16] grahamspr86 commented on #953
Did you get anywhere with this @ronag , anything else we can do to help?

[2018-05-10 10:28] ronag commented on #953
@grahamspr86: sorry, got pulled into other stuff, will get back to this as soon as I have time

[2018-05-10 10:29] ronag commented on #979
@vimlesh1975: The problem is that a file can contain multiple streams with different fps's. So you need to also specify which stream you want.
`/channel/1/stage/layer/1/file/streams/0/fps`

[2018-05-10 10:35] vimlesh1975 commented on #979
Thanks. It is working fine. And nice implementation for files having multiple streams.

[2018-05-10 10:38] premultiply commented on #979
Is it important to have all streams here? CasparCG only plays the first one, isnt it?

[2018-05-10 12:02] ronag commented on #979
Caspar always plays in the channels fps. The files fps is both ambiguous and irrelevant. However, some people use it for reasons I don't understand. Which is why this was added.

[2018-05-11 08:09] premultiply commented on #960
Well that would requiere something like pre-defined and always running (decklink) producers with ffmpeg consumer directly attached...

[2018-05-12 06:12] dotarmin commented on #992
I can agree with you, let check if somebody else from the community has some more input otherwise it seems fair enough because v2.1 is not developed any more just as you say.

[2018-05-14 14:56] MauriceVeraart opened #995 "Screen consumer Stay on top"
feature request

### Expected Behaviour
window should stay on top (maybe as a option in config file)
### Current Behaviour
Other windows can now overlap the screen consumer

[2018-05-14 21:31] Julusian commented on #992
One question to look into is what happens to cloning and checking out commits if the lfs files are unavailable? The master branch has commits that use lfs back before we moved away from it.
If I try to push it to my personal gitlab server with lfs disabled it refuses it with the error `remote: GitLab: LFS objects are missing. Ensure LFS is properly set up or try a manual "git lfs push --all".` I h

[2018-05-14 22:46] Julusian commented on #989
Possibly caused by #966

[2018-05-15 06:35] dotarmin commented on #989
@TKooijmans Could you test with a build from 3 May or earlier and check if the issue still exists?

[2018-05-15 11:19] Julusian opened #998 "Exception using CALL SEEK on video which has not started playing"
### Current Behaviour

Trying to seek in a clip which has not yet started playback causes a long exception to be logged and playback of the file fails.

### Expected Behaviour

It should either work or fail gracefully

### Steps to Reproduce
Execute the following as close together as possible. Pasting into the console window works.
[code]
Doesn't happen every time, but should happen after a couple

[2018-05-15 11:57] ronag commented on #998
@dotarmin 2.2?

[2018-05-15 12:20] dotarmin commented on #998
For me it's okey with v2.2.1 unless somebody does a PR against v2.2

[2018-05-16 23:14] grahamspr86 commented on #989
Build 72943c537c9829c10c9491c929ae2b811e857f26 works okay which is from the 2nd May.

Issue also affects Distort.

[2018-05-17 07:26] ronag commented on #989
@Julusian can you take a look? Otherwise we might have to revert your PR.

[2018-05-17 09:53] grahamspr86 opened #999 "Distort not working correctly since #966"
Distort is not working correctly since after build 72943c537c9829c10c9491c929ae2b811e857f26

Might be linked to changes made in #966

[2018-05-17 10:07] Julusian commented on #999
Related #989

[2018-05-17 10:13] Julusian commented on #989
I had a quick look the other day.
The distort looks pretty obvious, the calculations werent updated to handle that geometry is now triangles rather than quads.
I didn't have enough time to get anywhere on the fill/rotate issue. I can take another look this week and try to get to the bottom of it

[2018-05-17 11:54] baltedewit opened #1000 "2.2 crash with Intel iGPU"
### Behaviour
When running Nvidia GPU the behaviour is as expected, when running Intel GPU starting any producer results in an exception (Diagnostics not found) and crash.

### Environment
* CasparCG Server version: 2.2 c28f7d4e0f5db33ccfba966bb52da8f10b227b1e
* Operating system: Windows 10
* Graphics Driver: 22.20.16.4836
* Card: Intel HD630

### Attachments
[Log file](https://balte.stackstorage.

[2018-05-17 12:28] dotarmin commented on #1000
Thanks @baltedewit!
Could you just update your report to include OpenGL version, it would be really helpful.

Best regards,
Armin

[2018-05-17 12:36] baltedewit commented on #1000
That specific driver version is on OpenGL 4.5

[2018-05-17 12:40] Julusian commented on #1000
This Intel GPU issue is really weird, as it runs fine on a HD530 on Windows 10 and HD5500 on Debian

[2018-05-17 12:56] baltedewit commented on #1000
@dotarmin there was a bug with rendering before in 2.1.0 on all recent intel iGPU's. I think this was resolved by a driver update, though.

@Julusian I just noticed that CasparCG doesn't crash when the screen consumer is disabled but does throw more errors:
[code]

Possibly my issues are related to #921?

[2018-05-18 07:50] MauriceVeraart opened #1001 "Picture serious degraded 2.2 vs 2.1"
yesterday we did a compare with 2.2 vs a other playback medium.
we noticed a "fuzziness" on casparcg

this morning I compared 2.1 vs 2.2 with a screen consumer.

what you see in the pictures is a clip brought back to its native resolution with the mixer command(ARAL)
and a native pixel on pixel testpatern as a PNG not touched by any effect
 (click image to see real diffference)

![capture2](https:

[2018-05-18 08:05] ronag commented on #1001
@dotarmin @Julusian related to intel GPU PR?

[2018-05-18 08:10] dotarmin commented on #1001
I don't know, I can compare between two v2.2. versions, one with Intel GPU PR and one without. I will do that in one hour when I'm back.

[2018-05-18 08:12] MauriceVeraart commented on #1001
tests done with
88171e16d (ARAL = custom build based on this)
 and
abdbcc196 (pixel on pixel off test)

[2018-05-18 08:15] dotarmin commented on #1001
@MauriceVeraart  can you also do same test as you did with latest v2.2 and version from 2 May available at builds.casparcg.com?

[2018-05-18 08:28] MauriceVeraart commented on #1001
Just did exact same results

[2018-05-18 08:56] jesperstarkar commented on #1000
@dotarmin I don't have that machine or other with Intel GPU at the moment.

[2018-05-18 11:48] dotarmin commented on #1001
Thanks.

I have done some quick tests my self and neither can't I see a difference between the Intel GPU PR and the builds before it. I need to run some more tests before I say more but I will do some more tests and upload images from the output.

/Armin

[2018-05-18 11:49] jesperstarkar commented on #1001
This must have something to do with deinterlacing?

[2018-05-18 11:50] ronag commented on #1001
@jesperstarkar possible, we always deinterlace now, I don't remember which issue it was discussed. Someone was quite sure that bwdiff wouldn't do anything if the content wasn't interlaced.

Could try to remove bwdiff and run again to see if it is still the case.

[2018-05-18 11:51] premultiply commented on #1001
That was me.

[2018-05-18 11:53] ronag commented on #1001
I'm a bit unsure what to do here, I like the always deinterlace method and I can't think of any foolproof alternative. Only alternative is to trust the media meta data in regards to whether it is interlaced or not.

[2018-05-18 11:55] premultiply commented on #1001
It is not shure at all that this is caused by the deinterlacer here.

[2018-05-18 11:56] MauriceVeraart commented on #1001
Maybe make always deinterlace a option in config ?
like interpret content always as progressive
always like interlaced
or by meta data ??

in my context I am pretty sure I will always get progressive but that's of coarse different per user

[2018-05-18 11:59] dotarmin commented on #1001
@MauriceVeraart It's not verified it's caused by the deinterlacer.

[2018-05-18 12:00] MauriceVeraart commented on #1001
true but what we see it could be.
no clue how easy / hard it is to switch it off just to try

[2018-05-18 12:01] premultiply commented on #1001
What it interesting here is that it seems to be blurred in H and V direction.

[2018-05-18 12:02] Julusian commented on #1001
If I understand correctly it is also affecting pngs, so I dont think the deinterlacing could be causing this.

@ronag Was the opengl texture sampling mode changed or something like that?

[2018-05-18 12:05] dotarmin commented on #1001
That's correct, or at least what I could se when looking at the difference (in photoshop) of two snapshots with v2.1 respectively v2.2.

[2018-05-18 12:11] dotarmin commented on #1000
Same here, thanks anyway @jesperstarkar.

[2018-05-18 12:13] MauriceVeraart commented on #1001
yep also on png

see attached grabs with 2.2 and 2.1 with maybe a more usefull testpattern
![20180518t140611](https://user-images.githubusercontent.com/33925862/40233918-12e71a7a-5aa5-11e8-9da9-6fbdf2933baa.png)
![20180518t140622](https://user-images.githubusercontent.com/33925862/40233953-32bedafe-5aa5-11e8-8e1c-79abab161753.png)

to be clear last one is 2.1
grabbed now made with casparcg.
maybe

[2018-05-18 12:16] ronag commented on #1001
I'm not 100% sure pngs are not going through ffmpeg.

[2018-05-18 13:08] premultiply commented on #1001
Then it is not caused by the deinterlacer.

[2018-05-18 19:31] #989 closed

[2018-05-18 19:31] #999 closed

[2018-05-21 07:58] dotarmin commented on #1001
I did some more testing today to confirm the results I got last week. I played AMB and when it stopped on the last frame I did a channel snapshot. I did this first with the latest v2.2 (89ff914) and then with v2.1 Beta 2.When I had the channel snapshots in my hand I did a diff on those in Photoshop.

**v2.1.0 Beta 2**
![_210_amb](https://user-images.githubusercontent.com/18257040/40296544-2aba1a32

[2018-05-21 08:36] premultiply commented on #1001
Freeze-Frame-Video is not best for comparison here as different deinterlacing and upsampling is used in 2.1 and 2.2. And I am not shure they freezed on the same frame/field. But for me this looks ok (as expected) in this case on the first look.
But again this is not the best test material for this issue.

[2018-05-21 08:41] dotarmin commented on #1001
You're right, this maybe wasn't best testmaterial but I did same tests last week but by using a png image instead with a solid background and a large white text on it. Result was the same. I can upload those images instead.

Thanks!

[2018-05-21 19:58] MauriceVeraart commented on #1001
ok did the same as you but with the testpattern i used earlier
![diffnormal](https://user-images.githubusercontent.com/33925862/40327087-f3821fa0-5d41-11e8-8531-e0f94fe65a63.png)

next image with the levels a bit changed to see whats going on more clear

![diffleveledkopie](https://user-images.githubusercontent.com/33925862/40327121-13cc8a7a-5d42-11e8-822b-0c4b074e0bba.png)

[2018-05-21 20:01] MauriceVeraart commented on #1001
looks like the image is feathered out 1/2 a pixel on each direction a bit like the effect of a low pass filter

[2018-05-21 20:37] deedos opened #1003 "Ubuntu 18.04 build problem"
### Expected Behaviour

Build ok

### Current Behaviour

Fails to build, something related do libcef_dll_wrapper as below:

[code]

### Steps to Reproduce

Run Ubuntu 18.04 updated (may the 22th)
Install dependencies as described in the "building" sections" and try to build.

### Environment
* CasparCG Server version: Last commit clone (2.2.0 - may the 22th)
* Operating system:

Ubuntu 18.04 updat

[2018-05-22 09:30] Julusian commented on #1003
It looks like it can't find your extracted copy of cef. Did you follow step 5 of the instructions?

[2018-05-22 09:43] Julusian commented on #1000
@baltedewit I dont think so. This looks like behavior I was getting a lot while doing the PR, when I got opengl into a bad state.
Perhaps we should find a time where I can see it running with a debugger attached.

[2018-05-22 11:05] gizahNL commented on #991
As I commented on the PR; the PR doesnt fix the issue for us.

Mind you: the file url is a local url (as noted by the file:/// path), and it did work for us with 2.0 and 2.1

Unfortunately it doesn't fix the 404 we are experiencing:

Escape character is '^]'.
PLAY 1-15 [HTML] "file:///data/media/private/subtitles.html?subtitle=test%20123&duration=3000"
404 PLAY FAILED
PLAY 1-15 [HTML] "file:///dat

[2018-05-22 11:12] ronag commented on #991
@gizahNL: sorry, the PR auto closed the issue

[2018-05-22 11:32] Julusian commented on #991
hmm looks to be something linux specific. It works on windows:
[code]

[2018-05-22 16:17] Julusian commented on #854
I have had more of a look into this, and I can't see anything we are missing to get more info from CEF. From what I can tell it simply doesnt call OnPaint as it doesnt have anything new for us. Without modding CEF, I don't see a way for us to solve this.

We could improve it a little by changing the colour to something that looks less important and it could be supressed from the trace logging cb39

[2018-05-23 10:32] MauriceVeraart opened #1004 "Feature request predifined layers"
Feature request

in #871 @Julusian  is mentioning predefined layers to play / initialize
while the server starts up
although specificly made for the timecode option
it would also be a nice option in general use.

like for instance load a colorbar after startup

[code]

i bet @Julusian  already made this ;)

[2018-05-23 10:51] Julusian commented on #1004
The predefined layers I have done was added for timecode, but does not have to be used for timecode purposes and can have many layers defined as shown in that example.
It is something I have wanted for a while (and I know others have too), so I made sure to make it generic.
A 2.2/2.3 PR is planned, so this will be included in that.

[2018-05-23 17:43] deedos commented on #1003
Hi @Julusian . I had indeed flowwed step 5. I could track down and the problem was with my firewall.
thanks a lot

[2018-05-23 17:43] #1003 closed

[2018-05-24 16:16] griefk commented on #490
I'm currently trying to figure out how to do this. Has anyone made progress?

[2018-05-24 16:22] Julusian commented on #490
I use a simple html overlay which pulls data for a specified layer from osc. Play that and a route to a second channel, and you have a channel with burnt in timecode https://github.com/GuildTV/ccg-bitc
It doesn't have a readme, but I can throw one together if you are interested in it

[2018-05-24 16:32] griefk commented on #490
Julian,

Thank you very much! Any further help you could provide about how to set
this up would be greatly appreciated. I'm very new to pretty much all the
concepts involved here.

Thank you,
Greg

On Thu, May 24, 2018 at 11:22 AM, Julian <notifications@github.com> wrote:

--
*Gregory Kanan*
*Video Engineer, TV Tech Managers*
mobile: (845) 913-6257

[2018-05-24 18:32] Julusian commented on #490
Ive thrown up an exe and a readme on the linked project, that task has been long overdue anyway. Hopefully this helps :)

[2018-05-24 19:10] griefk commented on #490
Thank you again! As I said, I'm new to much of this. I dropped the ccg-bitc
directory into the casparcg templates folder, just to see what would
happen. I was able to display the overlay (which is even more than I
thought would happen, but it obviously wasn't receiving any data. Do I need
to run the index.js externally from casparcg? Very sorry for what must be
such rudimentary questions.

On Thu,

[2018-05-25 05:08] baltedewit commented on #1000
Updating the Intel driver to 23.20.16.4973 remedies this crash.

[2018-05-25 05:08] #1000 closed

[2018-05-25 10:32] TKooijmans commented on #986
I just tested again with the build of 24-5-2018.
I got audio from the stream but still most FFMpeg options are ignored.
(sending a RMTP stream to our Wowza server)

this is a view of the log when it comes to encoding a stream
[2018-05-25 12:24:37.651] [info]    Received message from 127.0.0.1: ADD 1 STREAM rtmp://media.omroepgelderland.nl/live/zwaluwtest -pix_fmts yuv420p -format flv -vcodec libx2

[2018-05-25 15:38] Julusian commented on #490
Hi Greg.

You need to set the server xml to be outputting data to osc, an example of how that should look is shown in the readme. Then you can run the caspar-bitc exe, and using some control client play a video on channel 1 layer 10 and it should pick it up.

You dont need to do anything with the code from the repo, you just need the exe from the github releases tab.
Hopefully this helps.

[2018-05-26 13:53] grahamspr86 opened #1005 "Feature Request AMCP authentication"
Could we have an option of authenticating on connection to ACMP before it accepts any commands, the token could be in the config.

This would secure the connection in a limited way as without SSL it can still be viewed what's passing between the client and the server.

[2018-05-26 13:58] jesperstarkar commented on #1005
2.1 AMCP has a request passphrase that works like this. Don't remember if it is removed in 2.2.

[2018-05-27 09:16] baltedewit commented on #1005
It's pretty easy to eaves drop on a TCP connection and just listen for the auth details so I don't think an implementation in amcp makes sense.

why wouldn't you just close the firewall for outside traffic to the amcp ports and you can establish a proper secure connection through either SSL or by tunneling all amcp traffic through something like webrtc data channels or websockets?

[2018-05-27 20:41] Julusian commented on #1005
I agree with that. Anything that we implement will likely be riddled with security flaws or it would end up being a lot of effort to maintain and keep secure. Besides, I wouldn't be surprised if it was possible to crash caspar by sending some specially crafted packets or DOS it with a flood of data

I'm not sure how easy it is to do on windows, but I would use ssh to create a secure tunnel between

[2018-05-27 20:50] MauriceVeraart commented on #1005
i think we must know a bit more of your context @grahamspr86
i find the lock function very usefull in situations

where person 1 or application 1 is controlling say ch1&2 (like a VT)
and person 2 or application 2 is controlling graphics like a CG on say CH3

this just to be sure someone does not touch somebody's else his channel ;)

exposing AMCP to a WAN is not where it's made for and needs a gat

[2018-05-27 22:05] grahamspr86 commented on #1005
I wasn't referring to putting ACMP on the WAN but securing it within a LAN.

You can use LOCK to secure a channel and stop multiple operators from stepping on each others channels in error but what stops a malicious user from sending the KILL command to the server?

[2018-05-28 06:03] sraptis opened #1006 "dshow is not working at the latest build"
Good day all,

I have just the latest nigtly build (25/5/2018) and the previous working command:

**Play 1-3 "dshow://audio=Line 2 (Virtual Audio Cable)"**

**It is not working anymore.** The version that I was using and it worked fine was 2.1

The error log that I am getting now is:

_[2018-05-27 23:09:00.204] [error]   Exception: C:\Program Files (x86)\Jenkins\workspace\casparcg-server-dep\maste

[2018-05-28 06:59] MauriceVeraart commented on #1005
Ok if that is a concern in your environment,
then I hink you need to make a security measure outside caspar.

SSH port forwarding to every client??

when you want to secure a protocol you need to do this or
very good or not at all in my opinion.

the beauty of AMCP is it to be plain and simple a extra security layer does not help it imo

[2018-05-28 08:34] premultiply commented on #406
UHD 2160p5000, 2160p5994, 2160p6000: Decklink 4K Pro output mode gets initialized correctly but does not play any content (producers) on current server 2.2 build. "Half framerate" 23.98/24/25/29.97/30p UHD modes are fine.

4K modes (dci2160p2398, dci2160p2400, dci2160p2500) do not work at all (server 2.2 claims about casparcg.config XMLerrors).

[2018-05-28 16:18] baltedewit commented on #1001
@dotarmin these were at the same channel resolution right? At 300% zoomed in, the image from 2.1 looks a lot sharper:
`2.2`
![afbeelding](https://user-images.githubusercontent.com/9898648/40622246-e38558c4-62a0-11e8-9477-238e8332b3aa.png)
`2.1`
![afbeelding](https://user-images.githubusercontent.com/9898648/40622271-f6a263ca-62a0-11e8-86d4-7e58ff623888.png)
Not sure if related to this though.

[2018-05-28 16:35] MauriceVeraart commented on #1001
You did the zoom externally ??

[2018-05-28 16:56] dotarmin commented on #1001
That's correct, 1080i5000.

[2018-05-28 17:03] baltedewit commented on #1001
Yup. And look at what happens when we boost the brightness on the diff Armin made:
![diff](https://user-images.githubusercontent.com/9898648/40623823-3a8c10a6-62a9-11e8-89a1-1dfb5efeca1e.jpg)
_note: maybe some of the finer noise is caused by encoding on GitHub's side, but that doesn't take away there is still a difference_

I thought so, just wanted to be sure it didn't occur from a resolution cha

[2018-05-29 06:05] dotarmin commented on #1001
@baltedewit, as @premultiply wrote in an earlier post:

But I get same results with a full-frame PNG-image with a solid background and a text. The result is similar to the text "CasparCG" from the AMB samples posted.

[2018-05-29 07:30] MauriceVeraart commented on #1001
Looking in to this a bit more
i tried if i could make the picture sharper by shifting it 1/2 1/4 or 1/8 of a pixel

to see if it is a phase problem of some sort
(yep that's a analog approach)

in 2.1 i can make the picture look like 2.2
but unfortunately i could not do the same the otherway around

could it be that the picture is shifted some where in the chain say 1/2 or 1/4 a pixel
(maybe due to

[2018-05-29 08:14] ronag commented on #1001
If someone could go back in commits to where this problem starts to occur that would be very helpful.

[2018-05-30 07:49] Julusian commented on #716
Can this be closed? #935

[2018-05-30 07:49] Julusian commented on #715
Can this be closed? #951

[2018-05-30 07:57] jesperstarkar opened #1007 "Proposed feature for discussion: OSD Producer"
The main idea is to be able to natively render text overlays for timecode and statuses on separate layers (channels/outputs) based on the current status of media and playback on the main layer/channel/output. We’re starting by focusing on the FFmpeg Producer and video playback.

**Example usage:**

- Your main video playback layer of choice is 1-10
- You then operate 1-10 as normal
- You want to s

[2018-05-30 08:00] jesperstarkar commented on #1007
This feature also solves another great thing other than text overlay: background preview. We want to enable the opeator to have an instant preview of a clip loaded in background (cued up) to be confident that the next clip is ready to go, and the correct clip is loaded.

[2018-05-30 08:16] didikunz commented on #1007
It would be complete if it also shows the remaining time until the clip is finished. Either configurable or next to each other. Normally the operator is not too much interessted on the running timecode but wants to know hoe long it will run.

[2018-05-30 08:18] premultiply commented on #1007
You may also think about using an OSD producer for subtitling.

Further possible improvements / additions to OSD overlay:
- Audio Level Meter Bars
- Countdown / remaining time
- Indication for Loop-Mode
- Visualisation of remaining time / progress with a bar

[2018-05-30 08:59] #715 closed

[2018-05-30 08:59] #716 closed

[2018-05-30 09:51] Julusian opened #1008 "Feature under development: Sting transition"
CasparCG supports some basic transitions between producers on a layer. The range of options is rather limited and doing anything more complex requires running them manually in seperate layers and using mask layers which quickly gets complicated.
This could be made a lot cleaner by extending the transition producer with a sting style. This would utilise a couple of FFmpeg Producers to generate the

[2018-05-30 22:15] respectTheCode commented on #1007
I built this functionality with flash templates for 2 customers. The main thing they were looking for was name of the file, play time, remaining time and the position in the playlist. The playlist is obviously custom and not part of CasparCG.

The left side is the playlist with only a single clip in it. We have this output on monitors for audio, lighting and the producer.
![img_0474](https://user-

[2018-05-31 05:36] dotarmin commented on #995
I'm not sure about this actually even if I like the idea. It could become strange if 1080 video-mode is used on a full-hd screen. You would have to move the window out of the screen (or something) to be able to interact with other windows such as the CasparCG Console window itself, right?

[2018-05-31 05:40] dotarmin commented on #1001
@ronag If someone could go back in commits to where this problem starts to occur that would be very helpful.

I'm not at the office this week so if someone else could test the first v2.2 build to compare it would be great. Otherwise I can try to do this when I'm back.

[2018-05-31 06:50] MauriceVeraart commented on #995
Jep that's true

it should indeed be an option in the config and certainly not default behaviour. ;)
I guess when somebody uses (borderless / interactive=false / stay ontop)
know what the consequence will be.

ls

[2018-05-31 06:51] MauriceVeraart commented on #1001
Will do when I find sometime

[2018-05-31 14:05] JamesWatton opened #1009 "Decklink Consumer Fill output periodic black frames"
Hi,

I have a decklink 4k extreme being used for output from Caspar CG at 1080i50 (via an SDI to HDMI converter to check the output of the decklink card). I also have a screen consumer configured to view the output.

When I use a video + html layer (simple scrolling text) the output works as expected.
When I use a more complex HTML template, the key is output fine, but the fill only works for a se

[2018-05-31 14:41] hummelstrand commented on #1009
Please post what version/builds/OS you are using.

[2018-05-31 14:53] saltomodules opened #1010 "Clip freezes in v2.2 after 32979 fields and SEEK delays freezing"
### Expected Behaviour

Clip thats 60 minutes long plays completely from start to end.

### Current Behaviour

Clip in question plays without issue in CasparCG 2.1 but stops after 32979 fields in 2.2.

However if you add a SEEK to the PLAY command the clip doesn't stop at the same timecode. It starts at the seek point and continues to run until approximately the same amount of fields has passed. W

[2018-05-31 15:18] JamesWatton commented on #1009
CasparCG Server is using latest commit from master branch, built from source.

Windows 7 Enterprise Service Pack 1 Build 7601
Graphics card is an NVIDIA Quadro K1100M with latest drivers (23.21.13.9158)

DeckLink 4K Extreme is using Driver v10.9.7

Cheers!

[2018-06-01 11:29] MauriceVeraart opened #1011 "Random Checkerboard pattern in screen consumer"
while using the screen consumer
Completely random a black checkerboard pattern appears on a video layer in the upper-left corner.
I have tried to catch it with a snapshot but it's only there for one frame  soo hard to catch.

has this something to do with triangles and quads mentioned in
#1002 ???

[2018-06-02 05:31] dotarmin commented on #1010
Could be similar to issue described in #953. Now, I'm not sure at all if those issues are the same or even relate to each other but could be worth to mention it because both of them makes clips to freeze.

[2018-06-02 05:54] dotarmin commented on #995
But if this is the case, it wouldn't even be possible to move the window, or would it? Personally I am having really hard to see what value this feature brings to the server but I'm sure it's because I cannot see a scenario when to use it.

[2018-06-02 06:04] dotarmin commented on #1005
Agree.

Closing feature request because it's more of an infrastructure/environment question. If this becomes relevant again this issue can easily be opened.

[2018-06-02 06:04] #1005 closed

[2018-06-02 06:10] dotarmin commented on #1009
Can you try with a v2.2 (master) build from [http://builds.casparcg.com](https://builds.casparcg.com)?

[2018-06-02 09:55] jesperstarkar commented on #995
I makes perfect sense to have this as an option. The most obvious use case is in headless server/client configurations.

[2018-06-02 16:06] PeterAkakpo opened #1012 "DECKLINK CRASH"
### Expected Behaviour

Decklink producer and consumer should behave just like the ffmpeg producer and consumer or should give a message saying the device is already in use, when a PLAY or ADD command is issued repeatedly on the same device.

### Current Behaviour

The decklink device crashes, further commands to it does not work
issuing PLAY 1-0 DECKLINK 1 outputs to the device. issuing same comm

[2018-06-03 08:54] jesperstarkar commented on #475
Hi @PeterAkakpo.

If I understand you correctly you want to be able to read out state from the server. I don't think your approach to calculate state by evaluating command responses will work for a couple of reasons:
- Multiple commands affect the current state of a given layer. A `PLAY` and a `MIXER` combined will not reflect in your approach.
- A positive command response doesn't mean the state

[2018-06-03 19:37] dotarmin commented on #995
I have no opinion about that.

Why would you have a screen consumer running on the server speaking in terms of a headless server?

[2018-06-03 20:04] jesperstarkar commented on #995
By headless I here mean to not interact with the server. Just boot it and have instant output on the attached screen (rack/workstation) or the built in screen (laptops) – the point is that you have a client/server setup and never want to interact with the server, just have a feed coming out.

Another case is for multi-screen workstations where you run the client on one screen and want an output on

[2018-06-03 20:36] Julusian commented on #995
I too would like this behaviour. This would be especially useful for low budget stations (hdmi + bmd micro converter is a lot cheaper than a decklink) or for stage video work, where it is unlikely that sdi will be used from a pc as their mixers commonly accept formats such as dvi or displayport. Especially so when combined with #674

Also when running multi-screen it is very easy to accidentally l

[2018-06-03 20:46] Julusian commented on #1011
Have you tried other consumers, and does it also show on them?
Does it happen with any video you try?

How much space does the checkerboard pattern occupy?

I don't think it would be related to that

[2018-06-03 20:55] Julusian commented on #1012
From what I remember when accidentally doing something similar, but I don't think it actually crashes the device. An exception is logged when it tries to start the second stream as the device is already in use, but the original will keep running.

It could be that for you the second PLAY/ADD is causing the first instance of the producer to stop, before the new one fails to initialise but that need

[2018-06-03 21:16] MauriceVeraart commented on #995
I am working on 2 projects at the moment were this becomes handy.

one is a signage style solution were NUC's are driving lower res LED screens on HDMI/DVI level
they are normally unattended  / self restarting on powerfailure or crash.

on a other project output is on output 2 and 3 from the server and the GUI is  on output 1
dragging windows around could easily result in having the wrong things o

[2018-06-03 21:33] MauriceVeraart commented on #1011
I have not seen them yet on other consumers
they are really random in a low freq
say 1 or 2 frames in a 5 min period

i could not catch them yet
but they look like squares of say 16x16 pixels in blocks off 8x8 square

sometimes you have only one block sometimes 4 adjacent to each other
always next to each other.

changing vsync to true seems  to make them occure less often (not sure)

[2018-06-04 02:47] PeterAkakpo commented on #1012
yes it stop the first instance and the new one fails to initialize and any further decklink command also fail until you restart casparcg server, that's what i meant by crashing.

[2018-06-04 21:13] Julusian commented on #1009
I have been thinking about this, and I think it is unlikely to be an issue with caspar.
If it was a few frames each time I could believe it being something in caspar, but not for a couple of seconds, especially with the screen consumer continuing normally.

It sounds to me like there is a signal dropout somewhere, causing the screen to rehandshake with the converter. That handshaking often takes a

[2018-06-04 22:26] Julusian opened #1013 "Decklink consumer outputs stale frame on re-add"
### Expected Behaviour
The decklink should not output old frames

### Current Behaviour
When the decklink gets added to the new channel, it outputs a couple of buffered frames before starting the new channel content.
A recording showing the behaviour is attached.

Happens both with and without genlock, and with a sdi-hdmi converter. It also occurs both when it is added to a different or the same c

[2018-06-04 22:37] Julusian commented on #1012
I am not getting any crashing when trying this. After it fails to initialise, the next attempt will complete successfully.

I think this behaviour can be called expected (not a bug).
When running PLAY, the new producer fails after being loaded, at which point the old producer is being destroyed as expected, leaving with no producer.
When running ADD, the old consumer is discarded first (it doesnt

[2018-06-05 06:52] MauriceVeraart commented on #1001
Ok first test was with the first available version on builds.casparcg.com
`casparcg-server-7ba5e475f07ab7b6d1391097b04059b470457095-windows.zip 28-Feb-2018 15:50  142M `
Unfortunatly the result is the exact same

[2018-06-05 14:28] IPxK opened #1015 "HTML Performance Issues"
I'm currently having an issue where when outputting a HTML link through my Decklink Quad 2
card, the output will take a hit about after an hour. The same happens when outputting a video
file like AMB.

The link I'm testing is
https://app.singular.live/appinstances/16209/outputs/Output/onair?aspect=16:9

The same issue occurs when using www.yahoo.com or www.cnn.com

CasparCG Server version: 2.2.0.4

[2018-06-05 16:47] Julusian commented on #1015
This happens in a channel running 1080i5994, but not 1080i5000 and is not specific to the html producer. It appears to be an issue with the decklink being the channel sync source

[2018-06-05 16:54] Julusian commented on #490
Hi Greg

Sorry for the delay, I was away last week.
It looks like this annoyingly requires a native file. I have uploaded the additional file to the github release. If you place that next to caspar-bitc.exe it should now run

[2018-06-05 17:11] Julusian commented on #991
I can't reproduce this on linux with 828629b9d472cdd83fa7811d5e2e21bf5bb120b1. even if I give it a filename which doesnt exist, or one with parameters it reports `202 PLAY OK`

[2018-06-06 10:00] didikunz commented on #923
I still do Flash templates and I also have a lot of existing Flash templates out at my customers systems. And a lot of them use the INFO command to query a video clip loaded from the template for readyness. Some also use INFO PATHS. As OSC is not easy to implement inside ActionScript it would braek all that stuff. And the XML should also not change too much.

[2018-06-06 15:31] Julusian opened #1018 "AMCP filenames are case sensitive for some (æøåÆØÅ) characters"
### Expected Behaviour
`PLAY 1-10 test-øVELSE-2` and `PLAY 1-10 test-ØVELSE-2` should both be able to play the same file

### Current Behaviour
Only one of them manages to play the file. The other fails with file not found.

Media-scanner correctly converts the case of the filenames, which means that CLS can report a filename which will not play due to it now being the 'wrong' casing.

### Steps t

[2018-06-06 19:10] dotarmin commented on #923
INFO will come back in [v2.2.0](https://github.com/CasparCG/server/milestone/4), with the reservation that the XML-structure could be changed but is not decided yet!

Cheers! 🍻 😄

[2018-06-06 21:36] PeterAkakpo commented on #584
So how does the comited dynamic  image work. i have tried passing the image through a public variable, but it didnt work.

[2018-06-06 21:50] Julusian commented on #584
Only available in my builds, this is a scene I have used showing it in action https://github.com/GuildTV/elections-gfx/blob/master/caspar/template/GE2018/winner-inner.scene

[2018-06-07 06:14] PeterAkakpo commented on #584
@Julusian , i just downloaded your build and both [COLOR] and [PNG_BASE64] works fine. is there something similar for FFMPEG and ROUTE layers in your build, where the clip name can be passed through a variable.

[2018-06-07 07:32] Julusian commented on #584
There is not. Ffmpeg and route producers do not support changing their source after creation, which is behaviour that scene producer variables relies on

[2018-06-08 09:02] JamesWatton commented on #1009
Ok, I've tried this again this morning with the latest version from https://builds.casparcg.com/ and again with the latest from source and it is running fine with both on the exact same hardware but from cold as it hadn't been used in a few days. I suspect it was as @Julusian says, the signal dropping out, possibly from the sdi-hdmi converter over-heating as it was running quite hot when the issue

[2018-06-08 09:02] #1009 closed

[2018-06-11 12:09] TKooijmans commented on #989
It seems that this problem is back with 5 june version.

[2018-06-11 12:16] Julusian commented on #989
Can you double check you are using the right version and commands?
There have only been a couple of changes since this was fixed, and none of them have gone anywhere near any relevant code...

[2018-06-12 09:47] TKooijmans commented on #989
You are right!
the build of 5 june is ok!
only the FFmpeg stream encoder settings are still ignored
![afbeelding](https://user-images.githubusercontent.com/4194609/41283179-37799c92-6e36-11e8-9cc1-3b0d8e975fcd.png)

see another thread..

[2018-06-15 07:54] baltedewit commented on #1011
I've made 15 minute screen recordings on both intel and nvidia gpu and was not able to reproduce this. (Checked with the npdecimate filter in ffmpeg)

What gpu / driver version are you on? I'm on intel 23.20.16.4973 (hd630) and nvidia 391.01 (1050ti 4gb mobile)

[2018-06-15 23:09] Julusian commented on #923
@dotarmin which info commands are returning?
There is the commonly used `channel 1`, but there are others of varying usefulness.
I ask because I have found a bunch of dead code from `info template ...` and am wondering whether to remove it

[2018-06-15 23:17] #626 closed

[2018-06-16 13:41] PeterAkakpo commented on #872
What does it mean to set time code source to FREE. I i have tried CLOCK and it uses the system time.

[2018-06-16 14:06] PeterAkakpo commented on #872
i tried the following and the clip1 and clip2 played concurrently on their respective layers
BEGIN
play 1-0 clip1
play 1-1 clip2
COMMIT

the following only played the last clip2
BEGIN
play 1-0 clip1
play 1-0 clip2
COMMIT

the question is how can we schedule multiple command on the same layer to play one after the other

--using the following commands also just plays the last command (from the docu

[2018-06-16 14:20] baltedewit commented on #872
Free running means it starts at 00:00:00:00 when you start the server and then it keeps running from there on.

I'm afraid you have misunderstood that. What it means is you can execute multiple commands on a single frame, e.g. a MIXER command and a PLAY command. If you schedule two PLAY commands on the same frame then they will both be executed that frame, so two play commands on the same frame.
Y

[2018-06-16 19:33] #879 closed

[2018-06-16 20:39] #115 closed

[2018-06-16 20:39] ronag commented on #115
https://github.com/CasparCG/server/pull/1022

[2018-06-16 20:39] ronag commented on #487
https://github.com/CasparCG/server/pull/1022

[2018-06-16 20:39] ronag commented on #995
https://github.com/CasparCG/server/pull/1022

[2018-06-16 20:39] #995 closed

[2018-06-19 09:50] PeterAkakpo commented on #872
Just as a response in the form RES token PLAY OK is sent when a schedule starts playing, I think it will also  be good to have a response after it has finished playing  or something to check the state of each schedule

[2018-06-19 19:23] Julusian commented on #872
@PeterAkakpo I can see why you would want that, but that would not be easy to add. After a producer is created, there is no knowledge of where it came from, which makes async responses pretty impossible without some large changes.
That would also be a pretty big change in how the amcp protocol behaves, so I expect is unlikely to happen anytime soon.

If you need that data, you could either schedul

[2018-06-20 09:54] PeterAkakpo commented on #872
Thanks Julusian , I think I will go for the first option. Osc is not perfect for such situations because it is not consistent with all media types,  using the file/time or file/frame string sometime reports the same increasing value for position and duration from start to finish, duration is never constant, mkv file as one such example, and that really messed by my client application. This is not

[2018-06-20 10:10] PeterAkakpo commented on #872
I want to know the difference in terms of execution between these sets of command
1. Schedule set 1 13:00:00:00 play 1-0 blue
    Schedule set 2 13:00:00:00 mixer 1-2 clear

And

2. Begin
    Schedule set 1 13:00:00:00 play 1-0 play blue
    Schedule set 2 13:00:00:00 mixer 1-2 clear
    Commit

If the result is the same, then what's the importance of the begin/commit commands

[2018-06-20 10:34] Julusian commented on #872
There is no difference between those, the batching syntax was added as it internally uses a lot of the same code and is another requested feature.

In your example at 13:00:00:00 it adds a single command to command queue which will perform the play and mixer in the same tick.
The begin/commit syntax allows you to queue this same 'single' command without having to create it through the scheduler.

[2018-06-21 14:30] Hjesus opened #1024 "Server 2.2 bug in showing the channel at device 2."
### Current Behaviour
I have to devices. Both is set up with 1920x1080. Device 2 is ment to be set to 1280x720 on startup of CasparCG Server and show Channel 1.
But what happens is that Device 2 is set to 1536x864 and starts at x=1537 y=0 on device 1 and then shows the rest on device 2.
This is how it looks on server 2.2
![casparcg_2 2](https://user-images.githubusercontent.com/40465964/41725466-2

[2018-06-21 20:01] MauriceVeraart commented on #995
#1022
works like a charm nice one

[2018-06-23 21:49] PeterAkakpo commented on #857
Any word on this will be appreciated, is it that it not an important feature or its not possible to implement.

[2018-06-24 06:01] baltedewit commented on #857
I know @julusian looked into the background producer and IIRC it is not trivial to send out information from there. That's due to the way osc data is gathered every frame, so when a producer is not producing frames it can't "send" or rather "give" any data.
What other status report do you need apart from paused / playing for the currently playing producer? I could imagine combining playing / pausi

[2018-06-24 16:43] PeterAkakpo commented on #857
currently LOADBG send a response "RES ID 202 LOADBG OK" at load time , but does not send a
"RES ID 202 PLAY OK" when AUTO is set.
is it possible for LOADBG to send RES ID 202 PLAY OK when being played?

[2018-06-24 18:13] baltedewit commented on #857
Quoting Julusian from an answer to one of your earlier questions:

So no, unfortunately that is technically not possible, let alone if it would be expected / wanted behaviour at all.

[2018-06-24 22:18] PeterAkakpo commented on #857
@baltedewit my question was not about OSC.

[2018-06-24 22:37] PeterAkakpo commented on #857
@baltedewit  lets assume this statement is entirely true:

After a producer is created, there is no knowledge of where it came from, which makes async responses pretty impossible without some large changes.

how was it possible to report the OSC PAUSED state when the producer had already been created. is that an exception

[2018-06-25 04:04] baltedewit commented on #857
awesome, I'd love to see a PR from you then.

[2018-06-26 07:13] dotarmin commented on #1024
@Hjesus I assume you use `<width> and <height>` to set device 2 to be 1280x720, is that correct? Your video-mode is 1920x1080 according to your text and the size of screen-consumer window will be set to 1280x720...

Can you provide some more information such as your config-file.

[2018-06-26 18:35] Phil403 opened #1026 "Playing a file outside of media folder"
just wanted to bring up the question if it is possible to play a file outside of the media folder.
The file would not be checked in the database by media-scanner but technically the playback should work.

[2018-06-27 07:10] dotarmin commented on #1026
Yes it's possible. You use `<media-path/>`element in the `casparcg.config` to determine where to play your media files from.

[2018-06-27 07:11] #1026 closed

[2018-06-27 07:13] dotarmin commented on #1024
ping @Hjesus

[2018-06-27 07:42] vimlesh1975 commented on #1026
Yes it is possible to play from anywhere. Command is like below
`Play 1-1 "D://my folder/my file.mp4"`
I have made a client for this.

![play_from_anywhere](https://user-images.githubusercontent.com/4338487/41959692-567b8c5a-7a0b-11e8-935d-469e628495f9.png)

Download from here.
[https://casparcgforum.org/t/simple-video-playout/61](url)

[2018-06-27 08:58] Phil403 commented on #1026
Thanks vimlesh
I used the wrong slashes... It works now

[2018-06-28 09:22] Julusian opened #1027 "Update decklink sdk (Rec. 2020 support)"
Related: #885

The 10.11 SDK added support for Rec. 2020 conversions. We should update the sdk headers so that it can be used.

We need to make sure that this won't limit the range of supported drivers, as many users have preferences on specific versions that work well and won't want to upgrade unless they need this colour space.

[2018-06-28 09:30] Julusian commented on #325
Something worth noting on this, is that the supported pixel formats from the decklink sdk are very limiting, with no format that is both 10bit and with an alpha channel.

[2018-06-28 10:37] dotarmin commented on #1027
I had some issues where my output from decklink was flickering after a couple of seconds. What I noticed (and reported to BMD) was that using Desktop Video v10.8.2 worked like a charm without flickering and by using Desktop Video v10.9 and higher it started to flicker and only from decklink output.

However I did a lot of tests to find out what the issue was and I found that it's related to the sy

[2018-06-28 10:40] jesperstarkar commented on #1027
Have seen similar issue with flickering in >10.9, and reverted to 10.8.3 on advice from @Julusian as he knew about your current issues.

[2018-06-28 10:47] dotarmin commented on #1027
That's correct @jesperstarkar, I have been talking with @Julusian about this issue just to get a second opinion or just see what he thinks. It's really interesting issue and I will find time to put this in the help-repository and in the Wiki. It should also be mentioned in the forum.

[2018-06-28 12:20] MauriceVeraart opened #1028 "Stay on top not wroking sometimes"
Hi all
### Current Behaviour
the stay on top function sometimes does not work.
say one in 20 times it does not initialize the "on top function"

[2018-06-28 16:19] Julusian commented on #1028
I wonder whether the request to make it topmost fails, I didnt realise that the functions returns a value we could check. Im not sure what we can do if it does fail though.
https://msdn.microsoft.com/en-us/library/windows/desktop/ms633545(v=vs.85).aspx

[2018-06-28 19:05] peterbbc opened #1029 "FFMPEG Video Playback Stuttering"
Getting an issue where FFMPEG is stuttering on playback of a h.246 file.
The file is fairly large dimension wise (5568 x 576) but very short and is only 123MB.
Weirdly we've played back files with the same dimension and a longer duration with no visible issues and have no problems playing files that aren't quite as wide.

I've tried on the latest build and the original 2.2.0 Beta release and get t

[2018-06-29 04:58] baltedewit commented on #1029
![afbeelding](https://user-images.githubusercontent.com/9898648/42073508-84d09796-7b67-11e8-9c6e-0780dc836436.png)

Doesn't seem to be an issue to play in command line ffmpeg 3.4 @ronag
I also ran a quick check with our 2.1 branch and that also plays back fine.

I've tried to reencode your file using a pix format of yuv422p (instead of yuv422p10le) and a fastdecode tune. This cuts my CPU use while

[2018-06-29 18:41] Julusian commented on #1024
@Hjesus Ive just had a quick test of this, and it looks to be working fine for me. It would be good to have your config to double check it is all correct there

[2018-06-30 18:11] akr4m opened #1030 "How Can I get the Playing Video Clip's Remaining Frames to End?"

[2018-07-01 07:54] dotarmin commented on #1024
I will close this issue for now and can open it again on request or if @Hjesus needs more help.

[2018-07-01 07:54] #1024 closed

[2018-07-01 08:00] dotarmin commented on #1029
Hi @peterbbc!

Thanks for reporting this and for all the information provided, it helps a lot!
Does the playback stutter when looking at the video when looking at it in a screen-consumer?

Best regards,
Armin

[2018-07-01 08:03] dotarmin commented on #1030
Could you please provide more information? I'm not sure what you you're asking and it's really hard for the community to help you out when information is lacking.

Best regards,
Armin

[2018-07-01 08:08] dotarmin commented on #1018
Hi @Julusian!

I'm not sure if I labeled this correctly as a bug but I'm doing so anyway. The file should play neither less what case is used. In my world it should already work because Windows it-self is not case sensitive as Unix but it should be fixed to work smoothly.

/Armin

[2018-07-01 08:15] dotarmin commented on #1004
Closing this and referring to #871

[2018-07-01 08:15] #1004 closed

[2018-07-01 08:19] dotarmin commented on #930
I agree. I'm not sure how this would fit into the server it-self. I'm really trying to find another perspective on this but I really don't see it yet.

[2018-07-01 08:30] dotarmin commented on #991
@gizahNL, can you please test this with later builds and close the issue if it works?

Thanks in advance!

/Armin

[2018-07-01 09:09] akr4m commented on #1030
**_PLAY 1-1 AMB_**
this command means in 1 layer **amb.mp4** filename video is playing.
What is remaining time to end this **amb.mp4** file video?
I mean I need to know the playing video file information (How many frames/seconds are successfully played? And remaining frames to end that video clip?)

[2018-07-01 09:54] peterbbc commented on #1029
@dotarmin - Not sure, I'll have to check! I'm back in the office Wednesday so will do it first thing!

Probably also worth noting I've tried a few different Decklink and nVidia drivers with no improvement!

@baltedewit - I tried using yuv244p encoding as well with no joy and yuv420p. Didn't seem to make a difference sadly!
Out of interest what else did you change of the re-encode?
All the media fo

[2018-07-01 10:12] baltedewit commented on #1029
Most notably, I changed the crf to something like 18, using a 50mbit bitrate with a fastdecode tune. My ffmpeg wasn't compiled for 10bit colour so it encoded in 8bit as well (although I didn't mean to do that)

[2018-07-01 10:29] baltedewit commented on #930
Not going to go on a rant here but have you tried to do a full implementation of OSC client sided yet? Over 2.0.7, 2.1.0 and 2.2.0 we've changed the structure of the paths just as many times. Then there's the wonky client/server set up, where the amcp client becomes the osc server. Causing multiple amcp connections from the same machine to not be able to use osc at the same time. And let's not for

[2018-07-01 11:42] dotarmin commented on #1029
Probably also worth noting I've tried a few different Decklink and nVidia drivers with no improvement!

Another thing you could try when you're back is to play the file using Media Express from BMD (installed when installing Decklink Drivers) and see if it stutters.

[2018-07-01 12:01] dotarmin commented on #930
Feel free! 😄

I can agree about OSC paths having been changed, most notably between 2.1.0 and 2.2.0 and that OSC is not the "quickest" thing to work with, I understand that. But I'm still skeptical about this (or neutral) but that can have to do with my lack of not working with Ember+ that much. I'm just trying to get new picture on this and understand how it would fit into the server! :bowtie:

I

[2018-07-01 23:04] Julusian commented on #930
I think something worth discussing for some distant future release is could ember+ (or something else) replace amcp too? Not doing to do in a hurry, as I too don't know enough about ember+ or other protocols to know what would fit best.

My reasoning for this is that the amcp parsing code can sometimes get confused (`play 1-10 loop`) or some commands arent very easy to understand unless you know e

[2018-07-02 23:08] akr4m commented on #1030
Can you provide me an example for 2.2 please?
I am building with Dot Net C Sharp Language.

[2018-07-03 08:35] jesperstarkar opened #1031 "Feature request: Log level command - query current log level"
## Get current log level:
### Desired Behaviour
[code]

### Current Behaviour
[code]

## Set invalid log level:
### Desired Behaviour
[code]

### Current Behaviour
[code]

[2018-07-03 10:59] PeterAkakpo commented on #1008
@Julusian what is a sting transition, how does the visual look like

[2018-07-03 11:09] premultiply commented on #1008
A stinger transition is an keyed animation which runs during/over a classic transition between two sources/clips. This can be seen often in sport events when switching from live camera to slowmotion replay and back to live again.

[2018-07-03 11:12] jesperstarkar commented on #1008
This feature consists of two parts:
1) The mask transition: Instead of just mixing, wiping, sliding between two clips, you can now use a video file to mask the transition. Create the mask clip however you'd like. Black pixels show the current playing clip, white pixels show the next playing clip and values between do alpha blending. This way you can "paint" out the old clip with the new however yo

[2018-07-03 13:04] TKooijmans commented on #1029
BMD media express does not support H264 only Mjpeg avi and uncompressed avi

[2018-07-03 13:11] TKooijmans commented on #986
Folks, any news on this issue?
Can we use FFmpeg params in other way?
examples?
I want to test recording and streaming output.

[2018-07-04 07:08] peterbbc commented on #1029
@TKooijmans is correct, Media Express wouldn't let me import a H.264 file so I can't test that unfortunately.

@dotarmin I tried with a single screen consumer (and all other consumers removed) and got the same result (log below) so it's not specific to the Decklink consumer.

@baltedewit Interesting. I tried a couple of different options and found the following:

- CRF 0 - yuv422p10le - Stuttering

[2018-07-04 07:53] didikunz opened #1032 "Feature request: Support for DataVideo TC–200"
Support for DataVideo‘s [TC–200](https://www.datavideo.com/product/TC-200). It has been discussed earlier, but I can not find a feature request here. The TC–200 uses a unique way to pack the fill and key signal to a standard HDMI signal, by packing the U and V together into one color channel and use the spare one fpr the key. By adding this packing mechanism to the screen consumer we could add an

[2018-07-04 09:10] dotarmin commented on #1029
You're right! I forgot it was a H.264 file.

This is kind of good because we can exclude potential Decklink only issues. Have you tried to play the file with ffmpeg directly?

[2018-07-04 09:18] peterbbc commented on #1030
It would probably be worth reading up on OSC first - http://opensoundcontrol.org/introduction-osc - Without the understanding of how an OSC packet is formed is tricky to explain why simply parsing them as a string doesn't give you the result you'd expect.

You also need to be aware that CasparCG requires you to either setup a fixed OSC server address or connect to CasparCG via AMCP at which point

[2018-07-04 09:24] akr4m commented on #1030
@peterbbc Thank You So much..Dear

[2018-07-04 09:36] Julusian commented on #1029
I suspect this could be a cpu performance issue. Even though the cpu is not being maxed out, the video decoding could be too single threaded, or it could be one of the ffmpeg filter steps (eg checking if needs deinterlacing, colour space conversion).

If you could try in ffplay from https://ffmpeg.zeranoe.com/builds/win64/static/ffmpeg-20180219-acdea9e-win64-static.zip that will help rule out whet

[2018-07-04 10:18] peterbbc commented on #1029
@Julusian @dotarmin Tested with ffplay on the Caspar machine and it appears to play smoothly. It's certainly much better than playing it back via Caspar. ffplay console output attached.

It also plays back fine in VLC on my Desktop (i5-4590 @ 3.3Ghz / 8GB RAM / Intel HD 4600 / Spinning Disk) and not quite perfectly but still better than Caspar in ffplay.

### Attachments
[ffplay_output.txt](https:

[2018-07-04 10:25] ronag commented on #1029
I will take a look next week.

[2018-07-04 17:24] didikunz commented on #1032
I would buy one of these and lend it for testing...

[2018-07-04 17:29] drakmor commented on #1032
I have one, I can check something.

[2018-07-04 22:49] Julusian commented on #1001
@ronag This started with the commit https://github.com/CasparCG/server/commit/e018e25acd424cea1ec0b1f2fe784a4ba5850382
In particular this block:
https://github.com/CasparCG/server/blob/3c77a8378fde2384200a6494e2204a3acecd1b99/src/accelerator/ogl/image/image_shader.cpp#L265-L268
By changing that back to `return texture2D(sampler, coords);` there is no longer any quality loss, so that algorithm need

[2018-07-05 05:31] baltedewit commented on #826
Hi Andy,

Whoops, seems like your reply fell through.
The essence of this issue is that we need a small tcp proxy that will catch all the `CG` commands, convert them to commands such as `PLAY`, `CALL` etc. and transparently proxy any command that isn't a `CG` command.

The only thing changed in the server internals is that we'd remove the `CG` commands, but that's only a second step to this. If yo

[2018-07-05 05:38] baltedewit opened #1033 "LOAD + LOADBG + PLAY makes the background layer play"
Assume the following command sequence:
[code]

### Expected Behaviour
AMB will play, once it finishes, GO1080P25 will play.

### Current Behaviour
GO1080P25 plays immediately after the play command.

### Environment
Tested on 2.1 and 2.2

[2018-07-05 05:56] baltedewit commented on #1032
Seems like this can be achieved with a simple shader.

[2018-07-05 08:55] Julusian commented on #1032
@baltedewit I agree.
The screen consumer isnt currently using shaders as it was simple enough to not need it, although I have been thinking that one would need to be added anyway to do key-only or sbs-key efficiently.

[2018-07-05 09:34] Julusian commented on #1033
This is happening because after using load, the foreground producer is classed as paused, with no way of identifying it as never having started playback.

[2018-07-05 09:42] baltedewit commented on #1033
Huh, I guess that's technically intended behaviour then, although a little counter intuitive. Apparently already documented as such as well, my bad.

[2018-07-05 09:42] #1033 closed

[2018-07-05 09:53] Julusian commented on #1033
I think this should be done (as a enhancement rather than bug) as it is confusing and not what I would expect to happen. It would be a simple thing to do too.

Is there documentation on it? I checked the code to determine that

[2018-07-05 10:04] baltedewit commented on #1033
Yeah, it's noted on the wiki: https://github.com/CasparCG/help/wiki/AMCP-Protocol#load

[2018-07-05 11:32] jesperstarkar commented on #1033
Does this mean that `RESUME` instead of `PLAY` works?

[2018-07-05 11:36] Julusian commented on #1033
@jesperstarkar yes, that is correct.

I still think this is something that wants to be looked at though, as the clip that via LOAD was technically never played, so if mixing LOAD and LOADBG it will get rather confusing on how to play the LOAD clip

[2018-07-06 14:30] ronag commented on #1007
This can be implemented in user space.

[2018-07-06 14:41] respectTheCode commented on #1007
Someone had suggested allowing AMCP over WebSockets a while back. This would allow HTML templated to connect directly to CasparCG and get all the info they need. Right now implementing this as a template requires a standalone app to proxy data from CasparCG to the template. This adds complexity and another failure point.

[2018-07-06 14:41] ronag commented on #1007
I will probably create an OSC -> Websocket proxy.

[2018-07-06 14:42] ronag commented on #1007
I agree. Having a websocket endpoint in CasparCG would be very useful.

[2018-07-06 14:52] jesperstarkar commented on #1007
Yes, you guys sum it up exactly how we have done too.

But: please notice there's two things to this idea:
1) the ability to route the background layer for previewing on another channel.
2) the OSD idea.

1) could arguably be done clientside, if you use custom clients and have full control of the environment. However, especially for OB ad-hoc operations and running shows from the official client,

[2018-07-06 14:55] jesperstarkar commented on #1007
@Julusian has done a great job and implemented the background layer producer: https://github.com/nrkno/tv-automation-casparcg-server

[2018-07-08 04:09] #1031 closed

[2018-07-08 07:57] dotarmin commented on #1007
Will you create a PR for this or what's the status?

/Armin

[2018-07-08 08:03] dotarmin commented on #1030
@akr4m Is this solved? :)

[2018-07-08 08:10] Julusian commented on #1007
@dotarmin yes, a pr shall be coming soon.

[2018-07-09 07:53] premultiply commented on #1032
Does anybody have an exact specification how this is implemented?
There can be several ways. I think a YUV 4:4:4 signal is sent through HDMI where 4:2:2 is fill and the remaining "0:2:2 space" is recombined as key channel. So as result after remapping you will get 4:2:2 + 4:0:0 at SDI outputs.

[2018-07-09 08:37] drakmor commented on #1032
You can download software https://www.datavideo.com/product/CG-200 and test it on second HDMI monitor.

[2018-07-09 11:45] Julusian commented on #379
I have been thinking about this problem quite a bit lately. After doing a load of research on various aspects and considering whether we could change to another license, I have a conclusion that I think is reasonable. So far I have only been thinking in terms of the NDI lib, but I expect the same can be extended to decklink and others.

First off, we have to stay with the GPL. We link against ffmp

[2018-07-09 12:15] Palakis commented on #379
I believe we can use the NDI MIT headers, and ask the user to install the optional NDI runtime themselves if they wish without the project violating GPL.

I definitely second you on this!

[2018-07-10 08:19] 20mchop opened #1036 "Audio Slowed down and glitching at 59.94 in Caspar CG"
Hi Everyone

I am having the following problem when trying to playback any file in caspar that is 59,94 framrate. The audio sounds slowed down, and glitchy as well as the video has micro stutters. This is extremely weird as just last week i played back 59,94 content with absolutely no problem.

I also noticed i could get CG to play back 29,97 content and it would use its converter to double the fr

[2018-07-10 10:00] vinchi9 opened #1037 "FFMPEG Producer not connecting filters properly"
### Expected Behaviour
FFMPEG Producer should connect filters specified by PLAY command correctly.

### Current Behaviour
FFMPEG Producer tries to connect video filters with audio filters and fails. Filter connecting is working properly in CasparCG 2.1.0. Error log in Attachments.

### Steps to Reproduce
I am playing HLS stream with FFMPEG filters via this command:
[code]

### Environment
* Caspar

[2018-07-10 11:47] vinchi9 opened #1038 "Memory leak on linux with CasparCG 2.1.0"
### Expected Behaviour
CasparCG should destroy old FFMPEG producer threads after calling STOP command. This should work for the entire runtime and not only for a few hours after start.

### Current Behaviour
CasparCG has been running properly for 2 hours, but then it stopped destroying old FFMPEG producers resulting in 100MB increase in memory usage every time I play new HLS stream. In the end Cas

[2018-07-10 13:28] ronag commented on #1038
CCG 2.1 is no longer under development.

[2018-07-10 13:28] #1038 closed

[2018-07-10 13:29] ronag commented on #1037
Should be:
`play 1-1 http://someserver.com/index.m3u8 -filter:v scale=1280:720,unsharp=luma_msize_x=3:luma_msize_y=3:luma_amount=3.0`

[2018-07-10 13:29] #1037 closed

[2018-07-11 02:03] vinchi9 opened #1039 "Can't play HLS stream with 0 audio channels"
### Expected Behaviour
It should be possible to play HLS stream with audio stream and 0 audio channels, in version 2.1.0 it worked without any problem.

### Current Behaviour
CasparCG fails to play HLS stream with 0 audio channels. Error log is in Attachments.
Stream codecs info:
[code]

### Environment
* CasparCG Server version: CasparCG Video and Graphics Playout Server 2.2.0 e113f8c Beta 1
* Op

[2018-07-13 17:07] premultiply commented on #1001
Is it a problem to simply change (revert) it to `texture2D()` again in source to fix it? @ronag Why was it changed to `textureBicubic()`?

[2018-07-13 17:20] ronag commented on #1001
Higher quality. But there is no significance. Can easily be reverted.

[2018-07-13 19:42] Julusian commented on #1032
This will be nice and easy with #1040 as it will just be a new option to use some colour conversion inside the shader.

[2018-07-15 17:22] MauriceVeraart commented on #1001
will do later this week
thanks

[2018-07-16 05:11] dotarmin commented on #1001
I would love to help testing this but I'm away for a couple weeks on vacation. Please let me know if I can do anything else to help out.

Best regards,
Armin

[2018-07-16 14:44] bobyorke commented on #1027
I hope you don't mind me chiming in here, but I've just been looking at the SDK for other purposes—I'm trying/intending to implement some basic/static ancillary data on the Decklink consumer output. The 10.11 SDK also allows for the ancillary pixel format to differ from the active-picture pixel format, which is a big step for working with ancillary data (saves everything from having to be 10-bit Y

[2018-07-16 14:50] ronag commented on #916
Fixed. 87791e16fbe1430f50811cfcd85c0abfcabee5d6

[2018-07-16 14:52] bobyorke commented on #92
I've noticed that the latest (10.11) SDK now has some new ancillary-data interfaces, and now allows for the pixel format of the ancillary data to differ from the active picture—and neither has to be 10-bit YUV! This looks to be quite a big step for handling ancillary data.

However, the documentation still states that for capture the pixel format for ancillary data has to match video capture (expe

[2018-07-16 17:16] drakmor opened #1043 "Exception when try display error on national language"
May'be help - https://stackoverflow.com/questions/3760731/exceptions-with-unicode-what

### Expected Behaviour
Get normal text of current error ("can't connect")

### Current Behaviour
Boost exception and no valid error message

### Steps to Reproduce
0. Set Russian system locale
1. Close "scanner.exe"
2. Run "casparcg.exe"
3. Send "CLS" command

### Environment
* CasparCG Server version: 2.2.0 e1

[2018-07-16 18:33] dotarmin commented on #1043
Do you start it again?

[2018-07-16 19:43] drakmor commented on #1043
No. Special for get connection error.

[2018-07-16 19:45] TomKaltz commented on #838
Is there any update for this?

[2018-07-17 07:44] dotarmin commented on #1043
You need to have scanner running to be able to do a CLS, TLS etc.

[2018-07-17 12:46] #1043 closed

[2018-07-17 14:14] ronag commented on #1001
I'm closing this. Please re-open if the problem remains.

[2018-07-17 15:14] ronag commented on #998
Please try with latest master.

[2018-07-17 15:14] ronag commented on #953
Please try with latest master.

[2018-07-17 15:14] #1001 closed

[2018-07-17 15:15] #916 closed

[2018-07-17 15:15] ronag commented on #976
Haven't seen this error in a while. @dotarmin please let me know if you encounter it with latest master.

[2018-07-17 15:15] #976 closed

[2018-07-17 15:16] ronag commented on #1039
That just weird. What kind of file it that?

[2018-07-17 15:23] #1030 closed

[2018-07-17 22:35] ronag commented on #975
What could be better? Can we merge it as a step 1?

[2018-07-17 23:05] Julusian commented on #975
It doesn't distinguish any of the console log levels (eg console.warn) and parameters are not logged in the same way as they are to the console within chrome. I believe this is a limitation in the chromium api, which is what I was wanting to look into again to confirm.

[code]

[code]

[2018-07-17 23:24] ronag commented on #975
Thanks! Feel free to improve.

[2018-07-17 23:24] #975 closed, assigned to ronag

[2018-07-17 23:25] #998 closed

[2018-07-18 07:48] ronag commented on #953
The problem is with the file. It has discontinuous timestamp. Will try an easy workaround.

[2018-07-18 07:49] ronag commented on #1010
The problem is with the file. It has discontinuous timestamp. Will try an easy workaround.

[2018-07-18 07:50] ronag commented on #953
@grahamspr86  sorry for the long delay, do you think you can help out troubleshooting this again?

[2018-07-18 08:21] Julusian commented on #1013
@ronag why has this been closed?

[2018-07-18 08:38] grahamspr86 commented on #953
@ronag I can see the server off and see what happpens? Has something changed you think might have fixed it?

[2018-07-18 08:40] drakmor commented on #975
Print only first argument - is bug of CEF https://bugs.chromium.org/p/chromium/issues/detail?id=365427

[2018-07-18 08:52] ronag commented on #953
I've updated ffmpeg and simplified some of the code. Would just like a confirmation and another description on how to reproduce.

I have a very limited time budget so I would like to avoid "wasting" it on experimenting with reproducing.

[2018-07-18 09:02] ronag commented on #953
@grahamspr86 and also please make sure to run with <loglevel>debug</loglevel>

[2018-07-18 09:14] grahamspr86 commented on #953
@ronag from my previous testing I wasn't able to make it fail with the log level set to debug, left it running for days. If I turned the log level back to normal it would full over again!

[2018-07-18 10:02] ronag commented on #853
This should be fixed.

[2018-07-18 10:02] #853 closed

[2018-07-18 10:18] ronag commented on #878
Needs to be dividable by 4. Fixed in FFMPEG producer. Might need a better fix in the future in the OGL code.

[2018-07-18 10:18] #878 closed

[2018-07-18 10:21] ronag commented on #974
@Julusian do you think you could look into this one?

[2018-07-18 11:09] peterbbc commented on #1029
Works for me!
It's just a bit of an odd one that very similar graphics have had no issues yet this particular one did.

We've been running then with CRF 17 & YUV422p which seems to make them visually smooth (even if ffmpeg still reports dropped frames).
I've not had any complaints since making the change 2 weeks ago but if I get any I'll go up to CRF 20 and YUV420p.

Be nice to see the performance

[2018-07-18 11:48] drakmor opened #1051 "[Q] Audio / Video stream time offset when capturing with DeckLink Duo 2 / Quad 2 in Half Duplex"
**It's actual for us?**

https://www.blackmagicdesign.com/developer/support/faq/desktop-video-developer-support-faqs

When starting a capture operation with the DeckLink Duo 2 / Quad 2 configured as half-duplex [1], it may take a short time before input locks, as in this configuration the sub-devices which default to playback may take a short amount of time to switch from playback to capture.

Dur

[2018-07-18 12:35] drakmor commented on #878
http://media.streamone.net/hlslive/account=gCRIPoIbRB0W/livestream=v6IEh8-CC9YW/v6IEh8-CC9YW.m3u8 -   Stream #0:1: Video: h264 (Main) ([27][0][0][0] / 0x001B), yuv420p, 852x480 [SAR 1:1 DAR 71:40], 25 fps, 25 tbr, 90k tbn, 50 tbc

852/4=213 dividable by 4 but not work

[2018-07-18 12:40] ronag commented on #878
Probably depends on drivers as well. I've changed it to 16.

[2018-07-18 12:45] ronag commented on #878
Ah, a better fix is to set `GL_UNPACK_ALIGNMENT`

[2018-07-18 13:03] ronag commented on #953
Do you think you can try running it in release mode from Visual Studio? The debugger should be able to catch more information even if in release mode.

[2018-07-18 13:09] ronag commented on #1039
Can I have access to the stream? Or some other way to reproduce the issue?

[2018-07-18 13:10] ronag commented on #1039
This should be fixed. Can't verify though. Re-open if issue remains.

[2018-07-18 13:10] #1039 closed

[2018-07-18 14:46] Julusian commented on #974
@ronag I can't reproduce this. I have tested it on both windows and linux, both via PLAY and CG and window.clearTimeout exists and works normally.

[2018-07-18 14:57] ronag commented on #1010
Seems to be a ffmpeg bug :/. Fixed in master. Please test.

[2018-07-18 14:57] #1010 closed

[2018-07-18 14:57] #974 closed

[2018-07-18 16:02] ronag commented on #923
`INFO 1` i.e. channel info is implemented. It directly converts OSC state into XML and outputs it. I need feedback.

[2018-07-18 22:05] Punkley commented on #923
ive got a pretty big gig this weekend, I will check straight after :)

[2018-07-19 15:04] ronag commented on #980
@dotarmin can we move this to 2.3?

[2018-07-19 15:16] Julusian opened #1055 "LOAD 1-10 DECKLINK 1 always shows black"
### Expected Behaviour
A frame of the input signal should be shown

### Current Behaviour
It always shows black, not even a transparent frame.

### Steps to Reproduce
Connect a valid source to the decklink.
[code]

### Notes
There are 2 parts to this
1) the decklink outputs a few frames of black when initializing. We could try to not output these frames, but that could get complicated if there is

[2018-07-19 18:16] #977 closed

[2018-07-20 08:15] jesperstarkar commented on #486
@ronag is this still valid? I have no system to test on this week. Also, if valid - is it really 3.0 and not 2.x?

[2018-07-20 08:56] ronag commented on #486
Can't reproduce in 2.2.

[2018-07-20 08:56] #486 closed

[2018-07-20 20:00] dotarmin commented on #953
@ronag, I'm currently on vacation but I'm back in my hometown for a couple of days before we leave again. I can try to reproduce this error tomorrow or at least start some tests that runs over the weekend with latest build. I could actually run two setups in parallel, one with normal log-level and one with debug just to see what happens. I'm not sure if I will have time tomorrow to setup a dev env

[2018-07-20 20:10] dotarmin commented on #923
I will check this tomorrow as well. However I'm not sure I will be able to give you instant feedback as you hoped until it has been evaluated more, which can be done when I'm back from my vacation.

@5opr4ni will you have some time for checking this while I'm away?

Thanks! Good luck with the gig! 😄

[2018-07-21 10:57] dotarmin commented on #652
Will this also work for decklink input?

[2018-07-21 17:18] edinc90 opened #1056 "Embedded audio clicking when file and channel have different frame rates"
## Issue
I'm playing back some 29.97p video (H.264 mp4) on a channel set up as 59.94i with embedded audio. Output is a Decklink Quad 2. There's a constant clicking in the audio track. If I change the channel to 29.97p the clicking goes away.

### Environment
* CasparCG Server version: 2.0.7
* Operating system: Windows 10 Pro

Decklink drivers: 10.9.11

[2018-07-21 17:56] TomKaltz commented on #1056
2.0.7 is no longer maintained and 2.2 currently doesn’t have support for
NTSC framerates.

See #838

On Sat, Jul 21, 2018 at 12:18 edinc90 <notifications@github.com> wrote:

--
Thomas Kaltz III
Sent from Gmail Mobile

[2018-07-21 18:36] edinc90 commented on #1056
Playing the same file with 2.1.0. Beta 2 works properly (no clicking.) Hoping 2.2 gets NTSC frame rates working soon.

[2018-07-22 08:42] dotarmin commented on #1001
Works like a charm now!

[2018-07-22 09:33] MauriceVeraart commented on #1001
Indeed problem solved

[2018-07-22 15:54] dotarmin commented on #923
I have been checking out this now and it looks good. However, I have some questions regarding the XML returned.

Why is there two `<fps/>`elements? Is the first child always the clips original fps? I have noticed that the second child is either 1 or 0, what does it stand for?
[code]

Is it guaranteed that the first `<time/>` element always is the current time of the playback and second one is alwa

[2018-07-22 15:57] dotarmin commented on #953
I could not reproduce this for the moment. I will give it a new shot when I'm back and will do that using VS instead.

[2018-07-22 20:45] dotarmin commented on #923
If it's documented well then it's maybe enough. How about the `<time/>` element? Can we guarantee the order of those? Especially important when parsing the XML, it would be hard to distinguish those.

[2018-07-22 21:02] ronag commented on #923
Same thing. Numerator & Denominator.

[2018-07-24 23:03] dverzolla commented on #962
Could you tell a little bit more about this topic. Am I pretty interested in.

[2018-07-25 10:25] PeterAkakpo opened #1057 "Ffmpeg consumer video filters ignored"
### Expected Behaviour

Video filters should be applied to both FILE  and STREAM command.
### Current Behaviour

Applying filters like -vcodec, -acodec,  -vf,  -preset,  including their short versions,  do not work.  You get a message saying that those options were unused. All these options works fine in version 2.1

### Steps to Reproduce
Start casparcg server 2.2 and play a video.  Now issue a c

[2018-07-25 12:23] vinchi9 opened #1058 "FFMPEG Producer does not apply video filters"
### Expected Behaviour
CasparCG should apply filters specified by -filter:v option to the video.

### Current Behaviour
When I try to play HLS video stream with -filter:v option, the video stream plays well, but the video filters are not applied and no errors are produced even with debug log level.

### Steps to Reproduce
I tried playing HLS stream with FFMPEG filters via these commands:
[code]
##

[2018-07-26 23:36] vinchi9 commented on #1058
I tried `filter` to add a filter chain, but in CasparCG 2.2 it resulted in badly connected audio and video filters. In [this issue](https://github.com/CasparCG/server/issues/1037) I was advised to use `-filter:v`, but it didn't have any effects.

I tried using `vf` as you suggest and it works well. Thank you very much.

[2018-07-27 19:45] saltomodules commented on #1010
Tested. Issue is solved. Thanks!

[2018-07-27 20:53] saltomodules opened #1059 "HLS streams freeze channel output in 2.2"
### Expected Behaviour
CasparCG 2.2 plays HLS streams in a stable manner and gracefully deals with network dropouts or delays.

### Current Behaviour
When playing HLS streams with CasparCG 2.2 it seems that any sort of network dropout freezes up the entire channel output (including any cg/html overlays).

Logging continues, INFO command still works, but new PLAY commands are no longer honoured.

O

[2018-07-27 21:05] saltomodules commented on #878
Retested with all file variations from the test file set posted above. All variations now work. Nice!

[2018-07-28 05:22] vimlesh1975 opened #1060 ""Info paths""
### Expected Behaviour
"Info paths" gives all path information of server in 2.07 and 2.1

### Current Behaviour
server 2.2 doesn't have this facility.

This information is used in custom clients to setup necessary things. Like
1. Getting clip list from file system.
2. Template list from file system.
3. Initial path of server is used for restarting server,  getting log files etc.

I can see these i

[2018-08-01 12:06] magnonellie commented on #1036
We also had this problem on a production we did this week. Playing a ~40 minute video resulted in about 1 second of delay in the audio by the end, not the mention the endless stutters in the audio. The video seemed fine to us though that may very well be the cause of less than optimal display hardware.

[2018-08-02 12:16] TondaKrist commented on #923
Works great except doubled info.
It is possible to implement info about background too in XML?
Like in old INFO command. To have info about cued/prepared video too.

[2018-08-03 16:01] TKooijmans commented on #1060
please see
info/Info 1 not currently working correctly #923

[2018-08-03 16:16] TKooijmans commented on #1057
I Noticed this to with all 2.2 build sofar...

[2018-08-06 07:05] pkeuter commented on #1057
Because all the parameters you mention are the shorthand versions. And as @baltedewit has already mentioned here: https://github.com/CasparCG/server/issues/984#issuecomment-385640417, you cannot use these anymore. Try using `-codec:video` for example.

[2018-08-06 19:17] TKooijmans commented on #1057
do you have a list of examples of the long versions?
Does this also work for streaming settings?

[2018-08-08 16:14] TKooijmans opened #1065 "WIKI FFMPEG Recording does not work"
When I try to record a file with CasperCG according the example on Wiki the result is not as expected.

ADD 1-1 FILE myfile.mov -codec:v libx264 -codec:a aac -filter:v scale=width=1280:height=720:out_matrix=bt709:out_range=full,format=yuv420p,fps=50

How can we get this right or is this broken with latest CasperCG build 2.2 builds?
Please provide examples

[2018-08-09 08:12] PeterAkakpo commented on #1057
Can someone point me to an ffmpeg link that documents these long versions of ffmpeg options?  From my
 Search,  I am yet to come across any document that talks about an option like "-codec:video".
If this is casparcg specific,  then I think a full documentation of these options should be made available.
There's been too much silence on this issue.