[2018-02-05 17:16] ronag commented on #619
Fixed in https://github.com/CasparCG/Server/commit/09dc703a625f228ec1c86543057bae08c516437d

[2018-02-05 17:16] #619 closed

[2018-02-05 17:52] k0d opened #736 "Move the source to one folder..."
I think it'd make sense to move the source (things that actually get compiled) into its own folder 'src'. This would help a lot with development inside docker by being able to mount the src folder directly.

I suggest these files/folders would move into the source folder.
[code]
Any suggestions/comments?

[2018-02-05 18:03] ronag commented on #736
I'm fine with it. I'll do it tomorrow.

[2018-02-05 18:16] ronag opened #737 "Client re fetches thumbnail after every Server restart?"
@dotarmin I need a client guy to help me here.

[2018-02-05 18:17] ronag opened #738 "OSC countdowns not working?"
@dotarmin I need a client guy to help me here.

[2018-02-05 18:17] ronag opened #739 "Client doesn't show durations on all clips?"
@dotarmin I need a client guy to help me here.

[2018-02-05 18:18] ronag opened #740 "THUMBNAIL, CLS, CINF, TLS, FLS commands should not block AMCP queue"

[2018-02-05 18:18] #740 closed

[2018-02-05 18:20] ronag opened #741 "Latency"
In order to improve performance and let OpenGL pipeline the latency for the image mixer and screen consumer has been increased. This should probably be configurable and maybe heuristic?

[2018-02-05 18:22] ronag opened #742 "Move node service into separate project?"
@dotarmin What do you think? What should we call it?

[2018-02-05 18:23] ronag opened #743 "Packaging with node service"
For windows will need node, ffmpeg and ffprobe distributed with the package. For linux it will need them installed on host?

[2018-02-05 18:23] ronag commented on #736
@k0d Could you do it and PR?

[2018-02-05 18:24] k0d commented on #736
sure...

[2018-02-05 18:27] ronag commented on #707
@dotarmin I think he means that he can get the corresponding or better functionality through the html producer.

[2018-02-05 18:29] baltedewit commented on #743
Note that Ubuntu 16.04's ffmpeg version is 2.8.11, I'm not sure if that could raise issues with supported codecs / libraries etc. Same story for node, the version from the repositories lags behind the released versions. (although not as majorly as ffmpeg, IIRC)

[2018-02-05 19:20] k0d commented on #742
In my project restructuring PR you can see I put it into it's own folder in the src folder...maybe that's a good solution? I called it media-library....but I'm sure there is a better name.

[2018-02-05 19:23] k0d commented on #743
We compile ffmpeg for the linux version of the server, so I guess we can distribute the binaries we build as well. NodeJS, we can either do the same thing, or use the official nodejs apt repo?

[2018-02-05 19:45] baltedewit commented on #743
For node, I think leaving the installation as a user responsibility is fine. We could provide links to information for Ubuntu too.

I feel like that would require a versioning of 3.0.0, major/breaking, and not 2.2.0, a feature update.
Or, will the old AMCP commands still be there? Then we could make this entirely optional as well.

[2018-02-05 19:51] baltedewit commented on #742
I think keeping this seperate from CasparCG is good. It would emphasize the flexibility of casparcg, but also: is it entirely related to the current codebase? It seems a reasonably independent program, so I think it deserves it's own repository.

Beyond that, is it really so great to have this implemented in node or should we aim for better integration? Looking at a future http / websocket protoco

[2018-02-05 19:54] ronag commented on #743
@baltedewit the AMCP service uses the node service. No breaking change. We just want to move non critical things out of the CasparCG executable to improve stability and flexibility.

[2018-02-05 21:53] premultiply commented on #707
The PSD (and scene) producer is one of the most important new features in CasparCG. It is perfect to create standard templates for daily operation without perfomance issues and packaged to a single file.
If we are talking about dropping something in the future then it should be the Flash producer...

[2018-02-06 07:10] 5opr4ni commented on #707
Hi

The plan is not to drop these features, we just move them to the next release, we need to take a step back and make the core solid.
I totally agree that the PSD are a huge thing and there are a large amount of people that now Photoshop and are potential template producers, and the PSD is dependent on the Sceneproducer.

/Olle

[2018-02-06 10:10] dotarmin commented on #737
@ronag Yes it does, each time the connection state changes against a Caspar device it does this. Is this just a question or do you need some sort of action?

[2018-02-06 10:10] dotarmin commented on #738
What countdowns, for clips?

[2018-02-06 10:13] dotarmin commented on #739
That's correct, their is an open issue under the client regarding this [Client- Issue 189](https://github.com/CasparCG/Client/issues/189)

[2018-02-06 10:16] dotarmin commented on #742
I agree, I would be much better to have it separated from the server and let it live in a own repository. It could be included as a sub-module instead. The benefit of doing that would be that it would be simpler for community members to contribute to only the node-service only and would be much easier to review for others.

[2018-02-06 10:18] dotarmin commented on #742
Please see my answer above.

Good question! I thought it was well known that naming stuff isn't my strong side! You should ask my wife! 😄

[2018-02-06 10:20] dotarmin commented on #743
I think this as well, as long as we have an updated README with instructions on how to do this.

[2018-02-06 10:24] dotarmin commented on #707
I thought so as well but wanted just to check if we have missed something that we could catch.

@premultiply As Olle wrote we do not have any plans of dropping the PSD and Scene producers. We just moved those out from 2.2.0 to focus on a stable and solid core. It will be back!

Best regards,
Armin

[2018-02-06 11:32] ronag commented on #738
@dotarmin yes, we could take a look together on friday?

[2018-02-06 11:33] ronag commented on #737
The thumbnail list contains thumbnail size + mtime which should be enough for the client to determine which thumbnails are updated and therefore skip fetching them.

Preferably the client should fetch thumbnails lazily on demand instead of fetching thousands of thumbnails... so I guess this is a client issue?

[2018-02-06 11:34] dotarmin commented on #738
@ronag Sure, I think this is a duplicate of #739 of vice versa.

[2018-02-06 11:39] dotarmin commented on #737
Indeed!

I will move create an issue for the client and reference this.

[2018-02-06 11:39] #737 closed

[2018-02-06 12:21] dotarmin commented on #742
@ronag Name suggestions:

- CasparCG/content-scanner4server
- CasparCG/node-scanner4server
- CasparCG/media-scanner
- CasparCG/node-media-scanner

@k0d had a suggestion as well: CasparCG/media-library

[2018-02-06 12:33] Julusian commented on #743
I agree. I can think of a bunch of cases where I wouldn't bother running this service as I'm either not using local media and templates, or they are hardcoded into the control software

[2018-02-06 12:38] Julusian commented on #742
Or potentially fork and add their own custom behaviour. For example to add in a list of video streams or templates they load over http.

[2018-02-06 12:40] ronag commented on #742
https://github.com/CasparCG/media-scanner/settings/collaboration

[2018-02-06 12:40] #742 closed

[2018-02-06 12:41] ronag commented on #742
Exactly! Though we need to make the url configurable in the server. Currently it's hardcoded to  127.0.0.1:8000

[2018-02-06 13:47] ronag commented on #734
I've fixed CEF

[2018-02-06 14:16] dotarmin commented on #736
@k0d Good initiative! :)

[2018-02-06 14:50] #736 closed

[2018-02-06 14:50] ronag commented on #736
DOne

[2018-02-06 14:52] ronag opened #745 "Use CEF SDK from nuget"
Currently the CEF sdk stuff is hacked into the packages folder. There is a sdk package on nuget that we could use instead.

[2018-02-07 00:17] ronag opened #746 "Update README"
I did some cleanup but it needs to be properly updated.

[2018-02-07 00:18] ronag opened #747 "Update BUILDING"
The linux/docker instructions are not up to date

[2018-02-07 00:25] ronag opened #748 "apt-lists size"
Is there a way to avoid having apt-lists in the repo or possibly reducing its size? Almost 40MB.

[2018-02-07 00:28] ronag commented on #748
I suggest we create a docker base image with the apt-list and then derive from that so we don't need to have this in the repo. Is there no ubuntu docker image with reasonable up to date apt-list which are good enough?

[2018-02-07 01:19] Julusian commented on #748
@k0d why do we need to cache these? I was assuming it was so that the build would be consistent, but at runtime it will have the latest versions so is that a benefit?
What about if we have a separate repo which is for the docker image? That could push to dockerhub(or similar) and then the builds in this repo can pull that image? This would also mean we wouldn't need to compile boost or ffmpeg as o

[2018-02-07 13:58] k0d opened #749 "Fix warnings for "pragma once""
"warning: #pragma once in main file"

[2018-02-07 13:59] k0d commented on #749
@ronag please assign this to me, I know the fix...just making the issue so it's not lost.

[2018-02-07 14:20] #748 closed

[2018-02-07 14:20] #739 closed

[2018-02-07 14:21] #692 closed

[2018-02-07 14:21] #699 closed

[2018-02-07 15:17] Julusian commented on #712
If you are to resurrect the text producer code from 2.1.0, then I have some useful fixes: https://github.com/Julusian/CasparCG-Server/commit/6e37dd4abe10090529df7dbd0cecd5bd4aff2a20
Fixes #615 #627 and an edge clipping issue

[2018-02-07 15:25] 5opr4ni commented on #712
Nice!

[2018-02-07 16:53] Julusian opened #752 "Update CHANGELOG"
At the very least it should cover the module rewrites, module library updates, any other breaking changes.

Going as in depth as before might be too difficult due to the currently over 300 commits made, but could still be useful.

[2018-02-07 16:55] ronag commented on #752
@Julusian: I will try to put together some form of list. Unfortunately, I'm over budget already and under a lot of pressure to finish this up into a stable dist.

[2018-02-07 19:30] baltedewit opened #754 "Reset Config FIle"
This shouldn't be forgotten before the release.

reset the default config file to:
Default media paths inside the working folder
Default screen+audio consumer

Also, the default resolution has changed to 720p, but I'm not necessarily against that.

[2018-02-08 08:48] dotarmin commented on #738
@ronag We talked about this yesterday over Skype, is this fixed in the media-scanner by using fps when possible instead of timebase? I will create an issue for the Client regarding this.

[2018-02-08 10:54] ronag commented on #738
No, that was regarding CLS & CINF. Though it might have fixed the countdowns. Do they work now?

[2018-02-08 11:07] #743 closed

[2018-02-08 11:07] ronag opened #758 "Performance issues when seeking & looping"

[2018-02-08 11:07] ronag opened #759 "Straigth alpha output"

[2018-02-08 11:08] ronag opened #760 "Avoid excessive logging"
THUMBNAIL, CINF, CLS etc... does excessive logging. Not quite sure how to handle this.

[2018-02-08 11:08] ronag opened #761 "Shutdown sometimes deadlocks"

[2018-02-08 11:16] ronag commented on #716
@jamesdwise if you make a PR I'm more than happy to re add this.

[2018-02-08 11:16] ronag commented on #715
@jamesdwise if you make a PR I'm more than happy to re add this.

[2018-02-08 12:07] jesperstarkar commented on #599
2.2.0 Doesn't work at all, and the log reports missing OpenGL4.5, even though the system reports to have 4.5.
[Intel(R) HD Graphics 630 Thursday, February 8, 2018.txt](https://github.com/CasparCG/server/files/1706939/Intel.R.HD.Graphics.630.Thursday.February.8.2018.txt)
[caspar_2018-02-08.log](https://github.com/CasparCG/server/files/1706940/caspar_2018-02-08.log)

[2018-02-08 12:12] ronag commented on #599
Could u run GLEW info?

[2018-02-08 12:14] 5opr4ni commented on #599
it's wonderful to dive in to the test, don't you think jesper.
I am allready impressed, but I can confirm the issue that jesper has.

[2018-02-08 13:08:51.452] [error]   M:\server5\src\modules\screen\consumer\screen_consumer.cpp(218): Throw in function void __cdecl caspar::screen::screen_consumer::init(void)
[2018-02-08 13:08:51.452] [error]   Dynamic exception type: class boost::exception_detail:

[2018-02-08 12:16] ronag commented on #599
Anyone with the problem that can give me teamviewer access?

[2018-02-08 12:17] sesse commented on #599
If it's anything like on Linux, you'll need to be in OpenGL core mode to get modern OpenGL on Intel.

[2018-02-08 12:17] 5opr4ni commented on #599
give me a minute Robert

[2018-02-08 12:18] jesperstarkar commented on #599
411530667 / qgc782

[2018-02-08 12:21] 5opr4ni commented on #599
Check your Skype @ronag

[2018-02-08 12:56] jesperstarkar commented on #599
Works very well in d10b52254e8dffa7cc514a6c517ab40363421a2f

[2018-02-08 12:56] #599 closed

[2018-02-08 12:57] ronag opened #762 "screen consumer does not start from config"
only works with ADD 1 SCREEN

[2018-02-08 12:57] ronag opened #763 "excessive trace logging"

[2018-02-08 13:12] ronag opened #764 "version.h not properly generated on build"

[2018-02-08 13:30] ronag opened #765 "complex filters don't work properly"
This should work:

[code]

[2018-02-08 14:31] #762 closed

[2018-02-08 16:30] wlcx opened #766 "Fresh 2.2.0 build fails during "copy dependencies""
I followed the instructions in building.md, and the build fails in "copy dependencies" due to not being able to find packages and boost headers. Apologies if I am doing something stupid!

Also, regarding the instruction

for me this file ends up in the project root, not `src`.

OS: Windows 10 Ent
Git: 2.16.1
VS: Community 2017

Full build log:
https://gist.github.com/anonymous/13497e39b944601aa0a2

[2018-02-08 17:20] ronag commented on #766
did nuget properly restore packages? What do you have in "C:/Users/bob/server/src/packages/FFmpeg.Nightly.20180130.1.0/build/native/bin/x64"?

[2018-02-08 17:33] wlcx commented on #766
I did try nuget but wasn't sure if I was doing it right.
`Right Click>Restore NuGet Packages` on the root solution in solutions explorer results in
`All packages are already installed and there is nothing to restore.` I note that nuget doesn't seem to actually see any dependencies via `Manage Dependencies`...

Here is the contents of my packages folder
![image](https://user-images.githubuserconten

[2018-02-08 17:34] ronag commented on #766
That should have worked. I will look into it when I get the time.

[2018-02-08 17:35] wlcx commented on #766
Thanks, glad it's not just me! Is it worth having the nuget step in `building.md` too?

[2018-02-08 18:02] ronag commented on #766
visual studio should do it automatically when building the solution.

[2018-02-08 18:02] ronag commented on #766
@wlcx if you want alpha builds join us in the slack channel. We're testing and discussing there.

[2018-02-08 18:18] wlcx commented on #766
Would love to - though can't find any links to join?

On 8 Feb 2018 18:03, "Robert Nagy" <notifications@github.com> wrote:

@wlcx <https://github.com/wlcx> if you want alpha builds join us in the
slack channel. We're testing and discussing there.

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/CasparCG/server/issues/766#iss

[2018-02-08 18:43] ronag commented on #766
@hummelstrand

[2018-02-08 20:01] dotarmin commented on #738
I will verify this tomorrow because I wasn't able to do it today.

[2018-02-08 20:02] #765 closed

[2018-02-08 20:03] dotarmin commented on #766
@wlcx Have you access by now? If not, let me know and I can help you.

[2018-02-08 20:17] Julusian commented on #764
It is generating for me on windows. Both as part of cmake and whenever I build

[2018-02-08 20:28] wlcx commented on #766
@dotarmin I don't yet no! Email's on my profile if that helps :)

[2018-02-08 20:32] dotarmin commented on #766
@wlcx You should received an invitation in your inbox :)

/Armin

[2018-02-08 20:43] ronag commented on #738
@dotarmin @5opr4ni was helping me today. We'll take a look tomorrow together.

[2018-02-08 20:44] ronag commented on #764
Not for me...

[2018-02-08 20:44] ronag commented on #764
How/What generates it?

[2018-02-08 20:49] Julusian commented on #766
@ronag Im currently playing around with this. Seems to be that packages.config needs to sit next to the vs project files, which it doesnt currently.
Im guessing you are generating cmake into the src folder? That would explain why it works for you

[2018-02-08 20:51] k0d commented on #764
It should generate ok on windows, it's part of the CMake script. It won't generate on Linux yet properly as it needs access to the .git folder to get the commit hash.

https://github.com/CasparCG/server/blob/2.2.0/src/CMakeModules/Bootstrap_Windows.cmake#L15 I guess the paths are wrong now?

[2018-02-08 20:52] Julusian commented on #764
Im thinking this is related to #766. The build docs indicate to generate cmake to a different path outside of /src, but if you dont then there are some issues. This could be the opposite case

[2018-02-08 20:57] ronag commented on #766
Yes, I think that is also how it's documented in BUILDING.md?

[2018-02-08 20:58] ronag commented on #764
Ah, @k0d could you please fix?

[2018-02-08 21:01] Julusian commented on #766
Following BUILDING.md causes the solution files to be put in the root of the repo not in /src

Which is what has happened to @wlcx:

[2018-02-08 21:04] Julusian commented on #766
Do we want to do it this way? I am getting git tell me about a lot of untracked files now. I can add them to gitignore and raise a PR if we do, or we could generate cmake into a /build dir but that will add some complexity to the cmake files to handle the packages.config files and resulting path differences

[2018-02-08 21:07] #709 closed

[2018-02-08 21:15] ronag opened #767 "defaultlib 'MSVCRT' conflicts with use of other libs; use /NODEFAULTLIB:library"
This warning is not critical but should not be there...

[2018-02-08 21:15] Julusian commented on #764
When I do a build all in vs, the output log starts with this if I have changed version.tmpl. I guess it may not do it if all that has changed is the git hash though
[code]

[2018-02-08 21:29] Julusian commented on #359
Only Visual Studio 2017 is now supported for building on windows.
@dotarmin

[2018-02-08 21:29] #761 closed

[2018-02-08 21:29] Julusian commented on #334
@dotarmin This looks to be answered

[2018-02-08 21:29] #359 closed

[2018-02-08 21:30] Julusian commented on #514
@dotarmin This can be closed

[2018-02-08 21:31] Julusian commented on #306
@dotarmin This should be against the now deprecated https://github.com/casparcg/frontend

[2018-02-08 21:32] Julusian commented on #337
@dotarmin I believe this is fixed with the updated html producer

[2018-02-08 21:33] ronag commented on #766
@Julusian I don't have much of an opinion other than it should be as clean as possible. What do you think?

[2018-02-08 21:33] Julusian commented on #233
Screen consumer will pass mouse interaction through to the html producer and remote dev tools is possible, so this can now be done.
@dotarmin

[2018-02-08 21:34] ronag commented on #766
Visual Studio has direct support for cmake, i.e. you can open a CMakeLists instead of a solution file. However, I haven't gotten that to work properly... but that would be the cleanest.

[2018-02-08 21:35] Julusian commented on #72
Duplicate of #707
@dotarmin

[2018-02-08 21:36] Julusian commented on #410
Build has moved to latest VS2017
@dotarmin

[2018-02-08 21:37] Julusian commented on #421
No longer relevent now that thumbnail generation has moved to seperate project
@dotarmin

[2018-02-08 21:38] Julusian commented on #366
Ubuntu 16.04 is now a supported platform which uses GCC 5.4, so this should now be resolved
@dotarmin

[2018-02-08 21:43] Julusian commented on #766
I think it would be nicer into a seperate directory. It does make the script a bit more fiddly, but it shouldnt be too bad, and might make packages.config more error prone to update, but it makes it less likely that some stray binary/cmake result will be committed. Ill give it a try and we can see how it looks

That would be nice to use, I tried it and got an error with accelerator not finding Std

[2018-02-08 21:51] malmgrenola opened #768 "STREAM command from client not working"
"Connect to" in client is not working.
ADD 1 STREAM seems broken.

[2018-02-08 22:06] malmgrenola opened #769 "LOOP seems broken"
Trying to loop AMB.mp4 but it wont loop.
Not sure if @ronag knows this here #758

[2018-02-08 22:35] #763 closed

[2018-02-08 22:36] ronag commented on #734
Maintaining our own nuget sounds like a good idea as long as some actually maintains it. @Julusian

[2018-02-08 22:38] ronag commented on #660
Note to self. Need to verify in 2.2

[2018-02-08 22:39] #654 closed

[2018-02-08 22:40] #559 closed

[2018-02-08 22:41] #553 closed

[2018-02-08 22:42] #459 closed

[2018-02-08 22:43] #445 closed

[2018-02-08 22:43] #422 closed

[2018-02-08 22:43] #421 closed

[2018-02-08 22:45] #470 closed

[2018-02-08 22:45] ronag commented on #470
I’m closing this. If anyone wants to summarize the information here feel free to open a new issue.

[2018-02-08 22:46] #487 closed

[2018-02-08 22:46] #482 closed

[2018-02-08 22:47] #451 closed

[2018-02-08 22:48] ronag commented on #423
There should be no relationship.

[2018-02-08 22:48] #423 closed

[2018-02-08 22:48] ronag commented on #435
Make a PR 😀

[2018-02-08 22:48] #435 closed

[2018-02-08 22:48] #418 closed

[2018-02-08 22:49] ronag commented on #754
Donw

[2018-02-08 22:49] #754 closed

[2018-02-09 00:33] Julusian commented on #668
Possible duplicate #16

[2018-02-09 00:34] Julusian commented on #74
This can be done now with osc
@dotarmin

[2018-02-09 00:49] Julusian commented on #220
This should be resolved by the seperation of media scan to its own repository
@dotarmin

[2018-02-09 00:52] Julusian commented on #193
@dotarmin I suspect this is resolved by the ffmpeg rewrite

[2018-02-09 00:54] Julusian commented on #216
@dotarmin I suspect this is resolved by the ffmpeg rewrite

[2018-02-09 07:04] #334 closed

[2018-02-09 07:04] #514 closed

[2018-02-09 07:07] #306 closed

[2018-02-09 07:08] dotarmin commented on #337
@Julusian I think so aswell but I think we should verify it just in case 😄

[2018-02-09 07:10] #233 closed

[2018-02-09 07:10] #72 closed

[2018-02-09 07:10] #410 closed

[2018-02-09 07:12] #366 closed

[2018-02-09 07:13] #220 closed

[2018-02-09 07:15] dotarmin commented on #216
I will close this issue for now, if you experience same issues we can reopen the issue.

[2018-02-09 07:15] #216 closed

[2018-02-09 07:15] dotarmin commented on #193
I will close this issue for now, if you experience same issues we can reopen the issue.

[2018-02-09 07:15] #193 closed

[2018-02-09 08:30] #17 closed

[2018-02-09 08:31] hummelstrand commented on #30
Cleaning out old and irrelevant issues.

[2018-02-09 08:31] #30 closed

[2018-02-09 08:31] hummelstrand commented on #42
Cleaning out old and irrelevant issues.

[2018-02-09 08:31] #42 closed

[2018-02-09 08:32] hummelstrand commented on #48
Cleaning out old and irrelevant issues.

[2018-02-09 08:32] #48 closed

[2018-02-09 08:38] hummelstrand commented on #57
@jesperstarkar Keep or close this issue?

[2018-02-09 08:40] hummelstrand commented on #67
Cleaning out old issues. This issue is replace by #674.

[2018-02-09 08:40] #67 closed

[2018-02-09 08:44] hummelstrand opened #771 "LEVELS should not affect alpha channel"
Make LEVELS only affect RGB but not A. Currently the LEVELS command is useless. #82

[2018-02-09 08:46] hummelstrand commented on #82
Ping @ronag and @Julusian
This and #771 would open up so many possibilities that my eyes begin to tear up just thinking about it. :)

[2018-02-09 08:47] #156 closed, assigned to nobody

[2018-02-09 08:48] hummelstrand commented on #261
Closing as part of issue house-keeping. 2.0.7beta no longer relevant.

[2018-02-09 08:48] #261 closed

[2018-02-09 09:09] premultiply opened #772 "What is the master clock on channel?"
I was not able to find any documentation how timing and genlock is implemented in CasparCG server.
So I think some clarification about the implemented concept is needed. At the end I could try to create a documentation part on this topic.

What is the master clock source on each channel?
How is the gelock input on decklink output boards handled by CasparCG?
What happens if multiple non-synchronize

[2018-02-09 09:45] jesperstarkar commented on #48
2.2.0 FFmpeg filters actually solve this, I believe.

[2018-02-09 10:07] jesperstarkar commented on #337
It doesn't work out of the box. I'll investigate.

[2018-02-09 10:23] malmgrenola commented on #738
Hey @ronag I've set up a (non working) OSC on gfx20 in lab for you to test on a independent machine.

[2018-02-09 10:24] premultiply commented on #660
Interlaced encoding in ffmpeg:
`-flags +ilme+ildct -field_order tt`

[2018-02-09 12:15] k0d opened #773 "OpenGL on linux"
So far, I've only tested using the Intel HD 630 in my laptop, which the drivers will only give a 4.5 core profile context. From what I understand we need a compatibility profile...so it seems that right now, Intel on linux isn't supported.

I'm going to test out the Quadro M1200M in the laptop shortly...just have to get the drivers to play nice!

@ronag can you explain a little about what was chan

[2018-02-09 12:16] k0d commented on #747
I've updated them a certain amount, but will add more as soon as I've got CasparCG to actually run on Linux properly!

[2018-02-09 12:17] k0d commented on #764
There's some things I need to update for this (variables in version.tmpl) ...if I don't do it before, I'll fix it on Monday.

[2018-02-09 12:48] #738 closed

[2018-02-09 13:29] ronag opened #774 "image_scroll_producer"
Doesn't work

[2018-02-09 13:30] ronag opened #775 "normalize paths for OSC and log"

[2018-02-09 13:30] ronag opened #776 "Set VF & AF through CALL"

[2018-02-09 13:30] ronag opened #777 "channel & layer producer"
doesn't work

[2018-02-09 13:33] ronag opened #778 "Log to tcp"

[2018-02-09 14:23] jesperstarkar commented on #777
YES! So happy to see this in 2.2!

[2018-02-09 17:10] 5opr4ni opened #779 "FFmpeg NULL asset"
Enable FFmpeg to play an empty asset for compositingpurpose with vfilter.

example:
PLAY 1-10 [NULL]  vf "drawtext=fontfile=/casparserver/Hack-Regular.ttf: text='OLLE SOPRANI': x=140: y=50: fontsize=150: fontcolor=white"

[2018-02-09 17:48] ronag commented on #660
You need to manually send the flags in 2.2. `-flags:v +ilme+ildct -field_order:v tt`.

[2018-02-09 17:48] #660 closed

[2018-02-09 17:48] ronag commented on #624
Could anyone try to reproduce on 2.2?

[2018-02-09 17:48] #758 closed

[2018-02-09 20:40] ronag opened #780 "monitor state has a potential data race"
needs review

[2018-02-09 20:56] 5opr4ni opened #781 "Strange behaviour when using BlendModes"
Strange behaviour when using BlendModes

PLAY 1-10 "ERIK_TONE_REP" CUT 0 Linear RIGHT
PLAY 1-14 [HTML] "http://svt.se" CUT 0 Linear RIGHT
MIXER 1-14 FILL 0.655208 0.551852 0.241146 0.344444 0 Linear
MIXER 1-14 BLEND Lighten

This makes the composition to fail and go bananas. No errors in the console, just crazy picture.
Even after:
MIXER 1-14 BLEND Lighten

Restart of Caspar required after this.

[2018-02-09 21:05] ronag commented on #781
What gpu?

[2018-02-09 21:08] walterav1984 commented on #773
Find myself in the same situation, since CasparCG SERVER 2.10 beta it was SSE4.1 which got me upgrading to a XEON E5472 and also learning to compile it without the need for this extension which also worked on older core2 processors.

However for OpenGL 4.5 it means that only Linux instead of Windows (max 4.3) will be an option for older intel HD4600 graphics (if core and compatibility profile did

[2018-02-09 21:11] ronag commented on #781
Did blend modes work in 2.0 on the same setup?

[2018-02-09 21:12] 5opr4ni commented on #781
![screen shot 2018-02-09 at 22 11 24](https://user-images.githubusercontent.com/20354852/36050294-40de67fa-0de6-11e8-95eb-b4d7ced89fe5.png)

[2018-02-09 21:17] ronag commented on #781
I'm suspecting a missing opengl extension and since we removed the opengl check it segfaults. I will try it on an nvidia card on monday.

[2018-02-09 21:18] ronag commented on #773
What is the question here?

[2018-02-09 21:18] 5opr4ni commented on #781
No you are right Robert, it actually don't. Know that there was an issue with that when you mention it.
We had to use an earlier version of 2.1, before the beta 1.

Hmmmm!

[2018-02-09 21:45] ronag commented on #773
Current changes were for simplicity and performance. Future changes are hard to tell... depends on whether future OpenGL versions will add useful features...

[2018-02-09 22:43] ronag commented on #772
This needs additional work and is not implemented very well at the moment. But it is good enough for most use cases:

Slowest consumer which is considered synchronized (bluefish, decklink) or a high precision system clock.

It's synced against it.

Uses system clock. Oal consumer automatically compensates audio drift. Screen consumer drops/dups frames.

Drop/Dup :(. We might have time to add audio

[2018-02-09 23:14] ronag opened #782 "Fix OpenGL check"
So we can avoid getting reports of crashes from users with incompatible GPUs or drivers.

[2018-02-09 23:14] #769 closed

[2018-02-09 23:15] ronag commented on #768
Pending client update.

[2018-02-09 23:15] #768 closed

[2018-02-09 23:50] dimitry-ishenko commented on #707
@dotarmin, @ronag is correct. As far as I can tell all of the functionality of the PSD producer can be implemented using the HTML producer.

If CCG supported rendering of layer effects, vector masks, etc. in the PSD producer and if the rendered image closely matched the original made in Photoshop, then I would agree with @premultiply. As it currently stands, PSD producer supports only a handful of

[2018-02-10 00:11] dimitry-ishenko commented on #739
@ronag @dotarmin who is this "client guy" you speak of? :smiley:

[2018-02-10 07:34] #772 closed

[2018-02-10 09:15] 5opr4ni commented on #624
Trying to test this but the AUTO plays the clip immediately.

`LOAD 1-10 MELLORECORDED`
`PLAY 1-10`
`LOADBG 1-10 ERIK_TONE_REP MIX 20 AUTO`

[2018-02-10 09:48] 5opr4ni opened #783 "Mix transition blend issue"
When performing an regular mix transition it seams as the first/s and last frames of the mix, in this case, ore omitted.
This differs from 2.1 where they have a predicted behaviour.

Have also seen, a couple of times, frames from another transition in the current one. As if there was a buffer that was not clean. Cant reproduce it, but it was after testing LOADBG and AUTO.

`PLAY 1-10 MELLORECORDED

[2018-02-10 10:06] 5opr4ni commented on #771
I actually can't se that it does. Have tried both 2.1 and 2.2. The Levels has no effect on the alpha neither in a composition on the channel or out from Decklink.

Can someone else verify this, or Hummlan, kan du testa igen.

[2018-02-10 10:08] 5opr4ni commented on #776
plz 2.2 ;)

[2018-02-10 10:11] 5opr4ni opened #784 "AMCP Version"
![screen shot 2018-02-10 at 11 10 30](https://user-images.githubusercontent.com/20354852/36060931-0f8c8b9c-0e53-11e8-8106-095309ce46f2.png)

[2018-02-10 12:17] 5opr4ni commented on #784
This is also the case for AMCP

`>> TLS`

[2018-02-10 13:01] jesperstarkar commented on #653
Should we consider some MADI/Dante compatibility?

[2018-02-10 13:02] jesperstarkar commented on #640
@ronag I think this can be closed?

[2018-02-10 13:05] 5opr4ni opened #785 "SEEK and LENGTH"
Issue with SEEK and LENGTH for LOADBG, LOAD and PLAY

`PLAY 1-10 ERIK_TONE_REP`
`LOADBG 1-10 "ERIK_TONE_REP" SEEK 200 LENGTH 400`
_In 2.1:_
![screen shot 2018-02-10 at 13 56 48](https://user-images.githubusercontent.com/20354852/36062319-7e0394a0-0e6a-11e8-8744-d28d9340dd22.png)
`PLAY 1-10` And the video respects the seek and the length.

**And the same thing in 2.2:**
`PLAY 1-10 ERIK_TONE_REP`
`L

[2018-02-10 13:12] #640 closed

[2018-02-10 13:18] hummelstrand commented on #771
Ah, this may be a bug that has been fixed and I've missed that in the
commits. I'll actually test this time! :)
--
     Jonas Hummelstrand
     <http://SuperFly.tv>
     +46-733-970000

[2018-02-10 15:57] premultiply commented on #653
Keep in mind that because of the asynchronous architecture of input and output devices resampling has to be done for each device to compensate the clock drift between devices.

[2018-02-10 16:43] premultiply commented on #707
Have you ever tried to do frame accurate playout from HTML templates?
As far as I know all these web authoring tools create HTML & JS output which is based on internal timers for drawing instead of waiting for the synchronous frame render calls from CasparCG.
Yes you could do it manually but I am not interested in writing complicated JS code by hand if there are tools like Photoshop which include

[2018-02-10 17:04] #771 closed

[2018-02-10 17:05] ronag commented on #784
cli version depends on #764

[2018-02-10 17:07] ronag commented on #587
I've never seen the point of HAP. Feels more like an overly hyped technology which is "cool". Anyone care to enlighten my narrow opinion?

[2018-02-10 17:08] ronag commented on #773
once https://github.com/CasparCG/server/issues/782 is fixed it should be more obvious.

[2018-02-10 17:08] #773 closed

[2018-02-10 17:09] #752 closed

[2018-02-10 17:11] jesperstarkar opened #786 "Hardcoded http::request host/port values"
AMCPCommandsImpl.cpp:1247 and :1253, shouldn’t host and port be dynamic like the rest of http::requests?

[2018-02-10 22:06] MauriceVeraart commented on #587
you are right in saying that some people are seeing it as some sort of holy grail ,
which indeed it is not.

for "normal" playout like HD or UHD there is no point in using it.

on the other hand for higher/veryhigh or odd resolution systems this codec
has a very nice balance in diskspeed/cpu/gpu load.

i already experienced that with Watchout / D3 / etc etc on several jobs

experimenting / doing j

[2018-02-11 08:52] #587 closed

[2018-02-11 18:56] ronag commented on #786
Fixed in https://github.com/CasparCG/server/pull/787

[2018-02-11 18:56] #786 closed

[2018-02-11 18:56] ronag commented on #785
Fixed in https://github.com/CasparCG/server/pull/787

[2018-02-11 18:56] #785 closed

[2018-02-11 18:56] ronag commented on #780
Fixed in https://github.com/CasparCG/server/pull/787

[2018-02-11 18:56] #780 closed

[2018-02-11 18:57] ronag commented on #781
Closing in favor of #782

[2018-02-11 18:57] #781 closed

[2018-02-11 19:13] ronag opened #788 "AF/VF filter for decklink producer"

[2018-02-11 19:13] ronag commented on #783
Could I ask for a deeper investigation of what exactly is going on here? i.e. interlaced videos with field counters?

[2018-02-11 19:15] 5opr4ni commented on #783
Actually, iv'e done that today. You will have it in a couple of minutes.

[2018-02-11 19:46] ronag opened #789 "Optimize osc state"
The current implementation is rather simple and algorithmically inefficient. But it does the job for now.

[2018-02-11 19:56] ronag opened #790 "Remove interaction API"
Do we need it or can we move it to 3.0?

[2018-02-11 20:04] 5opr4ni commented on #790
Yes!

[2018-02-11 20:41] jesperstarkar opened #791 "Re-add REQ/RES or similar method of identifying responses"
AMCP being asynchronous, we need a way of identifying responses as they get back. FIFOin commands out of the client(s) just takes too long time.

2.1 proposed a REQ/RES syntax:
https://github.com/CasparCG/server/blob/e0933dc7f65c15a8122c97e64f38cb3afced91e0/src/protocol/amcp/AMCPProtocolStrategy.cpp#L171

https://github.com/CasparCG/server/blob/82430b96342f803e8e8b17a83291c9730bc05535/protocol/amc

[2018-02-11 20:43] jesperstarkar commented on #791
#475, #568

[2018-02-11 20:49] ronag commented on #791
I don't understand this... at all... also as far as I can see I haven't modified or removed this. The AMCP code needs an overhaul which is in the future.

[2018-02-11 20:51] jesperstarkar commented on #791
Sorry! My bad.

[2018-02-11 20:51] ronag commented on #791
I don't think it works and should be removed for something else along these lines but implemented differently.

[2018-02-11 20:53] 5opr4ni opened #792 "Transition with PUSH SLIDE WIPE"
If there is no content on targeted layer and you want to slide, push or wipe a video on that layer.
It will just cut te video in, but after that the Transition works.

`PLAY 1-10 "50ispecialright" PUSH 5 Linear LEFT`

[2018-02-11 20:53] ronag commented on #791
Sorry, but basically what you are asking for is something like AMCP 3.0 with support for asynchronous commands.

[2018-02-11 20:56] jesperstarkar commented on #791
Well, the REQ/RES syntax worked very well, and it is AMCP 2.x compatible. Making a breaking 3.x change for AMCP seems rather drastic, if we don't start a job of overhauling the complete protocol, looking into more advanced features like macros/shceduling etc.

So in my opinion, keeping REQ/RES for >2.2 makes perfect sense, and is a simple and really powerful solution to a major problem.

[2018-02-11 20:56] ronag commented on #784
closing in favor of #764

[2018-02-11 20:56] #784 closed

[2018-02-11 20:57] ronag opened #793 "LOADBG AUTO broken"
#624

[2018-02-11 21:08] ronag commented on #791
@jesperstarkar goes back to the question whether we should be implementing hacks to solve short term issues or not...

The problem here is that REQ/RES won't actually make any difference since AMCP still needs to execute all the commands in FIFO order. It's just an illusion. You already have command ids... it's the index of the command i.e.

REQ 1 PLAY 1
REQ 2 PLAY 2
REQ 3 PLAY 3
RES 1
RES 2
RES 3

[2018-02-11 21:11] jesperstarkar commented on #791
I don't think that's so Robert? There's no guarantee that responses come back in the same order as you sent them?

For years I thought the response order was guaranteed, and worked out from that. Until I understood it wasn't so, doing extensive testing implementing my connection library. Helge confirmed that you can't rely on the order of responses. Hence the REQ/RES implementation, which I wouldn

[2018-02-11 21:14] ronag commented on #791
Yes, there is. There are however several queues depending on some rules, e.g.

LOAD 1-1
LOAD 1-2
PLAY 1-1
PLAY 1-2

Are guaranteed to execute in order.

While

LOAD 1-1
LOAD 2-1
PLAY 1-1
PLAY 2-1

is not since each channel has it's own amcp queue.

I would :).

[2018-02-11 21:16] ronag commented on #791
NOTE. My response above was edited.

[2018-02-11 21:19] jesperstarkar commented on #791
If you have multiple queues, unique pr. channel, the protocol is asynchronous by nature. `200 PLAY OK` doesn't say which channel it executes on, so the client can't know which internal queue to move along.

What you call hack I call a graceful retro-fit for a problem, maintaining full backwards compatibility.

But hey, it seems to still be in there, and as long as it stays (or similar functionalit

[2018-02-11 21:19] ronag commented on #791
If you create one connection for each channel then you do.

[2018-02-11 21:23] ronag commented on #791
Just as a general note. We want to keep the server as simple as possible. If we can move complexity to client that's going to be preferred. There are not that many people that currently can maintain the server... We need to focus our efforts.

[2018-02-11 21:31] jesperstarkar commented on #791
I just need a way of identifying responses. if there's no other options left other than having different connections, that's the way going forward. And I still need to FIFO all non-channel-related commands.

[2018-02-11 21:39] ronag commented on #791
@jesperstarkar maybe we should have this in some wiki, readme, faq or best practice thing?

[2018-02-11 21:42] ronag commented on #791
@jesperstarkar actually, I hadn't realized how big of an issue this is... you basically **have to** use multiple connections or the AMCP protocol is semantically broken without enforcing total order.

[2018-02-11 21:45] jesperstarkar commented on #791
Does that mean that internally, with the 2.1 implementation of REQ/RES, you still can't guarantee matching responses with requests? Because, if REQ/RES can guarantee it, I will again (maybe for the last time, but no promises) strongly suggest, to not remove that 5-line-or-so implementation.

[2018-02-11 21:49] ronag commented on #791
I'm sorry to say... I have no idea... I don't understand the implementation...

[2018-02-11 21:50] ronag commented on #791
In theory REQ/RES should do what you think it does and work like that.

[2018-02-11 21:51] jesperstarkar commented on #791
Let it stay, educate people of using it, and case closed?

[2018-02-11 21:51] jesperstarkar commented on #791
From what I know, SVT tends to FIFO everything out of a single queue (the java and as3.0 libraries does so). Don't know if the official Client does.

If the client sends a single command at the time, waiting for response until the next one, everything works - of course. But it is slow, really slow.

[2018-02-11 21:51] ronag commented on #791
It stays for now.

[2018-02-11 21:52] ronag commented on #791
Hm, good point.

[2018-02-11 21:59] 5opr4ni commented on #791
@jesperstarkar No the CasparCG client don't. When I used the java lib I removed that silly thing, the same for the AS3 lib. It was a looooong time since the need for that was the case. Haven't you tried the regular client.
In the normal client at FORUM I stack over 100 lines in one group, and there are no problem at all.
Choff it says! I think there is a thread about that in the forums.
I can agre

[2018-02-11 22:01] jesperstarkar commented on #791
@5opr4ni Sending commands isn't the problem. Problem is receiving all responses and keeping track of every response code to each request.

[2018-02-11 22:02] 5opr4ni commented on #791
Responded to this:
From what I know, SVT tends to FIFO everything out of a single queue (the java and as3.0 libraries does so). Don't know if the official Client does.

If the client sends a single command at the time, waiting for response until the next one, everything works - of course. But it is slow, really slow.

[2018-02-11 22:03] 5opr4ni commented on #791
@jesperstarkar  Are we missing something that you do, that we don't. We do use CasparCG heavily where I work.
;)

[2018-02-11 22:09] jesperstarkar commented on #791
@5opr4ni This problem caught my attention in 2015, and I discussed it with Helge at the time. He told me the only way to maintain sync between requests and response was to send a single command at the time. He told me the Java library did so, and I looked into the AS3.0 library at the moment seeing the same thing there.

Working in-depth with the AMCP connection library, I had 3 possible strategie

[2018-02-12 08:44] k0d commented on #764
Writing this here for my reference...you can ignore.
[code]

[2018-02-12 08:45] 5opr4ni commented on #791
@jesperstarkar We definitely use 2. for all our work, and has always done, except for maybe Helge  and his java lib then.
I personally have never seen the need in waiting for a response. If I should check that all commands has ben accepted and executed from Caspar and had to worry about that I would have abandon CCG a long time ago.

But at the same time I can understand that there are other kind

[2018-02-12 11:40] Julusian commented on #791
No matter what the opinions are on REQ/RES, I really think it needs to stay for 2.2, as it is rather late in the dev cycle to make a breaking change that will kill most of the 3rd party client libraries that have released a version for 2.1. If it is to removed, I strongly feel that it should happen early on in 3.0.

@ronag why do you think it is a hack? I have seen other async protocols that use a

[2018-02-12 11:44] k0d opened #794 "Fix CEF for linux"
Please add to milestone:2.2.0 and assign to me.

[2018-02-12 11:45] k0d opened #795 "Fix decklink for linux"
`UltraStudio HD Mini [1-1|1080i5000] Failed to schedule fill video.`

Please add to milestone:2.2.0 and assign to me.

[2018-02-12 11:59] k0d commented on #764
Have made a fix and committed, should be tested on windows still.

When running inside of docker, it won't get the GIT hash...as that's not available.
We should add some code in the Dockerfile to do that I guess? any comments?

[2018-02-12 12:00] ronag commented on #791
It's going to be flagged as deprecated for removal in future release. I don't want to touch AMCP in this release.

I disagree.

Again I disagree.

It's complicated. My main concern is the implementation which is not tracking dependencies properly, i.e. it allows some things out of order which it shouldn't and a lot of things that could be out of order aren't. I haven't fully analyzed this, e.g. th

[2018-02-12 12:06] ronag commented on #791
I guess one could do this similar to OpenGL and simply have a fence, sync and barrier API which would move the whole dependency tracking to the client... but that would make clients A LOT more complicated and would need a lot of knowledge about how commands are implemented internally.

[2018-02-12 12:51] k0d commented on #795
Fixed: thanks @ronag

[2018-02-12 12:51] #795 closed

[2018-02-12 12:54] k0d commented on #766
As I don't do much with the Windows build at the moment, I'm not really sure what this issue is. Is there something that doesn't work correctly now...could someone explain it a bit more please?

[2018-02-12 14:15] Julusian commented on #791
It sounds like you are talking about the protocol implementation in general, whereas I was referring specifically to the REQ/RES syntax. I know that the current architecture of the commands isn't great especially when it comes to wanting real async commands (eg 79ac76ffe19a761a7eff750f44ce96bb06ba0e38) so am definitely onboard with an overhaul of the internals of AMCP in Caspar.

Yes, transactions

[2018-02-12 14:45] Julusian opened #797 "AMCP PLAY/LOAD command producer prefix"
When using the PLAY/LOAD/LOADBG and CG ADD/CG PLAY caspar internally attempts to initialize each producer in turn until one successfully parses the command. This has required a [HTML] prefix to be adopted by the html producer, as it both it and ffmpeg think they can play files beginning with http://. This has been the source of a couple of bugs, which I believe is why html has a prefix.

For years

[2018-02-12 14:50] Julusian commented on #779
Doing this would potentially allow us to scrap the text_producer. Instead we could maintain a command which wraps up that command to be more user friendly and configurable from the scene producer.
I haven't checked if we will lose any functionality or performance by doing so.

[2018-02-12 15:45] ronag commented on #797
My list for 3.0

- Remove CG commands. Move to a compat node service.
- Make filenames contain file extensions (which solves this problem, i.e. suffix instead of prefix :)).
- Move extensionless filename handling into compat node service.

[2018-02-12 15:47] jesperstarkar commented on #779
+1 for AMCP abstraction over this syntax

[2018-02-12 16:00] #794 closed

[2018-02-12 16:02] Julusian commented on #797
I've only looked at the html cg producer, but all that does is convert some of the special cg commands into a CALL command. I don't see how that could be moved external, or the benefit to doing so.

It would solve the problem, but then we would instead be maintaining a list of file extensions, which would require updating (there is already one for html #314).
I agree with including file extensions

[2018-02-12 16:50] #764 closed

[2018-02-12 16:50] ronag commented on #766
@Julusian so the real fix here is to update the README.md correct? Your PR is a separate thing I believe.

[2018-02-12 16:50] #766 closed

[2018-02-12 16:53] Julusian commented on #766
Yes, changing the instructions to run cmake from inside /src would solve it

[2018-02-12 16:56] wlcx commented on #766
Ah, I hadn't appreciated it was that simple a fix. Sorry!

On 12 Feb 2018 16:53, "Julian" <notifications@github.com> wrote:

[2018-02-12 16:57] #775 closed

[2018-02-12 16:58] ronag commented on #797
Just make the external service convert it into call commands.

Backwards compat.

TBD. There are a lot of ways to do it... but it would be purely for backwards compat.

[2018-02-12 17:29] #792 closed

[2018-02-12 17:32] Julusian commented on #797
Isn't it a bit much to have another runtime dependency to do some pretty simple string conversion? I don't see that needing to change often, if ever. There will also be the added latency from making that http request to consider, which could make the timing less predictable. I feel it would be simpler and cleaner to move those methods into the base producer as virtual and let any producers that wa

[2018-02-12 17:41] ronag commented on #797
It would... if that was the official api... but I would also suggest all clients are changed to use the non CG api. AMCP 3 :)

[2018-02-12 17:42] #790 closed

[2018-02-12 17:55] Julusian commented on #797
That makes sense, I was wondering if that was your intention. My only concern there is how the scene producer fits in, as it was able to generate xml for child cg templates. Having the standard methods is good here, but I can see it working fine without.

Does that mean this extensionless filename handling would be deprecated behavior too? It is common for urls to have no extension, or for it to b

[2018-02-13 08:54] ronag commented on #624
@5opr4ni you can test with latest gdrive version

[2018-02-13 08:57] ronag commented on #783
Please verify if this is an issue on nvidia as well.

[2018-02-13 09:16] 5opr4ni commented on #624
Don't work. Now last frame from the clip before the LOADBG AUTO shows. the new clip don't start and no messages in the log.
`LOAD 1-10 MELLORECORDED`
`PLAY 1-10`
`LOADBG 1-10 ERIK_TONE_REP AUTO`
Shows the last frame of MELLORECORDED.

I will go and get a normal CasparCG Server, and try on that one.

[2018-02-13 14:42] ronag opened #799 "Make render pipeline fully progressive"
Remove all interlace hacks and convert to interlaced at the last step of the render.

[2018-02-13 15:08] 5opr4ni opened #800 "Missing audio on Decklink Producer."
`PLAY 1-10 DECKLINK DEVICE 1 FORMAT 1080i5000`

Video works, audio don't.

(Some day Decklink would be nice to have trough ffmpeg.)

[2018-02-13 15:21] #783 closed

[2018-02-13 16:28] 5opr4ni opened #801 "FFmpeg consumer fails"
Trying to record with ffmpeg consumer, but fails.

`ADD 1 FILE -codec:v libx264 asd.mp4`

![screen shot 2018-02-13 at 17 26 58](https://user-images.githubusercontent.com/20354852/36161127-3109a614-10e3-11e8-8b82-182c18862e62.png)

[2018-02-13 16:30] ronag commented on #801
```ADD 1 FILE asd.mp4 -codec:v libx264```

output first

[2018-02-13 16:30] ronag commented on #801
should handle failure better though

[2018-02-13 16:35] 5opr4ni commented on #801
Hm! This makes the server to choke.
`ADD 1 FILE asd.mp4 -codec:v libx264`

![screen shot 2018-02-13 at 17 34 12](https://user-images.githubusercontent.com/20354852/36161569-5094b41e-10e4-11e8-99c1-9215d1073ee9.png)

[2018-02-13 16:37] ronag commented on #801
@5opr4ni too heavy for you computer :) try -profile:v veryfast

[2018-02-13 16:48] 5opr4ni commented on #801
tried several but all fails in one or other way.
latest one
`ADD 1 FILE "asd.mp4" codec:v libx264 -profile:v ultrafast`
do I need the audio codecs after the ffmpeg refactoring?

[2018-02-13 17:21] ronag commented on #801
I'll have to teamviewer into your computer. Doing just "ADD 1 FILE asd.mp4" works fine on my computer.

[2018-02-13 17:21] ronag commented on #801
ah sorry! it should be `preset:v veryfast`

[2018-02-13 17:28] ronag commented on #800
It's broken. I have to ask my hardware guys to give me a signal to test with. Tomorrow.

[2018-02-13 17:31] #801 closed

[2018-02-13 18:00] 5opr4ni commented on #801
OK! It's me not Caspar.
This works:
`ADD 1 FILE olle.mp4 -preset:v veryfast`
`REMOVE 1 FILE olle.mp4`

[2018-02-14 07:47] 5opr4ni opened #802 "CALL SEEK"
After interlaced changes in the core, the FPS for a video is 50fps. (on 1080i5000 channel.)
This makes it hard to know how to enter the framenumber with CALL and SEEK.
It's easy, multiply by two, but illogical. ;)

[2018-02-14 07:53] premultiply commented on #802
And if you have multiple channels with different framerates it is even more complicated.
I would prefer seeking and length parameters in time units and let the producer calculate the correct frame position based on it.

[2018-02-14 09:01] 5opr4ni commented on #802
@premultiply I am not sure about that. the server itself should have the highest granularity, but in some way we want to abstract that from the users. I think this is something for the future. there should be an abstraction layer between the server and the user, serverside. We have spoken about that and the possibility to have AMCP as a dynamic protocol, so that you could implement a version of fo

[2018-02-14 09:11] ronag commented on #802
I think we could just add a suffix syntax? "CALL 1-10 SEEK 10s" or support timecode syntax "CALL 1-10 SEEK 00:00:10.00"

[2018-02-14 09:13] ronag opened #803 "version.h not generated for windows builds"
Just did a fresh checkout. No version.h :/

[2018-02-14 09:15] 5opr4ni commented on #802
For now that could be a solution.
+1 timecode

[2018-02-14 09:17] ronag commented on #802
@5opr4ni could you create a separate issue for 3.0? I'm closing this. It's fixed.

[2018-02-14 09:17] #802 closed

[2018-02-14 09:18] premultiply commented on #802
I would prefer the "timecode" solution with fractions

[2018-02-14 09:20] premultiply commented on #802
Maybe it would be also easy to parse seconds.fractions next to hours:minutes:seconds.fractions

[2018-02-14 09:24] 5opr4ni opened #804 "Serverside AMCP-Script"
The server itself should have the highest granularity regarding a protocol, but in some way we want to abstract that from the users. I think this is something for the future. there should be an abstraction layer between the server and the user, serverside. We have spoken about that and the possibility to have AMCP as a dynamic protocol, so that you could implement a version of for example
`CALL 1-

[2018-02-14 09:33] premultiply commented on #804
Why not adding something like `MACRO filename [parameters] ...` to AMCP?

And then the macro file could be stored on server containing als pure text file containing AMCP commands line by line.
Maybe some variable substitution and maybe a `DELAY timecode` command needs to be added to the macro interpreter.

[2018-02-14 09:35] 5opr4ni commented on #804
Something along that way is what we think.

[2018-02-14 10:00] 5opr4ni opened #806 "PLAY/LOAD/LOADBG with SEEK and LENGTH"
SEEK and Length with PLAY LOAD LOADBG don work.
The clip loads but won't start.

`play 1-10 maggio cut 0 linear right seek 200 length 100`

[2018-02-14 10:29] 5opr4ni opened #807 "Restarting same clip on same layer loses one field."
When playing a clip, and then replays the same clip, the layer gets empty and shows layers beneath.
This problem don't exist with AUTO or LOOP, just when restarting with command.

Recreate like this:
`PLAY 1-9 maggio`
`PLAY 1-10 something`
`PLAY 1-10 something`

You se 'layer 1-9' for the last field from the old `PLAY 1-10 somethings `, and the first field from the new `PLAY 1-10 something`.

Firs

[2018-02-14 10:31] 5opr4ni commented on #807
If this is hard to fix, it could be postponed to 2.3, it is not a transmission critical flow.

[2018-02-14 11:58] ronag commented on #806
ah yes, length is relative to 0 and not to start

[2018-02-14 12:46] #533 closed

[2018-02-14 13:24] #799 closed

[2018-02-14 13:48] 5opr4ni opened #808 "OSC and recording"
Earlier versions of Caspar sent OSC during recording.

#IPADDRESS#/channel/#CHANNEL#/output/port/200/frame
#IPADDRESS#/channel/#CHANNEL#/output/port/200/fps
#IPADDRESS#/channel/#CHANNEL#/output/port/200/path

And maybe they should follow the new nomenclature for OSC Path.

[2018-02-14 14:16] polardegausser commented on #803
path to include in shell.rc is written as "../version.h", should be just "version.h" since cmake adds include directory "./generated/", I corrected it in my fork. I can create a pull request if needed?

[2018-02-14 14:42] ronag commented on #803
Thanks! Fixed.

[2018-02-14 14:42] #803 closed

[2018-02-14 15:37] ronag opened #809 "ffmpeg_consumer doesn't auto select format"

[2018-02-14 16:09] #809 closed

[2018-02-14 18:28] #800 closed

[2018-02-14 18:28] #808 closed

[2018-02-14 18:49] ronag opened #810 "Limit OSC packet size"
Split into multiple packets with the same timestamp.

[2018-02-14 18:49] #788 closed

[2018-02-14 18:56] ronag opened #811 "Auto build"
CI, Jenkins

[2018-02-14 20:05] premultiply commented on #741
Especially for any live chain (for example Decklink-Input/Producer to Decklink-Output/Consumer) through CasparCG it is important to keep the latency as low as possible with stable operation.

[2018-02-14 20:08] TomKaltz commented on #811
+1

[2018-02-14 20:18] #777 closed

[2018-02-14 20:19] ronag commented on #741
@premultiply this will hopefully get an overhaul in 3.0 with gpu direct etc...

[2018-02-14 20:32] ronag commented on #806
Fixed again :)

[2018-02-14 20:32] #806 closed

[2018-02-14 22:24] ronag opened #813 "Release does not build on Windows"

[2018-02-14 22:27] #813 closed

[2018-02-14 22:37] ronag commented on #797
I think extensionless would be a fallback.

[2018-02-15 00:07] ronag opened #815 "Zero Latency Routing"
Is possible. Just needs some thought an implementation. Currently there is a 1 frame delay.

[2018-02-15 01:08] Julusian commented on #745
@ronag this can be closed

[2018-02-15 01:14] Julusian commented on #767
I shall try and take a look at this and #734 when I have some time.
I'm guessing you aren't in a hurry for it as it has 3.0 as the milestone.

[2018-02-15 04:35] dotarmin commented on #811
I will look at this today.

[2018-02-15 07:45] #745 closed

[2018-02-15 08:57] ronag opened #816 "Make ADD port index mandatory"
Don't automatically make up indices. This can break stuff. But it's the kind of logic that could be moved out from the server to client side.

@5opr4ni what do you think?

i.e.

[code]

instead of

[code]

This is problematic in particular for the ffmeg_consumer that magically makes up indices.

[2018-02-15 09:00] ronag commented on #717
Not relevant anymore.

[2018-02-15 09:00] #717 closed

[2018-02-15 09:00] ronag commented on #723
Not relevant anymore

[2018-02-15 09:00] #723 closed

[2018-02-15 09:01] ronag commented on #811
duplicate #683

[2018-02-15 09:01] #811 closed

[2018-02-15 09:01] ronag commented on #680
I think we're moving this into client proxies.

[2018-02-15 09:02] ronag commented on #16
Could someone please try to reproduce on 2.2?

[2018-02-15 09:02] ronag commented on #668
Could someone please try to reproduce on 2.2?

[2018-02-15 09:03] ronag commented on #656
Please test with 2.2 and reopen if not fixed.

[2018-02-15 09:03] #656 closed

[2018-02-15 09:03] ronag commented on #655
Please test with 2.2 and reopen if still an issue.

[2018-02-15 09:05] ronag commented on #632
@saltomodules could you please test this with CasparCG 2.2 and if still a problem reopen and make the file available again.

[2018-02-15 09:05] #632 closed

[2018-02-15 09:06] ronag commented on #629
PR welcome.

[2018-02-15 09:06] ronag commented on #624
@5opr4ni still an issue?

[2018-02-15 09:07] ronag commented on #622
@KeloCube please test with 2.2 and reopen if still an issue.

[2018-02-15 09:07] #622 closed

[2018-02-15 09:08] ronag commented on #605
@captnced I don't think CasparCG can take advantage of SLI.

[2018-02-15 09:09] premultiply commented on #655
Is there a current development build availible for download?

[2018-02-15 09:09] #605 closed

[2018-02-15 09:10] #597 closed

[2018-02-15 09:11] ronag commented on #596
Is this a problem with 2.2? If so please re-open and give me a short summary of what this is?

[2018-02-15 09:12] ronag commented on #593
@TKooijmans @5opr4ni please test and re-open if still an issue with 2.2.

[2018-02-15 09:12] #593 closed

[2018-02-15 09:12] ronag commented on #589
Please test with 2.2 and reopen if still an issue.

[2018-02-15 09:12] #589 closed

[2018-02-15 09:12] #591 closed

[2018-02-15 09:13] ronag commented on #580
This functionality is moved to https://github.com/CasparCG/media-scanner

[2018-02-15 09:13] #580 closed

[2018-02-15 09:13] #578 closed

[2018-02-15 09:14] ronag commented on #524
Moved to https://github.com/CasparCG/media-scanner

[2018-02-15 09:14] #524 closed

[2018-02-15 09:14] ronag commented on #527
OpenGL 4.5 is a requirement.

[2018-02-15 09:14] #527 closed

[2018-02-15 09:15] ronag commented on #539
Please try with 2.2 and reopen of still an issue.

[2018-02-15 09:15] #539 closed

[2018-02-15 09:16] ronag commented on #522
fixed 2.2

[2018-02-15 09:16] #522 closed

[2018-02-15 09:16] ronag commented on #513
2.2

[2018-02-15 09:16] #513 closed

[2018-02-15 09:16] #495 closed

[2018-02-15 09:16] ronag commented on #448
Moved to media_scanner

[2018-02-15 09:16] #448 closed

[2018-02-15 09:18] ronag commented on #446
@5opr4ni this is what we discussed yesterday.

I suggest:

/file/time
/time
/file/frame
/frame

[2018-02-15 09:18] ronag commented on #655
@premultiply if you join us on slack yes :) @hummelstrand

We have a beta candidate that should be made official soon.

[2018-02-15 09:19] sesse commented on #596
Look at the first message in the issue (under “Original issue”) for a short summary of what it is? Or the issue title, for that matter.

[2018-02-15 09:19] ronag commented on #439
Duplicate https://github.com/CasparCG/server/issues/714

[2018-02-15 09:19] #439 closed

[2018-02-15 09:20] ronag commented on #714
This should be really easy to fix. Just need to properly configure the FFMPEG filters in the decklink producer.

Someone up for the task?

[2018-02-15 09:20] ronag commented on #714
Preferably we should use decklink auto format detection instead of having the input format as an argument.

[2018-02-15 09:20] ronag commented on #372
Try with 2.2 and reopen if still an issue.

[2018-02-15 09:20] #372 closed

[2018-02-15 09:21] ronag commented on #335
Fixed with media-scanner

[2018-02-15 09:21] #335 closed

[2018-02-15 09:22] ronag commented on #365
@5opr4ni can you analyze this?

[2018-02-15 09:23] ronag commented on #364
@sesse is this still a problem in 2.2? If so please re-open.

[2018-02-15 09:23] #364 closed

[2018-02-15 09:25] ronag opened #817 "Extensions in LOAD, LOADBG, PLAY"

[2018-02-15 09:25] sesse commented on #364
I don't use CasparCG on Intel anymore, so I don't know.

(Also, you keep writing “please re-open”, but seemingly close bugs in a way that makes them un-reopenable to anyone but you.)

[2018-02-15 09:27] ronag commented on #225
https://github.com/CasparCG/server/issues/688

[2018-02-15 09:27] #225 closed

[2018-02-15 09:28] ronag commented on #356
https://github.com/CasparCG/server/issues/688

[2018-02-15 09:28] #356 closed

[2018-02-15 09:28] ronag commented on #353
2.2

[2018-02-15 09:28] #353 closed

[2018-02-15 09:28] ronag commented on #352
2.2

[2018-02-15 09:28] #352 closed

[2018-02-15 09:28] ronag commented on #347
2.2

[2018-02-15 09:28] #347 closed

[2018-02-15 09:29] ronag commented on #340
INFO is deprecated

[2018-02-15 09:29] #340 closed

[2018-02-15 09:29] ronag commented on #332
2.2

[2018-02-15 09:29] ronag commented on #329
2.2. Please reopen if still an issue.

[2018-02-15 09:29] #329 closed

[2018-02-15 09:30] #324 closed

[2018-02-15 09:30] ronag commented on #324
Fixed in 2.2

[2018-02-15 09:30] ronag commented on #44
Fixed in 2.2

[2018-02-15 09:30] #44 closed

[2018-02-15 09:40] ronag commented on #18
2.2

[2018-02-15 09:40] #18 closed

[2018-02-15 09:40] ronag commented on #19
2,2

[2018-02-15 09:40] #19 closed

[2018-02-15 09:41] ronag commented on #40
2.2

[2018-02-15 09:41] #40 closed

[2018-02-15 09:43] ronag commented on #47
2.2

[2018-02-15 09:43] #47 closed

[2018-02-15 09:43] #38 closed

[2018-02-15 09:43] ronag commented on #51
2.2

[2018-02-15 09:43] #51 closed

[2018-02-15 09:43] ronag commented on #66
media-scanner

[2018-02-15 09:43] #66 closed

[2018-02-15 09:43] ronag commented on #74
2.2

[2018-02-15 09:43] #74 closed

[2018-02-15 09:44] ronag commented on #85
2.2

[2018-02-15 09:44] #85 closed

[2018-02-15 09:44] ronag commented on #91
2.2

[2018-02-15 09:44] #91 closed

[2018-02-15 09:45] ronag commented on #96
info is deprecated

[2018-02-15 09:45] #96 closed

[2018-02-15 09:45] #99 closed

[2018-02-15 09:45] ronag commented on #107
2.2

[2018-02-15 09:45] #107 closed

[2018-02-15 09:45] ronag commented on #114
2.2

[2018-02-15 09:45] #114 closed

[2018-02-15 09:52] ronag commented on #184
2.2

[2018-02-15 09:52] #184 closed

[2018-02-15 09:52] ronag commented on #182
2.2

[2018-02-15 09:52] #182 closed

[2018-02-15 09:52] ronag commented on #180
2.2

[2018-02-15 09:52] #180 closed

[2018-02-15 09:53] ronag commented on #167
2.2 I think this can be achieved with ffmpeg filters

[2018-02-15 09:53] #167 closed

[2018-02-15 09:54] ronag commented on #154
2.2

[2018-02-15 09:54] #154 closed

[2018-02-15 09:54] ronag commented on #147
2.2

[2018-02-15 09:54] #147 closed

[2018-02-15 09:54] ronag commented on #144
2.2

[2018-02-15 09:54] ronag commented on #142
2.2

[2018-02-15 09:54] ronag commented on #127
2.2

[2018-02-15 09:55] ronag commented on #126
2.2

[2018-02-15 09:55] ronag commented on #116
2.2 ffmpeg consumer

[2018-02-15 09:55] #116 closed

[2018-02-15 09:55] #194 closed

[2018-02-15 09:56] #196 closed

[2018-02-15 09:56] ronag commented on #235
info is deprecated

[2018-02-15 09:56] #235 closed

[2018-02-15 09:56] ronag commented on #236
2.2

[2018-02-15 09:56] #236 closed

[2018-02-15 09:56] ronag commented on #237
moved to media-scanner

[2018-02-15 09:56] #237 closed

[2018-02-15 09:57] ronag commented on #238
2.2

[2018-02-15 09:57] #238 closed

[2018-02-15 09:57] ronag commented on #255
2.2

[2018-02-15 09:57] #255 closed

[2018-02-15 09:57] ronag commented on #264
2.2

[2018-02-15 09:57] #264 closed

[2018-02-15 09:57] ronag commented on #270
moved to media-scanner, info is deprecated

[2018-02-15 09:57] #270 closed

[2018-02-15 09:57] ronag commented on #272
2.2

[2018-02-15 09:57] #272 closed

[2018-02-15 09:57] ronag commented on #273
2.2

[2018-02-15 09:57] #273 closed

[2018-02-15 09:57] ronag commented on #280
2.2

[2018-02-15 09:57] #280 closed

[2018-02-15 09:57] ronag commented on #282
2.2

[2018-02-15 09:57] #282 closed

[2018-02-15 09:58] #304 closed

[2018-02-15 09:58] #295 closed

[2018-02-15 09:58] ronag commented on #290
duplicate https://github.com/CasparCG/server/issues/776

[2018-02-15 09:58] #290 closed

[2018-02-15 09:59] gizahNL commented on #597
can confirm this issue while building 2.1

[2018-02-15 09:59] ronag commented on #268
still a problem?

[2018-02-15 09:59] #268 closed

[2018-02-15 10:00] ronag commented on #267
It does?

[2018-02-15 10:00] #267 closed

[2018-02-15 10:00] #126 closed

[2018-02-15 10:00] #127 closed

[2018-02-15 10:00] #246 closed

[2018-02-15 10:01] #322 closed

[2018-02-15 10:01] #321 closed

[2018-02-15 10:01] ronag commented on #313
ping pong is implemented

[2018-02-15 10:01] #313 closed

[2018-02-15 10:01] #288 closed

[2018-02-15 10:02] #472 closed

[2018-02-15 10:02] #456 closed

[2018-02-15 10:02] ronag commented on #392
2.2

[2018-02-15 10:02] #392 closed

[2018-02-15 10:02] ronag commented on #393
2.2

[2018-02-15 10:02] #393 closed

[2018-02-15 10:02] ronag commented on #405
help doc is removed

[2018-02-15 10:02] #405 closed

[2018-02-15 10:03] ronag commented on #407
2.2

[2018-02-15 10:03] #407 closed

[2018-02-15 10:03] ronag commented on #412
wiki

[2018-02-15 10:03] #412 closed

[2018-02-15 10:04] ronag commented on #641
not in server

[2018-02-15 10:04] #641 closed

[2018-02-15 10:04] #573 closed

[2018-02-15 10:04] #572 closed

[2018-02-15 10:04] ronag commented on #571
@Julusian is this still an issue?

[2018-02-15 10:05] #655 closed

[2018-02-15 10:05] ronag commented on #658
info deprecated

[2018-02-15 10:05] #658 closed

[2018-02-15 10:06] ronag commented on #597
@gizahNL 2.2?

[2018-02-15 10:07] premultiply commented on #641
where else? needs direct access to the server renderer

[2018-02-15 10:08] ronag commented on #364
@sesse just ask for someone to re-open them and they will. There are way too many old issues that have been open for years to keep track of here. If there is anyone willing to help out with resolving them me or several other people can re-open.

[2018-02-15 10:11] ronag commented on #641
@premultiply why? flash, html etc... can easily run outside of server...

[2018-02-15 10:14] sesse commented on #364
Well, OK, don't bother. :-) I've given up on the way this project is run a while back, so it's not worth it—I have my own fork which I can use until I find time and energy to do my own CEF integration and drop CasparCG entirely. Please remove whatever access I might have; I'll be unsubscribing from all bugs. Thanks!

[2018-02-15 10:26] premultiply commented on #641
shure you can run flash and html outside of server in standalone applications but that does not give you the same result and the interfaces as requiered for integrated workflows. And what about psd and scene producer using them all with a common interface?
This topic is not of being able to run something outside of server but to get the same results as running in server.

[2018-02-15 10:36] ronag commented on #641
This is solvable outside of the server. We do it at nxtedition.

A very good point. It's not relevant until 3.0. But yes, that is a problem. I think we can resolve this once producers can run in their own processes. Which then can implement an interface for casparcg playout and one interface for thumbnails, preview etc...

[2018-02-15 10:46] 5opr4ni commented on #446
@ronag Yes! We also talked about this today. I agree to your suggestion. It will be impossible for a solution listening and monitoring the server to show correct data, if that solution hasn't issued the command.
So this would solve that problem.

[2018-02-15 11:12] ronag opened #818 "Multiple stream handling"
Continuing of #812.

The current behavior is:

- If filter audio input == 1
  - merge all audio streams into a single stream
- If filter video input == 1
  - sort video streams by resolution
  - if video streams count >= 2 and top 2 streams have same resolution
    - alphamerge

This will NOT work 100% of the case, e.g. what if we have multiple quality audio streams etc...

Please help me figure o

[2018-02-15 11:15] ronag opened #819 "Producer Preview/Thumbnail"
#641

Once we separate producers into their own processes it should be safe to add a preview/thumbnail API on top of that.

[2018-02-15 11:45] KeloCube commented on #622
I actually tried this as soon as I saw the 2.2 builds. All my streams play without issue now, just as they would using ffplay. Thank you for the ffmpeg producer rewrite, it has been a very welcome improvement!

The only stream I couldn't get to play was the twitch stream. I tested on the last Windows binary you linked to in #679, as I had some issues with the build and didn't want to get into reso

[2018-02-15 12:35] ronag commented on #622
@KeloCube that stream has some wierd timestamp. Not sure we can fix it. CasparCG makes a bit more strict assumption about the input than ffplay does.

Could you open this as a separate issue and we can look into it at some point in the future. Thanks!

[2018-02-15 12:54] KeloCube opened #820 "Unable to play twitch.tv stream"
As discussed in #622, streams from twitch.tv don't work, even though they play fine with ffplay.

One frame might be loaded but the stream doesn't play.

URL for testing from https://www.twitch.tv/cosmos:
https://video-weaver.arn03.hls.ttvnw.net/v1/playlist/CvUCecZW-b2fnk-ww7BqvO3ac7tcwCOzIv83GoTHcACgYAz-DP8_qwZAvGV_MOmnCp7VpIoXByhlT3OAwrYVjteV1G4oWsyeLjblTZgQSqlpv-lnIPGehORKTAOsm_lzManczinGBHfaHt

[2018-02-15 12:55] ronag opened #821 "Re-do how output sync works"

[2018-02-15 12:59] ronag commented on #820
CasparCG automatically adds a async filter to all audio streams to sync up the audio. I believe this stream doesn't have timestamps on audio which is why it fails. ffplay has custom handling for this scenario.

Might be worth looking into.

[2018-02-15 13:02] premultiply commented on #821
#772

[2018-02-15 13:06] premultiply commented on #820
From https://ffmpeg.org/ffmpeg.html:

-async samples_per_second
[...]

**This option has been deprecated. Use the _aresample_ audio filter instead.**

[2018-02-15 13:39] ronag commented on #820
@premultiply yep, that's what we do, but we add it automatically

[2018-02-15 13:58] premultiply commented on #820
My hint was just that the async option is labeled as deprecated in favor of aresample filter in ffmpeg documentation.

[2018-02-15 14:02] ronag commented on #820
This is fixed in master. Thanks @premultiply !

[2018-02-15 14:02] #820 closed

[2018-02-15 14:10] ronag opened #822 "Make clang-format work with Visual Studio"
We have a .clang-format file. Just need to know how to configure Visual Studio to properly apply it...

[2018-02-15 14:12] gizahNL commented on #597
@ronag,no solely when compiling 2.1 on for example Debian Stretch

[2018-02-15 14:14] gizahNL commented on #597
`/usr/bin/ld: /root/casparcg_source_git/2.1.0/dependencies64/sfml/lib/linux/libsfml-system-s.a(ThreadLocal.cpp.o): relocation R_X86_64_32 against symbol __gxx_personality_v0@@CXXABI_1.3 can not be used when making a shared object; recompile with -fPIC`

2.2 build does also fail, but for whole other reasons ;)

[2018-02-15 14:15] ronag commented on #597
@gizahNL we won't put any more time into 2.1 unfortunately. If you want help with building 2.2 please open a new issue.

[2018-02-15 14:16] TomKaltz commented on #714
+1

[2018-02-15 14:20] gizahNL commented on #597
No problem. Is there a git revision of 2.2 that is considered buildable? I've been occasionally pulling and trying makes and seeing builds fail at different places.
February 15, 2018 3:15 PM, "Robert Nagy" <notifications@github.com (mailto:%22Robert%20Nagy%22%20<notifications@github.com>)> wrote:
	@gizahNL (https://github.com/gizahnl) we won't put any more time into 2.1 unfortunately. If you want

[2018-02-15 14:20] ronag commented on #713
If we put the limitation that you can only route between channels with the same sync source we could fully resolve this without audio drift compensation and with < 1 frame latency.

[2018-02-15 14:24] ronag commented on #663
@TondaKrist please provide a sample file

[2018-02-15 14:27] ronag commented on #212
2.2

[2018-02-15 14:27] #212 closed

[2018-02-15 14:28] premultiply commented on #713
Mmmmh. What does sync source exactly mean in this case? How to select it?
What happens if sync between genlocked channels is lost (pull out reference cable on one card etc)?

[2018-02-15 14:29] ronag opened #823 "OpenGL bwdif"
Do interlacing on gpu. Should be relatively simple. Just look at the ffmpeg code and port it into a opengl shader.

[2018-02-15 14:30] LuigiBaute opened #824 "Hello, I am interested in collaborating with your project, serving as a translator to Spanish since it is my native language. I can translate any document in .md"

[2018-02-15 14:30] ronag commented on #823
I did this ages ago for yadif but I couldn't find it. I think this is an early version for reference:

[code]

[2018-02-15 14:32] ronag commented on #713
@premultiply as long as the channels are driven by the same function invocation it's not a problem.

[2018-02-15 14:32] TomKaltz commented on #721
Why closed?

[2018-02-15 14:34] premultiply commented on #714
Yes and you have to keep in mind that input format may change during operation.

Older cards do not support auto detect and there are modes that are the same on SDI level like 1080i50 and 1080psf25.

[2018-02-15 14:35] ronag commented on #597
Master SHOULD be buildable. But I don't know the status there since I don't build it myself and I tend to break it. It seems Visual Studio is much more forgiving.

[2018-02-15 14:36] TomKaltz commented on #776
+1

[2018-02-15 14:37] gizahNL commented on #597
Yes I noticed the amount of code changes, and I didn't want to start writing PR's for hot code failing to build, as I imagine it would be creating a lot of useless interuption. I'll send a PR in from a failed 2.2 build and I'll try to see how a Dockerbuild goes.

February 15, 2018 3:33 PM, "Robert Nagy" <notifications@github.com (mailto:%22Robert%20Nagy%22%20<notifications@github.com>)> wrote:
	I'

[2018-02-15 14:43] #721 closed

[2018-02-15 14:43] ronag commented on #721
@TomKaltz related to #821

[2018-02-15 14:45] ronag commented on #824
Hey luigi! Thanks for the intersted. But we are sticking to english only. If you want to translate to Spanish feel free to create a fork.

[2018-02-15 14:45] #824 closed

[2018-02-15 14:48] gizahNL opened #825 "2.2: Linux, Build fails with error: changes meaning of ‘route’ from ‘struct caspar::core::route’"
On git revision ec623f08495e2315aabfe4022561da95ab6dc088
Debian 9.3 with all dependencies installed.
See attached buildlog

[buildlog.txt](https://github.com/CasparCG/server/files/1728080/buildlog.txt)

[2018-02-15 14:52] gizahNL commented on #825
Dockerbuild:
Sending build context to Docker daemon  3.692MB
Step 1/15 : FROM casparcg/base:1.1.0 as build-casparcg
1.1.0: Pulling from casparcg/base
18c8f805be45: Pull complete
f7869fb3b98c: Pull complete
f75000414ffb: Pull complete
c27c5092058d: Pull complete
add65c7404ea: Pull complete
077d47163a81: Pull complete
e2bf7912836d: Pull complete
7dff99104cbf: Pull complete
9d49875aaecb: Pull complet

[2018-02-15 14:55] ronag opened #826 "AMCP NodeJS Proxy"
We need a AMCP NodeJS Proxy so we can start removing old legacy stuff without breaking clients. Somebody up for the task?

e.g. we would like to remove all "CG" commands and implement them in terms of "LOAD, PLAY, CALL, etc..."

[2018-02-15 14:56] Julusian commented on #825
This is a simple one line fix, but leaves another issue with cef include paths

[2018-02-15 14:57] PeterAkakpo opened #827 "System Audio does not work"
After building version 2.2.0 , and adding "<system-audio></system-audio>"
to the consumer section of the configuration file, all i could hear was some on and off clicking sound. no audio. i am running on windows.

[2018-02-15 14:58] gizahNL commented on #825
If you intended to share some code, It's not here ;)

[2018-02-15 14:59] ronag commented on #825
I've fixed it. CEF still has issues though as @Julusian pointed out.

[code]

[2018-02-15 15:04] gizahNL commented on #825
https://github.com/CasparCG/server/commit/44ef70afdea8344d22a8a2fd2a020bb01f3d141e

Might that have something to do with it? I remember getting 2.2 to build at least once by commenting out some code here and there (ffmpeg related, not cef related)

[2018-02-15 15:05] ronag commented on #827
Yep, that's an issue.

[2018-02-15 15:06] PeterAkakpo commented on #827
OK

[2018-02-15 15:11] TondaKrist commented on #663
[05 Dear Boy.zip](https://github.com/CasparCG/server/files/1728179/05.Dear.Boy.zip)

[2018-02-15 15:26] PeterAkakpo opened #828 "Windows Build - Shell.rc error from zip"
Building on windows with the current 2.2.0 source gives an error because "shell.rc" includes "version.h" which is always not in the right place. "version.h" is suppose to be in the shell folder but its not there. copying the "version.h" into the shell folder gives a successful build

[2018-02-15 15:29] gizahNL commented on #825
diff --git a/src/modules/html/CMakeLists.txt b/src/modules/html/CMakeLists.txt
index 484b21795..4b454f0c5 100644
--- a/src/modules/html/CMakeLists.txt
+++ b/src/modules/html/CMakeLists.txt
@@ -22,6 +22,8 @@ include_directories(../..)
 include_directories(${BOOST_INCLUDE_PATH})
 include_directories(${TBB_INCLUDE_PATH})
 include_directories(${CEF_INCLUDE_PATH})
+include_directories(${CEF_PATH})
+

[2018-02-15 15:31] ronag opened #829 "OAL audio drift compensation"

[2018-02-15 15:31] ronag commented on #827
Should be fixed in master.

[2018-02-15 15:31] #827 closed

[2018-02-15 15:32] ronag commented on #828
Did you follow the instruction in BUILDING.md exactly? Because depending on where and how you run cmake you can get this issue. @Julusian

[2018-02-15 15:33] Julusian commented on #825
oh yeah that would solve that... I completely forgot that linux still needed that chunk...

Im currently facing an issue with decklink now though..

[2018-02-15 15:38] PeterAkakpo commented on #828
I have realize that anytime i clone the repo (which is larger), build is successful. This issue occurs anytime i download the ZIP file (which is about 6MB). Is there any difference (in terms of code)  between cloning the repo and downloading the ZIP file?

[2018-02-15 15:39] gizahNL commented on #825
[code]
I'm guessing one of the commits of the past 2-3 days borked something...

[2018-02-15 15:41] ronag commented on #828
@PeterAkakpo I don't know. How exactly do you download?

[2018-02-15 15:42] ronag commented on #825
I think the solution is to remove the. `BMDFieldDominance::` part. I don't think decklink uses enum classes.

[2018-02-15 15:48] PeterAkakpo commented on #828
![cg](https://user-images.githubusercontent.com/7926382/36265655-98441a14-1267-11e8-9c60-ab52a20f5229.png)

[2018-02-15 15:49] Julusian commented on #828
When you download the zip file, you won't be getting any of the files which are stored in LFS. So it looks as though cmake failed to run fully because those files were still the LFS pointers instead of full files.

I expect that downloading as a zip should be fine after #734, or when building for linux

[2018-02-15 15:53] ronag commented on #663
Ok, there is a weird video stream in the file which I am unsure how to handle. It has a long duration but only a single packet.

[2018-02-15 15:54] PeterAkakpo commented on #828
Just "version.h"

[2018-02-15 15:56] ronag commented on #828
@PeterAkakpo "version.h" should be auto generated from "version.tmpl".

[2018-02-15 15:56] Julusian commented on #828
Everything still in /src/packages is still in LFS. <25mb according to the tree I am currently in.

[2018-02-15 15:56] ronag commented on #828
@Julusian I'm fine with converting to regular git. What do you think?

[2018-02-15 15:58] ronag commented on #663
The workaround for now is to do it like this "PLAY 1 "05 Dear Boy" VF NULLSRC

[2018-02-15 15:59] TondaKrist commented on #663
[audio.zip](https://github.com/CasparCG/server/files/1728372/audio.zip)
Same things happen for any other MP3 with artworks

[2018-02-15 16:00] TondaKrist commented on #663
workaround works only on 2.2, right?

[2018-02-15 16:01] PeterAkakpo commented on #828
yes version.h is generated into a folder called "generated" instead of the "shell" folder.

[2018-02-15 16:02] ronag commented on #663
@TondaKrist correct

[2018-02-15 16:02] ronag commented on #828
that doesn't sound LFS related

[2018-02-15 16:04] TondaKrist commented on #663
@ronag thanks. Are there any Win binaries already to download or do I have to build it by myself?

[2018-02-15 16:09] ronag commented on #663
@TondaKrist there is a link on slack, and we should have official binaries soon

[2018-02-15 16:15] Julusian commented on #355
#805

[2018-02-15 16:51] #825 closed

[2018-02-15 17:20] gizahNL opened #831 "Issue when building 2.2 on Debian 9.3"
When building 2.2 on Debian stretch 9.3 I get the following error:
[code]

I've got /opt/ffmpeg and others set up exactly as it would've been inside the docker image, perhaps it's being ignored and system ffmpeg overrides it due to path settings?

[2018-02-15 17:26] ronag commented on #663
This is fixed in 2.2 master without the need for any workaround.

[2018-02-15 17:26] #663 closed

[2018-02-15 17:27] ronag commented on #663
cd050f8cdd5c896af0c809253a1847fda9577105

[2018-02-15 17:27] TondaKrist commented on #663
Great job!

[2018-02-15 17:28] ronag commented on #831
@gizahNL it's a compiler bug, what compilar + version are you running?

[2018-02-15 17:40] ronag opened #832 "Use metadata for auto alphamerge"

[2018-02-15 17:40] ronag opened #833 "Use metadata for auto amerge"

[2018-02-15 17:52] ronag commented on #828
@PeterAkakpo could you try with the zip again?

[2018-02-15 17:55] 5opr4ni commented on #668
This is the same in 2.2

The latest Transform-time regulates all transforms currently going on. (For that Layer)

Same for issue  #16

**Group in Client and fire of as a group.**
`PLAY 1-10 MAGGIO CUT 1`
`MIXER 1-10 CLIP 0 0 1 0.8 300`
`MIXER 1-10 OPACITY 0.53 15`

[2018-02-15 18:03] PeterAkakpo commented on #828
Ok, let me do that now

[2018-02-15 18:07] ronag commented on #828
ah! the problem is that version.h cannot be generated since the version is read from git.

[2018-02-15 18:09] ronag commented on #668
Yea, this will require a whole overhaul of the tween composition system. Not an easy fix.

[2018-02-15 18:10] ronag commented on #828
@PeterAkakpo I don't know how to fix this properly. I think we're leaving it as is for now. Until someone finds a solution...

[2018-02-15 18:11] #747 closed

[2018-02-15 18:12] ronag opened #834 "Make a Beta Release"

[2018-02-15 18:13] 5opr4ni commented on #668
It has to stay as a Bug then, without Milestone. We will pick it up later.

[2018-02-15 18:14] ronag commented on #727
Solved by https://github.com/CasparCG/server/issues/726

[2018-02-15 18:14] #727 closed

[2018-02-15 18:15] ronag commented on #728
Solved by #725

[2018-02-15 18:15] #728 closed

[2018-02-15 18:50] PeterAkakpo commented on #828
ok this is my result. i just downloaded the zip and noticed that the size has increased by about 3M.
verson.h is still being generated into the "generated" folder. this is the content of the version.h generated.

#define CASPAR_GEN 2
#define CASPAR_MAYOR 2
#define CASPAR_MINOR 0
#define CASPAR_TAG "Beta 1"
#define CASPAR_REV fatal: Not a git repository (or any of the parent directories): .git
#def

[2018-02-15 18:57] PeterAkakpo commented on #828
i think one solution is to just add the version.h file into the shell folder as part of the download, so that its not generated by cmake.

it is in the shell folder because shell.rc references it from there.

[2018-02-15 19:31] walterav1984 commented on #596
Would like to test/confirm this issue is still there in 2.2.0, but don't know how to get 2.2.0 to run outside the docker build out so I can read/write media files/pipes  have Nvidia/Intel opengl 4.5.

Like sesse mentions, the issue is really explained in the first post "Original issue" the title of the issue is really its subject: "Linux CasparCG server FILE consumer overwrites namedpipe instead o

[2018-02-15 20:40] ronag commented on #596
ah, yes, silly me... the feeding code is not in caspar but handled by ffmpeg. So it might just have been an issue of caspar using an old ffmpeg version.

Please try with 2.2. Unfortunately I can't help much with Linux & Caspar.

[2018-02-15 21:51] pkeuter commented on #818
Checked and working

- sort by resolution
- video stream count == 2 && same resolution alphamerge
- merge audio streams

What might be an issue is an audiostream with multiple streams of the same type, but in different bitrates. Obviously, the audio streams will be merged, but this could be unwanted behaviour in this case. Do we need a way to disable this functionality?

[2018-02-15 21:55] pkeuter opened #835 "ffmpeg producer should check a stream's manifest to decide which stream to use"
Currently the ffmpeg producer opens every stream to decide which stream is the best one to use. This is a potential performance issue. It should decide which stream to use based on the metadata/manifest of the input.

[2018-02-15 22:06] pkeuter opened #836 "system-audio sometimes buzzes"
It's kinda hard to reproduce but once in a while my soundcard buzzes for half a second or so, sometimes with stutters (in the buzzing), sometimes not. It sounds like a sync issue. It doesn't matter if there's audio playing or not. It happens when the output is silent too.

I'm not sure if it's actually the system-audio output or if it happens on other outputs as well. I can't check that atm.

[2018-02-15 22:07] premultiply commented on #818
Merging of all audiotracks in track order regardless of their codec, bitrate etc is exactly the wanted behaviour. Think of main stereo track plus 5.1 surround track. Or stereo main track plus other language mixes etc.
Unwanted tracks in output can be simply ignored or dropped.

[2018-02-15 22:10] pkeuter opened #837 "Color producer output not always correct when passing alpha value"
`PLAY 1-1 #00000000` -> full transparancy -> good
`PLAY 1-1 #000000` -> full black -> good
`PLAY 1-1 #000000FF` -> blue -> incorrect (should be black)
`PLAY 1-1 #FFFFFFFF` -> yellow -> incorrect (should be white)

[2018-02-15 22:26] pkeuter commented on #837
After studying the code, I see this is my fault, the order is ARGB. Seems strange to me, but ok.

[2018-02-15 22:26] #837 closed

[2018-02-15 22:38] ronag commented on #837
Yea, that is weird. Not sure why it was done like that.

[2018-02-15 22:42] pkeuter commented on #818
This is correct in regular use cases. But when playing a HLS or DASH stream which possibly contains the exact same audiostream, but in different qualities this is unwanted behaviour, and thus it would be good to make it at least possible to turn the automerge off.

Can they at this moment?

[2018-02-15 22:51] 5opr4ni commented on #818
In broadcast it is fairly common to have separate monotacks, one mono for each stream. And that differs between broadcasters in how to map that. FL C FR or FL FR C
That is also the default for Avid DNxHD vc-3 MXF op-1a. So we have to take hight for that.

[2018-02-15 23:14] TomKaltz commented on #836
I have the same problem with all empty layers.

On Thu, Feb 15, 2018 at 2:06 PM, Peter Keuter <notifications@github.com>
wrote:

[2018-02-15 23:27] ronag opened #838 "Implement new nb_samples API for NTSC support"
Some of the mixer changes broken NTSC and requires the new nb_samples API to be implemented by the ffmpeg and decklink producers.

[2018-02-16 04:15] PeterAkakpo opened #839 "LOOP broken"
In version 2.2., PLAY 1-0 video LOOP,  does not loop the video

[2018-02-16 05:25] premultiply commented on #818
Its the same for HLS and DASH as they also support multi languages etc.
You can not simply pass only the track with the highest something and drop the others.

Just decode all and let the user decide what he wants to deembed/hear.

[2018-02-16 06:38] pkeuter commented on #818
Which is exactly my point. We need a way to disable the automerge. Currently, to my best of knowing, it is always enabled. Which is good, because most of the files we're playing contain multiple different audio streams like @5opr4ni said. But sometimes, and I've said this in my previous post too, we have a regular stream, which contains the _exact same_ audio, but in different bitrates. In this ca

[2018-02-16 07:02] 5opr4ni commented on #818
You can use ffmpeg audio filters in 2.2
`af pan=stereo|c0=c6|c1=c7`

[2018-02-16 07:06] pkeuter commented on #818
Perfect. "Issue" solved then. This also helps with remapping the streams when the order is incorrect.

[2018-02-16 07:11] 5opr4ni commented on #818
Jepp!

[2018-02-16 08:16] ronag commented on #839
Could you please provide the video or another sample that has the problem?

[2018-02-16 08:29] ronag commented on #836
Related #829

[2018-02-16 08:35] 5opr4ni commented on #839
I have no problem with this.

[2018-02-16 08:38] 5opr4ni commented on #839
I can confirm that there is an issue here. it loops but fails after a while.

`[2018-02-16 09:34:42.911] [info]    Received message from 10.21.81.11: PLAY 1-11 "50POPAK" CUT 0 Linear RIGHT   LOOP\r\n
[2018-02-16 09:34:42.929] [info]    Sent message to 10.21.81.11:202 PLAY OK\r\n
[2018-02-16 09:35:14.398] [error]   [ffmpeg] [targa @ 0000000022544840] Packet went out of bounds
[2018-02-16 09:35:14.3

[2018-02-16 08:48] 5opr4ni commented on #839
It works with a 1080i5000 with audio but fails with an p5000 with no audio.
If the audio has any relevance, I have to find out.

[2018-02-16 08:52] 5opr4ni commented on #839
Can't really find why. Now it suddenly works! Have to do more tests.

[2018-02-16 09:42] ronag commented on #793
@5opr4ni Fixed in gdrive. Not that SEEK and LENGTH is now in fields per second, not frames per second. Sorry.

[2018-02-16 09:53] ronag commented on #836
@pkeuter @TomKaltz could you send me a screenshot of the DIAG window when the buzz happens?

[2018-02-16 09:53] ronag commented on #836
Also please use latest build.

[2018-02-16 09:54] ronag commented on #839
@5opr4ni that seems to be an issue with the file or an ffmepg bug, not related to caspar loop.

[2018-02-16 09:55] ronag commented on #839
@PeterAkakpo please help us reproduce your problem.

[2018-02-16 09:56] ronag opened #840 "Route to different channel"
Seems to be broken for @5opr4ni. I haven't managed to reproduce as of yet.

[2018-02-16 11:07] jesperstarkar commented on #788
Does this give audio track shuffling/mixing? Will the consumer have the same filters?

[2018-02-16 11:17] jesperstarkar commented on #816
How will this work? Will `ADD 1-1 SCREEN` only output layer 1 channel 1?

[2018-02-16 12:28] ronag commented on #788
@jesperstarkar yes, make an issue :)

[2018-02-16 12:29] ronag commented on #816
the second value is just an identifier. @5opr4ni was telling me that this could be confusing... but it is actually how it works today the `1` version is just a shorthand.

[2018-02-16 13:12] jesperstarkar commented on #816
On the producer side, yes, `1`  means `1-0`, but do we have any consumers at all that takes a single layer? The layer re-route does, but not the others? Or am I missing a cool feature here?

[2018-02-16 13:14] ronag commented on #816
nono, it has nothing to do with layers at all... it's just an port index so you can remove the consumer, e.g.
[code]

[2018-02-16 13:15] ronag commented on #816
The layer routing to consumers is kind of cool but can be achieved with channels + routing.

[2018-02-16 13:16] ronag commented on #836
@TomKaltz @pkeuter could you try with latest?

[2018-02-16 13:17] jesperstarkar commented on #816
Ah, consumer index. Got it! Sorry about confusing, thanks for the explanation.

[2018-02-16 13:17] jesperstarkar commented on #816
How about a new syntax to distinguish this from layers if it gets mandatory? `1:1`, `1:888`?

[2018-02-16 13:33] ronag commented on #836
We either have to sync against oal or compensate. Currently, we do neither... so it's not going to be perfect.

[2018-02-16 13:36] pkeuter commented on #836
So just for posterity. @ronag changed the synchronized flag back to false, so we still have the jitter. It's less when the debugger isn't attached, so I guess it isn't a high priority issue. Putting the synchronized flag to true makes audio disappear and the video play way too fast, so that's not an option.

[2018-02-16 13:42] ronag commented on #624
I believe this is sorted now.

[2018-02-16 13:42] #624 closed

[2018-02-16 13:55] jesperstarkar opened #841 "AF/VF filter for decklink consumer"
Ref #788

[2018-02-16 14:01] ronag commented on #365
I think this is best solved in GLSL.

[2018-02-16 14:04] ronag commented on #831
@gizahNL I think you need gcc 7 at least.

[2018-02-16 14:04] #831 closed

[2018-02-16 14:05] #793 closed

[2018-02-16 14:05] #840 closed

[2018-02-16 14:07] jesperstarkar commented on #782
The Intel HD630 can't run after you re-added the check. Had problems exporting a full GL report of the system, but here is the overvier:

![screen shot 2018-02-16 at 15 01 48](https://user-images.githubusercontent.com/6236874/36311283-18c1ff62-132b-11e8-96d0-77cb7a5e7970.png)
![screen shot 2018-02-16 at 15 02 13](https://user-images.githubusercontent.com/6236874/36311284-18df9a68-132b-11e8-8b4c-04

[2018-02-16 14:09] ronag commented on #782
yea, I'd rather have it not running where it could than having it run where it shouldn't, crashing and getting tons of bug reports.

Fixing this is more about research than programmer knowledge. PR wanted.

[2018-02-16 14:29] ronag opened #842 "Weird errors in log"
everything seems ok but log prints errors with no info, why? @5opr4ni sample file?

[2018-02-16 17:37] ronag opened #843 "Auto set enable_er for H264"

[2018-02-16 17:38] ronag opened #844 "Use TBB for ffmpeg codec execution"
Currently ffmpeg spawns it's own threads with causes extra performance overhead. We've already fixed this for ffmpeg filters but we need to fix it for codecs as well... which seems much more difficult.

The main issue is that ffmpeg does not use a global thread pool so basically each decoder and encoder instance will try to spawn as many threads as there are physical threads on the machine. Which

[2018-02-16 18:36] jesperstarkar commented on #16
#668?

[2018-02-16 20:39] ronag commented on #16
duplicate

[2018-02-16 20:39] #16 closed

[2018-02-17 03:41] TomKaltz commented on #838
I can't even get the server to start correctly with an NTSC channel.  Is that related to this issue?

[2018-02-17 10:59] ronag commented on #838
Hm, maybe I will have to check. Unfortunately this change was required in order to get channel and layer producer working properly.

[2018-02-17 21:27] 5opr4ni commented on #838
Hi

If you have tested with the version currently on Goole Drive, it  works with nothing. I have NTSC running with the version before that, ( 2.2.0.3.....2529 Beta 1 x64). It plays my 1080i5000 files ~nicely, but NTSC stutter some.

[2018-02-17 22:05] 5opr4ni commented on #838
seems weird.

[2018-02-18 10:47] ronag commented on #838
@TomKaltz @5opr4ni sorry, I accidentally uploaded incompatible ffmpeg dlls when updating scanner.exe. Should be fixed now.

[2018-02-18 12:44] ronag opened #845 "Fix separated alpha sample files and document limitations"
The current implementation is broken in many scenarios, e.g. looping etc.... Is it still worth to keep it?

[2018-02-18 12:46] 5opr4ni commented on #845
?

[2018-02-18 12:46] 5opr4ni commented on #845
Sorry! Ment to ?

[2018-02-18 12:52] ronag commented on #845
We have the "_A" playback functionality. It will currently only work if the video files are exactly right, e.g. the CG1080i50 files included in the caspar packaging will not work with loop since the alpha has a shorter duration.

[2018-02-18 12:54] ronag commented on #838
@5opr4ni NTSC should run now. Still has the 1 sample off by frame problem but so far I haven't been able to notice it.

[2018-02-18 12:54] 5opr4ni commented on #845
Then we have to change, so that those files are correct.

[2018-02-18 12:55] 5opr4ni commented on #845
Say when you want me to take it for a test spin

[2018-02-18 15:32] ronag opened #846 "Make draw_frame API immutable"

[2018-02-18 15:35] ronag opened #847 "FFMPEG Consumer V2"
- [ ] Review
- [ ] Multiple out streams
- [ ] Handle write_trailer failure with no output packets
- [ ] Multiple out files

[2018-02-18 16:13] PeterAkakpo commented on #839
this is one of the files that is not looping
[as.zip](https://github.com/CasparCG/server/files/1734860/as.zip)

[2018-02-18 16:24] ronag commented on #839
The problem here is that the video is much longer than the expected duration so it basically is stuck trying to get more audio. Not sure how to resolve this:

1. Keep playing without audio.
2. Just stop at the expected duration

[2018-02-18 16:41] ronag commented on #839
weird file, but fixed with 2.

[2018-02-18 16:41] #839 closed

[2018-02-19 09:24] ronag commented on #844
This will probably require modifying FFMPEG. Which will require funds to hire an ffmpeg developer. This would take me a week to resolve while someone familiar with the code should be able to resolve it in a day.

[2018-02-19 09:27] ronag commented on #844
This will allow us to make performance more reliable and easier, e.g. (@5opr4ni) no need to ever worry about the "-threads" option.

[2018-02-19 09:32] #842 closed

[2018-02-19 09:33] PeterAkakpo opened #848 "HTML CG INVOKE ERROR"
running this command works
CG 1-1 INVOKE 0 showCaption('BREAKINGNEWS', 'WHATADAY')

the following command throws an error (**uncaught syntax error: missing ) after argument list**)

CG 1-1 INVOKE 0 showCaption('BREAKING NEWS', 'WHAT A DAY')
the error occurs when there is/are white spaces in the arguments.

[2018-02-19 09:34] gizahNL opened #849 "linux build (docker and others)"
[code]
Build fails in normal Docker scripts as well as Debian 9.3 with gcc/c++-7 backported.

[2018-02-19 09:34] ronag commented on #848
I think you need to wrap the argument in quotes:

CG 1-1 INVOKE 0 "showCaption('BREAKING NEWS', 'WHAT A DAY')"

[2018-02-19 09:35] ronag commented on #849
Fixed in master. Please try again.

[2018-02-19 09:35] #849 closed

[2018-02-19 09:37] PeterAkakpo commented on #848
thanks Rob, that worked

[2018-02-19 09:41] gizahNL commented on #849
yes, fixed. Can now also confirm correct building when building on debian 9.3 with gcc-7.

Thanks!

[2018-02-19 09:51] #848 closed

[2018-02-19 09:55] ronag opened #850 "AMCP v3"
What's our wish list? @jesperstarkar @hummelstrand @dotarmin @TomKaltz @5opr4ni

- [ ] Asynchronous commands
- [ ] Remove CG commands
- [ ] Don't touch casing of arguments
- [ ] Simplify and close to "hardware". Move abstractions to clients.
- [ ] Alternative transport protocols e.g. websocket, http?
- [ ] ...

[2018-02-19 10:19] premultiply commented on #850
- [ ] Possible preparation of commands (starting block with "CUE") finished by "TAKE" to make shure they start at the same frame
- [ ] "DELAY ms" command to pause AMCP command execution for specified time on server side (only for this AMCP connection/macro of course).
- [ ] "MACRO file" command to run prepared commands from file on server
- [ ] native serial AMCP interface
- [ ] find a better ADD

[2018-02-19 11:05] premultiply opened #851 "Timeshift/replay behaviour of FFMPEG producer"
For timeshift/replay (play-while-record) you have to use containers which support this operation mode (for example MPEG-PS, MPEG-TS or some MXF).

Expected and whished behavior (may be discussed):
Timeshift playback should always stay in playback mode until manually stopped (or file is removed)?.
SOF of file is defined, EOF is not defined. Seeking to any (virtual) position from SOF should be possi

[2018-02-19 15:54] premultiply opened #852 "Seeking files without header/index table/"duration" crashes FFMPEG producer"
MPEG2-PS/TS, some MXF, ...

[2018-02-19 16:08] TomKaltz opened #853 "LOAD feeds empty frames if ffmpeg producer isn’t ready quickly enough"
If a file is already playing on a layer there will be a flash of empty frame before the first frame of next file is displayed.

[2018-02-19 16:30] 5opr4ni commented on #853
Strange, that was a issue in an earlier release of 2.2 especially if you didn't load but just played, but that was solved last week. Now it even makes it at a fieldlevel. Are you using the latest version. What kind of file is you playing?
(Image from SwitchPlayer)
<img width="600" alt="screen_shot" src="https://user-images.githubusercontent.com/20354852/36387893-7dad0a68-159a-11e8-844e-745ba222843

[2018-02-19 16:32] ronag commented on #852
@premultiply please provide a sample file

[2018-02-19 16:32] 5opr4ni commented on #853
Strange, that was a issue in an earlier release of 2.2 especially if you didn't load but just played, but that was solved last week. Are you using the latest version. What kind of file is you playing?

[2018-02-19 16:32] ronag commented on #853
@premultiply please provide a sample file

[2018-02-19 16:34] premultiply commented on #851
Ok, first problem: Playback stops at the duration that was seen when playback started.

[2018-02-19 16:38] premultiply commented on #852
Please take the second file I sent you the link via email some time ago.

[2018-02-19 16:39] premultiply commented on #851
#852

[2018-02-19 16:41] premultiply commented on #853
Huh? Me?

[2018-02-19 16:45] TomKaltz commented on #853
I will provide later today.

On Mon, Feb 19, 2018 at 11:41 premultiply <notifications@github.com> wrote:

--
Thomas Kaltz III 586-214-7150 Sent from Gmail Mobile

[2018-02-19 18:34] ronag commented on #852
@premultiply Thanks!

P.S. Next time please upload to e.g. dropbox and link here in the issue... I get lots of mail and it's hard to keep track of.

[2018-02-19 18:41] premultiply commented on #852
I am not shure on rights to share some files to the public.

[2018-02-19 20:08] pkeuter opened #854 "Playing HTML shows constant late frames in DIAG window"
This is because:

Do we need to show these as actual errors, is there a way to distinguish between late frames and no-update-necessary, or should we document this in the new Wiki?

[2018-02-19 20:23] 5opr4ni commented on #853
I see in the title of the issue this is about LOAD, and I can confirm this. @ronag

[2018-02-19 20:23] ronag commented on #853
Ahhhhh, it's because LOAD does not go through a transition producer.

[2018-02-19 20:29] ronag commented on #853
@TomKaltz is this a big problem for you? I can't see an easy way around this without having other negative consequences.

[2018-02-19 20:39] ronag commented on #852
@premultiply I think I fixed this in https://github.com/CasparCG/server/commit/3b0052d20bda07c2f1e5f0844c29af12346e08e7

Could you try with latest build?

[2018-02-19 20:47] #852 closed

[2018-02-19 20:48] premultiply commented on #852
If its on gdrive I can try tomorow

[2018-02-19 21:16] Julusian opened #855 "Decklink consumer causes channel performance issues"
There are performance issues with both the html and flash producers when the decklink consumer is enabled. The screenshots below show both of the producers perform better after the decklink consumer is removed.
The templates also appears a lot smoother in the screen consumer once the decklink consumer has been removed.

HTML [smooth_scroll_html.zip](https://github.com/CasparCG/server/files/1738157

[2018-02-19 21:47] ronag commented on #855
Do you have the same behaviour in progressive mode?

[2018-02-19 21:48] Julusian commented on #855
No, I was just about to edit to say that it happens in 1080i5000 but is fine in 1080p5000

[2018-02-19 21:53] ronag commented on #855
@Julusian I think I know what's causing it. Will look into it tomorrow.

[2018-02-19 22:38] TomKaltz commented on #92
Would love for this to go on current roadmap.

[2018-02-19 22:42] ronag commented on #92
Not sure where funding for this would come from but I'll add it to 3.0 preliminarily and we'll see...

[2018-02-19 22:42] premultiply commented on #92
Oha. Can be very complex.
But ok, do you have an idea how this may look like on a multilayer CG system?

[2018-02-19 22:45] TomKaltz commented on #92
I think we would have a mixer command that switches which layer to read
captioning data from. It’s would probably be a good limitation to limit
caption passing to one layer

Thomas Kaltz III 586-214-7150 Sent from Gmail Mobile

[2018-02-19 22:57] premultiply commented on #92
Layer 0 :-)

But captioning/subtitling is not only this 6708 US stuff. „Rest of the world“ uses 436M-Tracks in MXF or separate EBU-STL-files to do OP-47 teletext subtitling.

[2018-02-20 01:55] TomKaltz commented on #853
This doesn’t hurt any of my projects I just think it’s an edge that can be smoothed.

[2018-02-20 09:16] ronag commented on #855
Fixed

[2018-02-20 09:16] #855 closed

[2018-02-20 10:04] ronag opened #856 "Upgrade FFMPEG to master"
I noticed some recent bugfixes (pan filter) in ffmpeg that we might want to include in 2.2. I'm a bit busy at the moment though. @Julusian is this something you could take a quick look into? I think all it needs is a nuget update (at least for the windows build).

[2018-02-20 11:36] PeterAkakpo opened #857 "OSC LAYER STATUS"
currently you only get osc message for paused via a message like  "channel/1/stage/layer/1/paused". I think it will be better if we could have something like "channel/1/stage/layer/1/status" that will return either "paused" or "playing" or "stopped" to show the state of the layer.

[2018-02-20 14:29] premultiply commented on #855
Works fine now.

![diag](https://user-images.githubusercontent.com/4681172/36429355-67f4dd26-164a-11e8-9f4c-e59d4c09d19f.png)

[2018-02-20 18:24] TomKaltz commented on #850
Correlation ID’s are very useful. My private 2.0.7 fork has something like this hacked into AMCP and the ffmpeg producer. I provide a UUID in the AMCP command and the producer gets marked with that ID when broadcasting playback status via OSC.  Ideally this could be a core option where a producer can be fed a UUID via AMCP or the server can generate one, attach it to the producer and return it via

[2018-02-20 19:08] TomKaltz commented on #853
how about adding PAUSE token to PLAY that starts the producer in paused mode....that way it will go through the transition producer and operate like the old functionality in 2.0.7

[2018-02-20 21:31] dotarmin opened #858 "Rename branch 2.2.0 to master"
Hi!

I have been thinking a lot about the naming convention for existing branches and I think that we should rename branch 2.2.0 to master once for all and have the master to be the one where all development is occurring.

**But wait...**
If future development is going to happen in the master branch, where will stable reside? Well, when we feel that the development of the master branch is in a poi

[2018-02-20 21:35] TomKaltz commented on #858
I recommend we do something like git flow

https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow

[2018-02-20 21:38] Julusian commented on #858
I have been thinking about this too, but hadn't gotten around to opening an issue for it yet. I agree that git-flow is a nice way to do branches.

[2018-02-20 21:52] ronag commented on #858
Why? You don't like my git rambo?

[2018-02-20 21:53] ronag commented on #858
Jokes aside...

We rename 2.2.0 to master and then create a 2.2.x branch?

[2018-02-20 22:23] TomKaltz commented on #858
It would be nice to have something like git-flow but a simple master -> next branching system seems sensible enough for this project since there aren't many developers.  So you're going to branch the current master as ??? and then rename 2.2.0 to master?

[2018-02-20 23:01] Julusian commented on #858
I think that using versioned branches would be better, but it really depends on whether SVT/maintainer intends to follow semver properly.

Make sure to rename master to 2.0.x first :)

[2018-02-21 00:23] TomKaltz commented on #858
Won't renaming close PR's?  I mean I guess it could be a way to clear stale PRs before a release although not sure if it's very friendly to contributors.

[2018-02-21 00:30] Julusian commented on #858
Probably. Does github even support renaming a branch?
It will only matter now though (and affect one pr currently in the next milestone) , as in future it should get branched before a release rather than renamed.

[2018-02-21 07:04] dotarmin commented on #858
I have been playing around with various workflows for git in a couple of years and I have to say even if those all have their pros and cons I have to say that for a project like this (seen to the number of developers) it could easily give the project an overhead, even if some of the workflows are well tested and works.  CasparCG Client uses the principles of this git workflow you're referencing to

[2018-02-21 10:03] baltedewit commented on #782
The context created by SFML is always in compatibility profile. On linux at least (possibly windows too) the intel drivers will only provide a 3.0 version in compatibility mode.

Should we consider ditching SFML? Are there alternatives at all? My knowledge is not great on this either.

[2018-02-21 10:08] baltedewit opened #860 "[LINUX/FFMPEG] video underflow"
Files will underflow after a few seconds. Calling Seek will resume playback for a few seconds and then underflow like before.

Behaviour: ![](https://i.imgur.com/irMdUQP.png)

FFMPEG version is 3.4.1

Testfile: https://balte.stackstorage.com/s/ZJnJEzSzGXUfhHQ
FFProbe output:
[code]

[2018-02-21 10:10] Julusian commented on #782
I would also like to ditch SFML, for the primary context creation at least. If we can do that, then it will only be CEF that is requiring us to have a running X11 server on linux which puts us one step closer to being able to run it truely headless on linux.

I prototyped this a couple of months ago https://github.com/julusian/casparcg-server/tree/headless-linux It is using EGL, which I think shou

[2018-02-21 10:18] ronag commented on #782
I'm more than happy to merge a PR that replaces SFML context creation in the ogl device for something eles.

[2018-02-21 10:20] ronag commented on #860
I wasn't able to reproduce this on Windows. Might be different FFMPEG version issue? Could you try building against FFMPEG master?

[2018-02-21 10:26] 5opr4ni opened #861 "Decklink producer, audio out of sync."
After having the server running for 14 hours the server was out of sync for the audio on the deckling producer.

`PLAY 1-10 DECKLINK DEVICE 4 FORMAT 1080i5000`

I have no idea of when it was noticeable but will run the test again.

[2018-02-21 10:46] baltedewit commented on #860
Issue occurs on 3.4.1 and 3.4.2 from ffmpeg.org/releases

Issue does **not** occur on ffmpeg git master.

[2018-02-21 10:46] #860 closed

[2018-02-21 10:55] MauriceVeraart opened #862 "How do I get TLS, CLS etc... working?"
Hi all first time I tried to build 2.2.0

when executing caspar from the

..\build\shell\release folder

CLS and or TLS
gives me the following error

[code]

LS
Maurice

[2018-02-21 10:57] ronag commented on #862
You need to run "scanner.exe"

[2018-02-21 11:02] MauriceVeraart commented on #862
WOW that was quick !!
where should this be located ?

don't want to waste your time too much
i'm just a novice in compiling :(

[2018-02-21 11:50] ronag commented on #862
@MauriceVeraart please make a comment on this issue, https://github.com/CasparCG/server/issues/746

That information should be part of the README

[2018-02-21 11:52] ronag commented on #862
@MauriceVeraart actually, why don't you post an issue on the correct repo and then someone can help you there :) https://github.com/CasparCG/media-scanner

[2018-02-21 11:52] #862 closed

[2018-02-21 11:58] MauriceVeraart commented on #746
As asked in #862
how to make scanner.exe to get CLS TLS to work

[2018-02-21 12:48] #856 closed

[2018-02-21 12:49] ronag commented on #856
done

[2018-02-21 14:27] ronag opened #864 "HLS broken"
https://trac.ffmpeg.org/ticket/7034

[2018-02-21 15:17] 5opr4ni commented on #861
I have tested this more during the day and it all comes down to that it has to be the Decklink producer.
It some times flashes the video in black without affecting the audio. After a couple of hours there is loss of audio/video sync.

[2018-02-21 15:51] PeterAkakpo opened #865 "NodeJS Service"
I have come across so many comments about nodejs service with casparcg. Is there any documentation or any information on how to use the service  around?

[2018-02-21 16:23] ronag commented on #861
Please try with latest gdrive. Note, you need to download all the dlls as well, not just .exe.

[2018-02-21 17:22] 5opr4ni commented on #861
Thnx, in test now.

[2018-02-21 17:24] Julusian commented on #850
I like this idea. I have had difficulty making clients track playback videos when they reuse the same filename in a layer. If we serverside generated each producer an id upon construction, then that could be broadcast over osc and perhaps returned as part of the `200 PLAY OK` response.

[2018-02-21 17:34] ronag commented on #858
Done. This will fuck up a bit for people with local clones. But they'll have to live with it this last time :).

[2018-02-21 17:34] #858 closed

[2018-02-21 20:02] jesperstarkar commented on #731
What is the theoretically lowest SDI->SDI throughput latency you can imagine, given GPUDirect etc.?

[2018-02-21 20:17] ronag commented on #731
With black magic, 4 frames

[2018-02-21 20:22] jesperstarkar commented on #731
Any lower, @jamesdwise ?

[2018-02-21 20:38] Julusian opened #866 "FFmpeg OSC /file/time value inconsistent"
Whilst looking through the ffmpeg producer code to document the osc data in the wiki, I noticed that one of the times the file/time value is set, it is being done differently to the rest.

The first field is the one I am concerned with. The second field I can understand being different depending on where the frame is from.

I don't have a build of caspar on me to verify this, or check which is wro

[2018-02-21 20:49] ronag commented on #866
Thanks! Fixed.

[2018-02-21 20:49] #866 closed

[2018-02-22 07:19] 5opr4ni commented on #861
OK!

I have run this on two different systems.

**Decklink Quad 2 with reference locked.**
During 13 hours and 44 minutes the delay on the audio was 27 frames (> 1 second)

**Decklink 4k Pro no reference.**
During 12 hours still in sync.

????

[2018-02-22 07:23] PeterAkakpo opened #867 "SYSTEM AUDIO AND VIDEO OUT OF SYNC"
playing a video file with VLC plays okay, but with caparcg 2.2 latest download, audio and video are out of sync. the audio lags behind. this happens with any video file. I have also changed the video mode setting to match that of the file but it didn't have any effect. attached is the diagnostic screen
![ccg diagnostics](https://user-images.githubusercontent.com/7926382/36525241-f5d575ea-17a0-11e8

[2018-02-22 08:58] 5opr4ni commented on #861
Can be a faulty Decklink Quad 2 Card, we have apparently seen this before here at work.
Can the glitch cause the shifting in audio?

[2018-02-22 09:11] ronag commented on #861
Depends on what "glitch". If the frames come out of sync from the card there is not much to do in caspar. I can add some sync graphs that might be helpful.

[2018-02-22 09:18] 5opr4ni commented on #861
Could help! Maybe also in the log.

[2018-02-22 09:41] krzyc opened #869 "2.1.x large files were removed"
I can not compile CasparCG Server after fresh clone of 2.1.x - large files from dependencies64 were removed and renamed to .REMOVED.git-id.

After copying dependencies64 from previous checkout, everything worked as expected.

[2018-02-22 09:44] dotarmin commented on #865
@pkeuter will write a README for how to setup the nodejs service under the media-scanner repo. The README of the server will also be updated to include information about this.

Best regards,
Armin

[2018-02-22 09:44] #865 closed

[2018-02-22 09:45] dotarmin commented on #858
It will be worth in the long term for the project! Good job and thanks!

[2018-02-22 09:51] silid opened #870 "Feature Request: Route only a portion of channel / layer"
When routing between channels of different dimensions the video is scaled.
When working in video wall environments this can result in undesirable downscaling as the incoming video will then be scaled up using a transform to the desired segment.
The resulting video has lost resolution.

I suggest that the source should be able to be defined with at least starting xy position and either with size ma

[2018-02-22 10:07] jesperstarkar commented on #248
#850

[2018-02-22 10:07] #248 closed

[2018-02-22 10:07] jesperstarkar commented on #661
Should be handled outside of the server

[2018-02-22 10:07] #661 closed

[2018-02-22 10:07] jesperstarkar commented on #870
Related: #673 an #674

[2018-02-22 10:19] ronag commented on #869
@krzyc that shouldn't have happened. One moment and I'll try to resolve that.

[2018-02-22 10:29] ronag commented on #869
@krzyc please try now (you need LFS).

[2018-02-22 10:32] jesperstarkar opened #871 "Feature under development: Timecode support"
In an ongoing project we're working on adding timecode support. @Julusian is the lead programmer.

**Proposed features**

[2018-02-22 10:34] 5opr4ni commented on #861
With the sync status in the log I have found that the source was the issue not the server it self. So I am doing a new test. Stay tuned for more info.

[2018-02-22 10:50] jesperstarkar opened #872 "Feature under development: Scheduled commands"
In an ongoing project we're working on adding scheduled commands. @Julusian is the lead programmer. Related to #871 and #850.

Based on a channels timecode, all channel (and layer)-related commands can be buffered and scheduled to be executed by the server in the future, triggered by a timecode.

**Proposed API**

[code]

[code]

[code]

[code]

[code]

[code]

**Other ideas**
- command `EXPEDITE

[2018-02-22 11:03] jesperstarkar commented on #361
#872

[2018-02-22 11:03] #361 closed

[2018-02-22 11:04] ronag commented on #864
Found workaround

[2018-02-22 11:04] #864 closed

[2018-02-22 11:11] jesperstarkar commented on #871
Realted to #821 and #772

[2018-02-22 11:45] premultiply commented on #872
I would not recommend to do it by waiting for a specific or absolute timecode to occur. Because you can never trust timcodes to be monotonic and there are issues with wrap around, commands sent to late and played out 24h later etc.

I woud suggest to do it with relative timing.
Other commands like "DELAY" would benefit from it.

[2018-02-22 12:30] jesperstarkar commented on #872
You do have a valid point on the 24h paradox. However, I think we will aim for absolute timecodes, and leave the housekeeping of validating scheduled commands to the client.

@Julusian Perhaps we should warn/handle if a scheduled command didn't fire, and at a given time is scheduled for the past (timecode have moved past the given time, the command is stil scheduled).

[2018-02-22 12:35] ronag commented on #872
Why timecodes? Why not just use system time?

[2018-02-22 12:57] jesperstarkar commented on #872
System time will be one of the three modes a channel can run on: System time, Slaved (external input) and Free running.

External input will be useful for timed liveshows and slaving to backtracks or light cues. External input will also be useful to fire events upon an incoming live source with embedded timecode, regardless of the delays in the signal path upstream.

[2018-02-22 12:58] gizahNL commented on #869
The correct way to do it when working from an already initialized repo:
-install git-lfs (follow instructions for your OS)
-move to root of project and issue 'git lfs fetch' command, this should download all files.
-issue 'git lfs checkout .'  command (not really sure if needed)

[2018-02-22 13:43] ronag commented on #867
System audio is unfortunately not ready for production. This is a known issue. We will need to add configurable delays in consumer configuration so that one can correct for this.

[2018-02-22 14:49] jesperstarkar commented on #867
Robert, is the delay/offset predictable and stable?

[2018-02-22 14:51] ronag commented on #867
@jesperstarkar yes, it should be

[2018-02-22 14:52] MauriceVeraart commented on #872
Would be a nice feature!!

[2018-02-22 16:29] premultiply commented on #871
Timecode has to be bound to the channel frame output which must be in sync with a primary producer (e.g. decklink) providing the channel clock. This channel clock may or may not genlocked (external reference). And this reference signal may or may not be locked to UTC time. So the only thing you can do is to sync the timecode output once on server start to system time and continue with counting it

[2018-02-22 17:53] TomKaltz commented on #871
Yeah timecode should be based off of output frame counting shouldn't it?  It's my understanding that ffmpeg producer works via PTS and it's possible to drop or duplicate frames since it's just trying to air based on PTS and not tick successive frames to playout.  @ronag can you shed some light on this?

[2018-02-22 18:04] TomKaltz commented on #872
I know @ronag favors keeping the core server as simple as possible and there is some merit to that idea but I am 100% excited for this feature!!!

[2018-02-22 18:08] PeterAkakpo opened #873 "OSC AUDIO VOLUME VALUES"
hi, I have been trying the osc "channel/1/mixer/audio/volume"  and I get a value of about 544674653, I want to know if there is a minimum and maximum value to it.

[2018-02-22 18:15] ronag commented on #873
[-2147483648, 2147483648]

[2018-02-22 18:15] #873 closed

[2018-02-22 18:16] ronag commented on #871
FFMPEG bases playback on time stamps.

[2018-02-22 18:16] ronag commented on #872
If you want it frame accurate it needs to be in the server.

[2018-02-22 19:05] TomKaltz commented on #871
Yeah I guess it doesn't matter.  There is a chance timecode could become discontinuous due to a performance-related skipped frame so worrying about a skipped or dupped frame due to channel PTS mismatch is acceptable.

[2018-02-23 07:19] PeterAkakpo opened #874 "STOP ON LAST FRAME"
I have two video files, one file (ANDREWS_012.mp4) play and returns to the first frame when done playing, the other (FREEFON_003.mp4) stays on the last frame when done playing. is there way to always stay on the last frame when play is done? the above mentioned files are in the attached file.
[fillers.zip](https://github.com/CasparCG/server/files/1750745/fillers.zip)

[2018-02-23 07:25] 5opr4ni commented on #861
This morning the Decklink Producer was frozen.
<img width="1372" alt="screen shot 2018-02-23 at 08 12 29" src="https://user-images.githubusercontent.com/20354852/36582768-15704c5e-1873-11e8-8aad-9509644f93fb.png">

[2018-02-24 11:10] 5opr4ni opened #876 "Clean casparcg.config"
Clean up the casparcg.config and remove unsupported samples in the commented sample section.

[2018-02-24 11:55] 5opr4ni commented on #802
@ronag How did you fixe this? I do still need to calculate the channel as if it is 50p.

To reach frame 1900 I have to `call 1-10 seek 3800`

Is that correct understood?

[2018-02-24 13:16] ronag commented on #802
yes, in interlaced you seek to fields

[2018-02-25 20:25] Julusian commented on #871
I disagree with that. If the channel timecode doesn't update to input timecode at regular intervals, then you risk your clock drifting, especially if the server is dropping frames. Also what would happen if your timecode source wasnt running when you started up your caspar server?
If the input timecode isnt monotonic then I would expect the output timecode to follow that as it is the reference tim

[2018-02-25 20:26] Julusian commented on #872
@premultiply The issue with relative timing is that it will be relative to when the server scheduled it, not when the client sent it. And also makes it a lot harder or potentially impossible to reliably queue commands for the same frame.
If the timecode is non monotonic, then the command will be fired on the first time it is hit. I am thinking to run commands for a short period after their target

[2018-02-25 20:29] Julusian commented on #669
A new CEF PR has been raised, which replaces the previous one.
https://bitbucket.org/chromiumembedded/cef/pull-requests/151/add-ability-to-redirect-audio-output-to/diff

[2018-02-25 21:09] premultiply commented on #872
@Julusian We do frame accurate timing with CasparCG 2.0.7 and broadcast playout automation system with AMCP over serial connection. This is really not the problem.
We had many many issues before with a "professional" CG system with a timecode interface you like to implement now. One of the major problem where again and again that scheduled contents where not played because CG system internally dec

[2018-02-25 21:16] premultiply commented on #871
Worse case: Input and output may not be in sync and channels may not be in sync and timecode may jump forward and backwards, freezes or is missing at. Happy timing!
Good luck and have fun with it. ;-)

[2018-02-25 21:29] maceyldn opened #877 "Build under Ubuntu 16 failure."
Hi All,

Been away from the project for a while i apologise! Work got in the way.

I thought i would have a go at building under Ubuntu Xenial. (2.2.0 / master)

After apt-get installing a lot of dependencies and installing CEF and boost 1.66.

On 'make -j8' I receive the following..

[ 60%] Built target libcef_dll_wrapper
[ 66%] Built target common
[ 66%] Building CXX object core/CMakeFiles/core.

[2018-02-25 21:39] Julusian commented on #877
What version of GCC are you using? It looks like it could be too old

[2018-02-25 21:39] maceyldn commented on #877
-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is GNU 5.4.0

[2018-02-25 21:43] Julusian commented on #877
Yes, so I know that GCC7.3 works but not 6.3 or newer. not really sure where the cutoff lies between those.
You could try with a newer GCC via backports, if the version provided is new enough, or you could try using clang as the compiler instead as it may work better

[2018-02-25 21:45] maceyldn commented on #877
I'll report back. thanks Julusian

[2018-02-25 22:16] ronag commented on #877
@maceyldn why not just the docker files for building?

[2018-02-25 22:45] maceyldn commented on #877
@ronag

root@xxx:~/casparcg-server-master# tools/linux/build-in-docker
Sending build context to Docker daemon 1.085 GB
Step 1/15 : FROM casparcg/base:1.1.0 as build-casparcg
Error parsing reference: "casparcg/base:1.1.0 as build-casparcg" is not a valid repository/tag: invalid reference format

I'll spin up a artful ubuntu vm tommorow and try it.

[2018-02-25 22:52] Julusian commented on #877
as you are on xenial, I suspect your docker is too old to be able to run those docker files. they use features added in docker 17.05.
I think following the steps on https://docs.docker.com/install/linux/docker-ce/ubuntu/ will install a new enough version, but then you will still need to figure out how to run it

[2018-02-25 23:27] maceyldn commented on #877
ok, upgraded to artful, installed docker-ce package from the docker repo. and successfully built.

Happy to write out a full list of instructions in the BUILDING.md
Will start with a fresh OS install tommorow

[2018-02-25 23:29] ronag commented on #876
done

[2018-02-25 23:29] #876 closed

[2018-02-25 23:31] jesperstarkar commented on #872
@premultiply We too do frame-accurate-ish Client-side rundowns, but we think this will be a good addition to the server side. I appreciate you sharing your experiences and concerns, and I think our combination of client-side logic with this SCHEDULE api will be rock solid.

[2018-02-25 23:35] ronag commented on #874
ANDREWS_012.mp4 is a weird file... it loops the video twice... so it actually doesn't go to the first frame it just goes to the next frame which contains an identical frame to the first

[2018-02-25 23:38] ronag commented on #874
@PeterAkakpo: the workaround for now is to properly encode that file

[2018-02-25 23:42] ronag commented on #872
I guess you want this because you want it to happen frame accurately together with things outside of CasparCG. How will the latency be handled?

[2018-02-26 02:07] TomKaltz opened #878 "Non-standard resolution media causes OGL error tailspin"
https://drive.google.com/open?id=1UxjYHIC1n5RxTzLCxVPDYTgveoyK8jx5

This file sends the server into a tailspin of OGL errors.  This should be guarded against somehow.

[code]

[2018-02-26 02:52] TomKaltz opened #879 "Mixer tweens don't work on empty layer"
Not sure if it's a bug or feature but a mixer fill tween doesn't start until there is a producer on the layer.  Steps to reproduce...

MIXER 1 FILL .25 .25 .5 .5 60 easeinoutquad
PLAY 1 AMB

The tween will not start until the second command is sent.

[2018-02-26 07:18] jesperstarkar commented on #879
This is a bug

[2018-02-26 07:54] MauriceVeraart commented on #872
True in broadcast it happens less often I guess but in theatre & staging lights/sound/video and whatever are quite often synchronized with timecode.

scheduling against the system clock would be a nice feature too for sync starting multiple channels.
but I wonder how to implement this in the AMCP protocol in the most convenient way.

[2018-02-26 09:32] jesperstarkar commented on #872
Have a look at my suggestions above, and please comment with suggestions and ideas!

[2018-02-26 09:57] ronag commented on #872
One thing missing here is that you probably want to be able to schedule multiple commands in a single call. Could [command] be a comma-separated list?

[2018-02-26 09:58] ronag commented on #872
Actuall, what I think we also need is a way to batch/transact multiple AMCP commands in a way where they are guaranteed to all be performed in a single tick.

[2018-02-26 10:11] MauriceVeraart commented on #872
hi jesper / Ronald

reading your suggestion one's more it now makes sense to me.

I have 3 scenario's in mind for using this
1 fully programmed slaved timecode show (where jespers protocol makes sense & looks  really good)
2 sync starting multiple channels (in a instant/nonplanned/adhoc way Clips need to start as soon as possible but at the sametime)
3 timecodechase (when timecode off the loaded c

[2018-02-26 10:22] pkeuter commented on #879
Same goes for KEYER. This only works when there's a producer on the layer.

[2018-02-26 13:14] krzyc commented on #869
Fixed

[2018-02-26 13:14] #869 closed

[2018-02-26 13:54] jesperstarkar commented on #872
2 sync starting multiple channels (in a instant/nonplanned/adhoc way Clips need to start as soon as possible but at the sametime) the beauty of casparcg imo

Exactly!

Will not be supported

Yes! I have already tested this. It's not on the same tick, as Robert suggests, but it is for sure within a frame. And it is über-cool.

[2018-02-26 14:39] dotarmin commented on #877
As far as I know we said that we should support 16.04 LTS, have I missed something? 😄

[2018-02-26 14:56] ronag commented on #877
No idea. It seems we're doing 17.10 :).

[2018-02-26 14:57] ronag commented on #877
@dotarmin it runs on 16.04. I just doesn't build on 16:04.

[2018-02-26 15:10] Besedin86 commented on #877
Build doesn't work on Ubuntu 16.04
[code]

[2018-02-26 15:16] MauriceVeraart commented on #872
Love to help with beta testing

[2018-02-26 17:11] baltedewit commented on #878
Same issue reproduced on linux using http://media.streamone.net/hlslive/account=gCRIPoIbRB0W/livestream=v6IEh8-CC9YW/v6IEh8-CC9YW.m3u8 (hls live) as input.

[2018-02-26 17:31] ronag commented on #877
Ah, I see. It should probably be changed to a static compile. Feel free to PR. Yes, it seems we support Ubuntu 17.04 at the moment.

[2018-02-26 19:15] maceyldn commented on #877
Working on the PR, just re-testing to ensure all works ok.

[2018-02-26 19:43] TomKaltz opened #881 "ffmpeg consumer does not honor -vcodec option"
libx264 encoder is always what gets used.  Steps to reproduce...

ADD 1-5 FILE record.mov -vcodec prores
or
ADD 1-5 FILE record.mov -vcodec dnxhd

[2018-02-26 19:47] 5opr4ni commented on #881
Try it like this!

`ADD 1 FILE dnx.mxf -codec:v dnxhd -b:v 220M -flags:v +ilme+ildct -threads:v 4 -filter:v format=yuv422p,interlace`
**220 should be some other BR for NTSC**

`ADD 1 FILE "asd.mp4" codec:v libx264 -flags:v +ilme+ildct -threads:v 4 -filter:v interlace -preset:v veryfast`

[2018-02-26 19:54] TomKaltz commented on #881
Ah yes I need to put all options explicitly.  Your command worked.  Thanks!

[2018-02-26 19:54] #881 closed

[2018-02-26 20:01] TomKaltz opened #882 "unrelated ffmpeg warnings during media playback"
![capture6](https://user-images.githubusercontent.com/2965281/36692393-f2514832-1b05-11e8-9ff3-671201370f13.PNG)

[2018-02-26 20:29] TomKaltz opened #883 "ffmpeg consumer cannot be properly stopped after dropped frames"
No warnings are displayed in log.  Shows constant dropped frames in diag.  REMOVE command will not work after that.  Commands gets OK response but the consumer is still left on DIAG.

![capture10](https://user-images.githubusercontent.com/2965281/36693569-a54a90e4-1b09-11e8-9e20-1793af8c5648.PNG)

[2018-02-26 20:39] ronag commented on #861
@5opr4ni what's the status here? something we need to look into or are u still testing?

[2018-02-26 20:50] 5opr4ni commented on #861
I will do one last test tomorrow and come back on this. Did you look at the files I sent late Saturday evening? :) You can hear a sever audio shift in the files. There is sync, but there is also some kind of ghost echo sound around one second later. it takes around 10 hours to reproduce. :(

[2018-02-26 21:07] TomKaltz opened #884 "ffmpeg consumer color space"
Recorded a file and played back on same channel and seems that either encode or decode color space isn't being translated correctly.

![capture11](https://user-images.githubusercontent.com/2965281/36695314-f115dd76-1b0e-11e8-8e0d-04436efba99c.PNG)

[2018-02-26 21:08] TomKaltz commented on #884
This was tested with the h264, prores and dnxhd codecs.  All with same behavior.

[2018-02-26 21:09] TomKaltz commented on #884
Also seems to be an encoding issue since VLC exhibits the same wrong colors as when played back through CasparCG.

[2018-02-27 02:11] TomKaltz commented on #829
How was this accomplished in the past?

[2018-02-27 08:02] dotarmin commented on #877
Thanks!

Best regards,
Armin

[2018-02-27 08:38] Besedin86 commented on #877
Maybe we should support LTS versions of Ubuntu? Also will be fine support latest Debian. Thanks

[2018-02-27 08:46] dotarmin commented on #877
@Besedin86, the goal is to target only LTS version of Ubuntu but we are not their just yet. Thanks for feedback.

[2018-02-27 08:52] k0d commented on #877
I suggest to use 17.10 for now as CasparCG for Linux is still kind of beta. Then when 18.10 is released...any effort is focussed on supporting that.

[2018-02-27 10:35] dotarmin commented on #877
Well, both yes and no @k0d, CapsarCG Server for Linux has been working okey (alright, some glitches here and there) but for the most part it has been working okey on 14.04 LTS.

Why is 17.10 better over 16.04 LTS (except going over to gnome). We could absolutely wait for 18.04 LTS but being able to go right away to 18.04 LTS when it's released won't be the case (I guess??) and we have to wait 3-4

[2018-02-27 11:10] Julusian commented on #877
Personally, I am not going to use Caspar on linux for anything other than experimentation until I can do so on an LTS release of Ubuntu (or Debian stable). I currently see the linux support in 2.2 as a beta, rather than a fully supported platform, but I have no problem with that just yet, I am hoping that it can get some more attention in 2.3.

One thing I would like to see done with the linux sup

[2018-02-27 11:18] dotarmin commented on #877
@Julusian I think I was a but unclear in my previous post, just as @k0d said, the CasparCG Server on Linux has never been released as stable and neither has CasparCG Server 2.1. I just wanna be clear about that! :)

18.04 LTS works for me.
I dare to say that the direction to only support LTS versions is the way the project should strive for and where the effort should be put at, regarding the Linu

[2018-02-27 12:45] premultiply opened #885 "Decklink producer wrong colorspace"
When passing live video through the server it looks like the colorspace conversion from Decklink HD-SDI Input to internal RGB processing is not BT.709 but BT.601 so color levels and values are shifted.

Tested by passing a simple 1080i5000 color bar from generator through the server to a waveform monitor.

[2018-02-27 15:37] maceyldn commented on #877
PR created
https://github.com/CasparCG/server/pull/886

[2018-02-27 19:01] TomKaltz commented on #885
d99ad73af7c03ff584f80d08d366bab0b675357b

[2018-02-27 19:04] TomKaltz commented on #884
![capture12](https://user-images.githubusercontent.com/2965281/36748756-c9035e68-1bc6-11e8-95b3-f6e5f2e43bc2.PNG)
@ronag Here is how MediaInfo reads the color metadata of the recorded file with default x264 encoder params.

[2018-02-27 19:17] premultiply commented on #884
This looks like RGB mode.

[2018-02-27 19:19] premultiply commented on #885
What should this change?

[2018-02-27 19:32] TomKaltz commented on #816
I don't think it needs to be mandatory but we do need some way of getting information about running consumers.  We cannot do AMCP INFO nor get consumer information via OSC in 2.2 currently.  One of those needs to be added back in.

[2018-02-27 19:40] TomKaltz commented on #446
I highly recommend adding something like an correlation ID to producers like I discussed in...https://github.com/CasparCG/server/issues/850#issuecomment-367071134

Also I realized there is no way to tell if a producer is loaded on the background of a layer.  OSC definitely needs some work for 2.2.

[2018-02-27 21:15] ronag commented on #885
I think @TomKaltz wanted to refer to https://github.com/CasparCG/server/commit/88740587f6d0eb2adc1158f35e483c805dfcea07

But as you indicated on Slack that didn't seem to help,,,

[2018-02-27 21:15] ronag commented on #884
it's YUV444P

[2018-02-27 21:16] ronag commented on #884
@TomKaltz that's not the info we need... we need the color range/matrix etc... there are so many "color" thing it's hard to keep track of

[2018-02-27 21:16] TomKaltz commented on #884
Seems like MediaInfo can't display that sort of information I'll see if I can figure out another way to detect it.

[2018-02-27 21:48] premultiply commented on #885
Yes. It does not help.
But I think it may be used by using `colorspace` filter and `iall` option to overwrite the wrong assumed input propertys

or

if possible do the correction/conversion and scaling in one step using `scale` at the output step of the ffmpeg chain.

[2018-02-27 21:55] premultiply commented on #885
Using ffmpeg to scale the video to the channel resolution (and convert to RGBA) has the benefit that any input size would be possible which seems to be limited to 1:1 right now.

[2018-02-27 22:00] premultiply commented on #884
Ok, then it should be a better solution to pass RGBA to the ffmpeg chain and let user decide what we wants to convert to. Passing any YUV format gets us in trouble to choose the correct color before it is converted to this format (and will be converted again by user to 4:2:2/4:2:0).
Only RGB is indepenant of all these color things.

[2018-02-27 22:09] premultiply commented on #884
Or is the current behavior the result of ffmpeg autoconversion from RGBA to the highest possible color resolution supported by the selected codec?
In this case only the correct videofilter needs to be added by user to fix this.

[2018-02-28 01:34] TomKaltz commented on #92
I could probably get some funding for this feature if there is anyone out there that can deliver.  Please contact me tomkaltz <at> gmail

[2018-02-28 01:52] TomKaltz commented on #884
What does the mixer pass to ffmpeg consumer currently?

[2018-02-28 09:14] pkeuter opened #887 "Complaining about unused options since latest version"
I think https://github.com/CasparCG/server/commit/88c4d0a6cd6928c8fbf8b4641e111245aea2b863 is introducing some spamming in the console.

[code]
I don't think it's harmful, but are these really warnings?

To reproduce:
* start casparcg (latest build)
* `PLAY 1-1 AMB LOOP`
* It will produce the warning on every restart of the loop

[2018-02-28 09:53] #887 closed

[2018-02-28 10:01] premultiply commented on #885
My theory is validated by running colorspace filter:
`PLAY 1 DECKLINK 1 VF colorspace=iall=bt709:all=bt709`
gives correct results for HD-SDI input but should be replaced by scaler solution.

[2018-02-28 10:32] ronag commented on #885
Pushed to master. If someone can build it for you please test it. @dotarmin is autobuild up and running?

[2018-02-28 10:48] dotarmin commented on #885
Yes it is but I haven't enabled upload to builds.casparcg.com just yet. I plan to do it after lunch today and announce at forum as well.

[2018-02-28 10:52] maceyldn commented on #871
Can i ask, Are you planning on VITC support to the Decklink/Bluefish Producers,
This would be really helpful in installations running SCTE 104/35 for Ad Insertion for those using it as a main chanel playout.

Would be nice to have a "play clip @ TC" functionality aswell.

Andy

[2018-02-28 10:53] jesperstarkar commented on #871
TC will be read from VITC.

[2018-02-28 11:20] premultiply commented on #885
https://github.com/CasparCG/server/commit/1aa8a8fa4bfa42e18cfe0641660705931b7313a4
Should work for HD input now but is far away from a final and clean solution.

[2018-02-28 11:27] ronag commented on #885
@premultiply yep, there is a nice TODO waiting for a PR ;)

[2018-02-28 11:27] ronag commented on #885
Since it is possible to workaround I think for now we can add an entry to the wiki.

[2018-02-28 11:28] ronag commented on #885
I wish the decklink api could tell us what is the correct color space.

[2018-02-28 11:36] ronag commented on #885
@premultiply slightly better implementation pushed. Though the SDK does not have any flags for bt2020.

[2018-02-28 11:49] premultiply commented on #885
Better but the main problem is the colorspace filter itself. Now the colorspace may be converted two times
First time from YUV to YUV and second time from YUV to RGB(A). It should be done in single step during the YUV to RGB(A) conversion.

And I am still not shure how this is done in current implementation.

I am familiar with all those broadcast standards, workflows, measurements and I can read

[2018-02-28 12:21] premultiply commented on #884
https://github.com/CasparCG/server/blob/b95525ac909359f1ce2b22fd045e62b11e4d390f/src/modules/ffmpeg/consumer/ffmpeg_consumer.cpp#L181

AV_PIX_FMT_BGRA

[2018-02-28 12:26] ronag commented on #885
@premultiply the colorspace filter in this case does no conversion, it only sets the proper metadata fields on the frames

[2018-02-28 12:32] ronag commented on #884
If you output to a codec with RGB support, does it look correct?

[2018-02-28 12:44] premultiply commented on #884
Trying to reproduce. What is the correct syntax for AMCP with videofilters?

[2018-02-28 12:48] ronag commented on #884
@5opr4ni syntax?

[2018-02-28 12:53] 5opr4ni commented on #884
`PLAY 1-12 DECKLINK DEVICE 1 FORMAT 1080i5000 vf "split[a][b];[a]smartblur=lr=5.0, colorbalance=bs=.3[blur];[b][blur] blend=all_mode=lighten" af pan=stereo|c0=c1|c1=c1 PUSH `
or a simpler one
`PLAY 1-12 DECKLINK DEVICE 1 FORMAT 1080i5000 vf "colorbalance=bs=.3" af pan=stereo|c0=c0|c1=c0 PUSH 20`

[2018-02-28 12:54] premultiply commented on #884
No this is ffmpeg producer. I try to record a file.

[2018-02-28 12:54] 5opr4ni commented on #884
Oh! Sorry! Hold on

[2018-02-28 12:55] 5opr4ni commented on #884
`ADD 1 FILE dnx.mxf -codec:v dnxhd -b:v 120M -flags:v +ilme+ildct -threads:v 4 -filter:v format=yuv422p,interlace`

[2018-02-28 12:55] 5opr4ni commented on #884
The vf and af are written a bit different here.

[2018-02-28 12:59] premultiply commented on #884
yes. `-filter:v format=yuv422p,interlace` is the important step here to convert from RGBA input to proper 4:2:2 output. If not inserted ffmpeg will sent the best format the output codec/container can handle. In case of x264 this is yuv444p.

[2018-02-28 13:01] premultiply commented on #884
Maybe it would be a good idea to include somthing like preset files that can be called with their filename for the often requiered settings/formats.

[2018-02-28 13:02] ronag commented on #884
But using yuv444p is not wrong and should not be a problem?

[2018-02-28 13:02] ronag commented on #884
I think presets and the like is a client thing.

[2018-02-28 13:05] premultiply commented on #884
yuv444p is autoselected because x264 does not support BRGA. BRGA is used by default.
No nothing is wrong with that but it may be a little bit suprising for the "normal" user that everything need to be explicitly converted to a common format.

[2018-02-28 13:06] 5opr4ni commented on #884
Or in AMCP 3.0 ;)

[2018-02-28 13:28] TomKaltz commented on #884
Yeah but has anyone confirmed correct color even with proper filter
params?  I won’t be able to test until later.

On Wed, Feb 28, 2018 at 08:06 Olle Soprani <notifications@github.com> wrote:

--
Thomas Kaltz III 586-214-7150 Sent from Gmail Mobile

[2018-02-28 13:54] premultiply commented on #884
Yes. It's fine if you specify ALL filters and metadata correctly...

[2018-02-28 13:56] ronag commented on #884
Well, we could auto add filters that are required. Just need to figure out what those are.

[2018-02-28 14:01] premultiply commented on #884
Depends on what you like to do. Because of this I recommended something like the preset files.

There will be people who just want a 4:2:0 h264 aac stereo mp4. Other would like to have for example a MXF AVCIntra100 file with 8 audiotracks. Others would like RGBA files without any audio.

[2018-02-28 14:05] ronag commented on #884
this has nothing to do with presets, the meta we send from caspar into ffmpeg should be correct without having to add override filters, e.g. "ADD 1 FILE asd.mov -codec:v libx264" should output correct content.

[2018-02-28 14:07] ronag commented on #884
Maybe something like: 'colorspace=trc=srgb` is required

[2018-02-28 14:20] premultiply commented on #884
That is only a little part of the problem and will introduce other issues. RGBA is a good common format and if you just define a target pixel_format you like to convert to then it will be converted to that but there are much more properties you have to take care of like colormatrix which on its own depends on input AND output resolution of filter chain if converting to yuv etc.

[2018-02-28 15:41] ronag commented on #884
I don't follow. What problems does it not resolved and what other issues does it introduce?

[2018-02-28 16:08] premultiply commented on #884
Example command (Audio don't care)
`ADD 1-700 FILE  "test.mp4" -codec:v libx264 -flags:v ilme+ildct -filter:v interlace,scale=out_range=tv:out_color_matrix=bt709,format=pix_fmts=yuv422p -preset:v veryfast -b:v 25M`

Order of filters are important for and parameters are dependent on desired output.

[2018-02-28 18:00] ronag commented on #884
And auto prepending `colorspace=itrc=srgb:irange=pc:trc=srgb:range=pc` to that is a problem because?

Not trying to be difficult :). I just don't get it.

[2018-02-28 18:01] ronag commented on #884
Ah, I think I get it. You are suggesting we auto set color settings as well when we now that the output is e.g. HD and YUV.

[2018-02-28 18:38] premultiply commented on #884
Yes. Tagging the RGB input to ffmpeg does not change anything. ffmpeg already knows that this is RGBA fullrange.

The problem is the user defined destination format which needs different properties on different output sizes etc. This does not necessarily depend on channel resolution or yuv formats. And because this can be very complicated to do it right I suggest to maybe drop the whole user defin

[2018-02-28 18:48] ronag commented on #884
Ah, so the OP's "bug" is actually a question of parameters. @TomKaltz can you try with something like:

`-filter:v colorspace=all=bt709`

[2018-02-28 18:48] #884 closed

[2018-02-28 20:05] ronag commented on #884
@premultiply pointed out colorspace doesn't to rgb, so you should do:

`-filter:v scale=out_matrix=bt709:out_range=bt709,format=yuv422p`

[2018-02-28 20:13] premultiply commented on #884
no it -filter:v scale=out_matrix=bt709:out_range=**tv**,format=yuv422p

[2018-02-28 20:14] TomKaltz commented on #884
We need to add a ffmpeg consumer recipe wiki page or like @premultiply suggested perhaps add a preset feature.

[2018-02-28 20:15] ronag commented on #884
well, unless someone wants to develop and maintain presets... I think wiki is the way to go for now...

[2018-02-28 20:17] premultiply commented on #884
I could create and maintain some basic presets included in the server package. That would not be a problem.

[2018-02-28 20:22] TomKaltz commented on #884
Someone would have to implement the preset system.  For now we should add this to...

https://github.com/CasparCG/server/wiki/FFMPEG-Consumer

[2018-02-28 20:33] TomKaltz opened #889 "Make the Github Wiki Pull Requestable"
http://www.growingwiththeweb.com/2016/07/enabling-pull-requests-on-github-wikis.html

[2018-02-28 20:35] TomKaltz commented on #889
Should we do something like this or just allow certain contributors direct write access?

[2018-02-28 20:38] ronag commented on #889
@dotarmin ?

[2018-02-28 21:02] dotarmin commented on #889
@TomKaltz I have talked with @silid today and we agreed on enabling pull requests for the Wiki according to the link you provided. What do you think? I personally think it's a good idea to at least try it and evaluate it and from there see how to proceed.

Best regards,
Armin

[2018-02-28 21:07] dotarmin commented on #834
@ronag An announcement at CasparCG forum has been done and I think we now have a CasparCG 2.2.0 Beta released for the community.

Should we do a release here at GitHub as well?

[2018-02-28 21:09] ronag commented on #834
please make a github release as well, I personally see the forum as more of community thing

[2018-02-28 21:13] dotarmin commented on #834
I'll do that! Is it enough for you just to tag current rev. or should I make a branch? What do you prefer?

[2018-02-28 21:16] dotarmin commented on #683
Windows builds works now. Linux builds will work shortly.

[2018-02-28 21:32] TomKaltz commented on #889
Yeah I think we should do that workflow.  Even the two-way syncing.  Not sure why it's not a native Github option but it seems like the way to go.  We need to make it as easy as possible for anyone in the community to contribute to documentation and allow moderators to review and approve those contributions.

[2018-02-28 21:42] dotarmin commented on #834
Done.

[2018-02-28 21:42] #834 closed

[2018-02-28 21:46] dotarmin commented on #889
Perfect! I couldn't agree more. I'll try to fix this asap.

[2018-02-28 21:52] premultiply commented on #861
I had it running for two days now with Vistek Valid Generator and Reader and it looked ok BUT audio was always LATE by 40ms.

1080i5000. Decklink 4K Pro. Source and Decklink reference locked.

[2018-02-28 22:11] ronag commented on #861
@premultiply was it late from the beginning or after a while?

[2018-03-01 05:19] premultiply commented on #861
From the beginning.

[2018-03-01 05:43] vimlesh1975 commented on #861
On Mar 1, 2018 10:49 AM, premultiply <notifications@github.com> wrote:

From the beginning.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FCasparCG%2Fserver%2Fissues%2F861%23issuecomment-369476862&data=02%7C01%7C%7C5d6cbb68fe3e44bb403508d57f33f3ee%7C8

[2018-03-01 07:52] #683 closed

[2018-03-01 07:53] dotarmin opened #890 "Make Linux builds work with 2.2.0 branch (Jenkins)"

[2018-03-01 07:55] 5opr4ni commented on #861
It seems as @premultiply is right. Watch this image, it seems as the Decklink Consumer has the problem with a late audio..
![2018-03-01 at 08 43](https://user-images.githubusercontent.com/20354852/36833009-4a92db44-1d2e-11e8-8583-88492623f360.png)

[2018-03-01 07:59] 5opr4ni commented on #861
This is out of issue, should we move it to a new issue. @ronag

[2018-03-01 08:00] premultiply opened #891 "Decklink consumer, audio out of sync"
Audio is delayed by ~40ms (1080i5000).

[2018-03-01 08:01] 5opr4ni commented on #891
![2018-03-01 at 08 43](https://user-images.githubusercontent.com/20354852/36833261-21bbca18-1d2f-11e8-860d-0dd23fdbd9c5.png)

[2018-03-01 08:01] premultiply commented on #861
=> #891

[2018-03-01 09:08] premultiply commented on #891
Playing the same Vistek Valid MXF file (1080i5000) created and validated on external equipment through FFMPEG producer to Decklink consumer with different channel configurations:

Channel set to 1080i5000 Audio Delay 26ms
![img_2962](https://user-images.githubusercontent.com/4681172/36836000-4a5e79e4-1d38-11e8-8e62-06632ebb0f54.JPG)

Channel set to 720p5000 Audio Delay 14ms
![img_2960](https://use

[2018-03-01 10:08] #565 closed

[2018-03-01 10:12] premultiply commented on #565
May the Sublayer parameter be removed at all?
Flash producers runs better when they are completly removed after STOP or before PLAY.

[2018-03-01 10:14] premultiply commented on #142
I think that can be closed.

[2018-03-01 10:16] #144 closed

[2018-03-01 10:19] premultiply commented on #350
Is this fixed now with new CEF in 2.2? Please test.

[2018-03-01 10:20] baltedewit commented on #350
@Julusian would know best.

[2018-03-01 10:22] premultiply commented on #189
Maybe #871 will provide already some improvements here but is not the same.

[2018-03-01 10:24] Julusian commented on #350
It is not enabled in the official builds, so this will not be working currently.
I would like to enable it, but didn't get an answer about potential licensing issues when I raised it in the PR

[2018-03-01 10:25] premultiply commented on #230
Is that fixed in 2.2 with new FFMPEG producer?

[2018-03-01 10:26] Julusian commented on #565
#850

Looks like ronag also wants to remove the sublayers

[2018-03-01 10:27] premultiply commented on #341
Is there any working AVB installation in production out there?

[2018-03-01 10:29] baltedewit commented on #350
@dotarmin what do you think about enabling this? we already enable these in ffmpeg, so I don't see any issues license wise. technically, I don't think we need to change anything in the code, just a different cef binary.

[2018-03-01 10:38] dotarmin opened #893 "Server (hardware) stalls when using flash producer"
When flash producer is used for playing a template we have noticed that the whole server (hardware) stalls. It feels like a threading issue because it stalls for some ticks and then releases and stalls for some ticks and does so until the template has played. We get a frame rate of 2-3 frames per second.

We have also tested on various servers with various templates and have the same issue on all.

[2018-03-01 10:47] niklaspandersson opened #894 "Last frame is not removed when stopping flash-producer"
If a flash-template ends with a frame with some content, that frame is still visible after a STOP command

[2018-03-01 10:56] Julusian commented on #350
That is my thinking.

Yes, all that will need to change is for us to use a custom build of CEF. I have experience with doing that, the upgrade PR was custom builds until it became Chromium 63.

[2018-03-01 11:01] ronag commented on #230
@premultiply I believe so.

[2018-03-01 11:01] #142 closed

[2018-03-01 11:23] premultiply commented on #550
I think this can be closed as it is not needed anymore with new bwdif filter. Deinterlacing will be skipped by motion estimation if there is nothing to deinterlace.

[2018-03-01 11:24] #550 closed

[2018-03-01 11:27] premultiply commented on #406
Is this fixed/supported in 2.2?

[2018-03-01 11:28] premultiply commented on #669
Is it possible to merge that?

[2018-03-01 11:30] ronag commented on #669
@premultiply we would need a custom CEF build for that.

[2018-03-01 11:30] ronag commented on #406
@premultiply nope, but it's easy to add

[2018-03-01 11:38] premultiply commented on #776
I am not shure if FFMPEG supports realtime filter graph changes at all.

[2018-03-01 11:48] Julusian commented on #669
I'm keeping a close eye on it. Once I have some time I intend to test it out in Caspar, but I think its a bit too late to add that into 2.2

[2018-03-01 11:55] dotarmin commented on #565
This discussion continues in #850! 😄

[2018-03-01 11:55] ronag commented on #776
@premultiply it doesn't, you need to drain it and re-create it... which is doable

[2018-03-01 12:08] premultiply commented on #776
Doesn't it requiere new buffering, seeking etc. each time?

What is the use of it doing it in FFMPEG and not using the nice CasparCG realtime mixer?
Which filters are missing in mixer which requiere realtime adjustments?

[2018-03-01 12:11] dotarmin commented on #350
I think it would be great of having this BUT I'm a bit sceptical. Now when we use Nuget for some of the packages (including CEF) and aim to continue with that in the future with the rest of packages that are not nugetified today. I think going back to custom builds has a potential risk of putting us in a situation as we where with CEF and CasparCG Server 2.0.7 and 2.1.0, making it hard to maintain

[2018-03-01 12:13] dotarmin commented on #683
Release, why?

[2018-03-01 12:29] jesperstarkar commented on #776
Audio filters, i.e. pan.

[2018-03-01 12:32] 5opr4ni commented on #776
and the possibility to switch channel layout.
With @jesperstarkar and my whishes.
 `af pan=stereo|c0=c1|c1=c1`

[2018-03-01 12:41] baltedewit commented on #350
I don't see how this is relevant here. We're not changing anything to the API's. CasparCG will still be able to compile with a regular version of CEF just as well, by anyone who wants to do so.

[2018-03-01 12:47] ronag commented on #776
Nope.

You can do more advanced stuff in FFMPEG. And it's already implemented there.

I think it's mostly pan.

[2018-03-01 12:49] 5opr4ni commented on #776
and switch channel layout.

[2018-03-01 12:55] dotarmin commented on #350
I don't get it, of course it's relevant. Even if we don't change anything to the API, to make it work with a standard CEF package available at Nuget, we still need to maintain the custom CEF build. My personal opinion is that we shouldn't depend on custom builds and aim for available standard packages when possible.

A solution could be to have a custom CEF build somewhere enabling what you're req

[2018-03-01 12:56] ronag commented on #350
I won't maintain any custom builds. If someone wants to do that I don't mind.

[2018-03-01 13:03] dotarmin commented on #350
I still think it would be a bad idea, at least right now. We have so much other things to focus on right now.

I also think of a scenario if person who is maintaining what ever custom build (CEF in this case) quits maintaining the build, what then? Then we're back to the situation I wrote about earlier which is not a desirable situation. But that's just me thinking loud.

[2018-03-01 13:03] premultiply commented on #776
Yes I know FFMPEG very well. Very powerfull and I do a lot of things with it you never thought it can be done with it. BUT it is always a pain to get it doing what you want. Constructing working filter chains will make you cry most of the time. See the problems and discussion on the colorspaces. Users may be overwhelmed...

[2018-03-01 13:04] Julusian commented on #350
That's true. If there are issues keeping our own builds of CEF maintained, then it will be possible to simply swap out the nuget package for the one we are using now and simply revert this until someone is willing to maintain it again. Bear in mind that the builds we are currently using are maintained by the CEFSharp project not CEF, so there is a risk there in frequency of updates.

Another quest

[2018-03-01 13:05] dotarmin commented on #350
@baltedewit We can have it as a feature request and by that it won't be forgotten?

[2018-03-01 13:10] dotarmin commented on #350
I think it's something that won't be done that often (I'm not sure) but absolutely more frequent than before. CEF version we used in 2.0.7 and 2.1.0 was from 2014 or something. We shouldn't be afraid of upgrading CEF in the future but when it's done it should be tested and documented well.

[2018-03-01 14:25] dotarmin commented on #893
I will dig into this issue because I have successful tests on a completely different machine compared to those used before. I will write an update on this when I have more information.

[2018-03-01 14:43] dotarmin commented on #889
I have thought about this again and think we should have a separate repository housing wiki for all projects. And then we can open up for contributors in a more standardised way.

Thoughts?

[2018-03-01 14:53] TomKaltz commented on #889
We should house a seprate Repo for each Wiki we want to maintain and link/sync it to the project wiki just as described in the link above.

[2018-03-01 14:58] wifinityes opened #895 "MPEG-TS EPG for the ffmpeg consumer"
Actually we are using the ffmpeg consumer for our channels output. We setting the UDP/RTP mpegts container, and we are using Opencaster epg binary in order to integrate an EPG info into the MEPG-TS ffmpeg output stream.

This EPG feature will be very usefully integrated directly in Casparcg getting the info from a m3u url for example.

I can help for betatesting if anybody thinks this feature coul

[2018-03-01 15:16] premultiply commented on #895
There is no support for EIT table generation in FFMPEG at all afaik.
This is a task for EPG systems and DVB multiplexers like Opencaster, Dektec Muxxpert. And it is very sophisticated to do it right with correct character encodings, timing etc.

[2018-03-01 15:19] TomKaltz commented on #883
@ronag I'm able to reproduce this pretty consistently.  I have found that the consumer will destroy if I stop it very soon after I start getting dropped frames.  If I let it repeat dropping frames for a couple seconds longer the producer will not destroy.

[2018-03-01 15:23] TomKaltz commented on #883
ADD 1-700 FILE record8.mxf -codec:v dnxhd -b:v 120M -codec:a pcm_s16le -flags:v +ilme+ildct -filter:v scale=out_color_matrix=bt709:out_range=tv,format=yuv422p,interlace

This is a 1080i5994 channel

is the command I'm using per discussion in #884

[2018-03-01 15:27] wifinityes commented on #895
I know, but I'd like to try to modify the ffmpeg in order to integrate it using the opencaster epg source code as starting point.

[2018-03-01 15:31] TomKaltz commented on #895
@wifinityes can you do this integration?  We would love a pull request!

[2018-03-01 15:38] wifinityes commented on #895
Maybe my C knowledge are too basic for this new request, but I can try it.

[2018-03-01 16:13] Julusian opened #896 "Linux startup script"
With linux as a supported platform, it would be good to supply some startup scripts for both the server and scanner.
This will make it really easy for users to get it setup to auto-start with the os.

I believe Ubuntu 17.10 newer is using systemd, and 16.04 is using upstart. We are probably better off going with just systemd, but that may want to be discussed.

One thing that will need looking int

[2018-03-01 16:19] dimitry-ishenko commented on #896
This can be done using systemd user service. You will need to set up an auto-login user and enable the service for that user. As soon as the user logs in, the service will be launched and will have running X server.

[2018-03-01 16:21] dimitry-ishenko commented on #896
FWIW 16.04 also uses systemd

[2018-03-01 16:28] Julusian commented on #896
Fair enough. I know that 14.04 uses upstart, and I just assumed 16.04 did too. systemd still feels a bit new to have made it in there. But that makes this simpler then :)

That is good to know. I would still prefer to remove the dependency on x11, but that is a separate discussion.

[2018-03-01 16:42] Julusian opened #897 "Remove dependency on running x11 server"
Related: #896 #782

It would be nice to be able to run CasparCG on linux without a running X11 server. this would allow us to run on Ubuntu server instead of Ubuntu desktop, and provides a proper setup for a headless machine.

This can be done by replacing SFML during the OpenGL context creation with EGL. This will need testing on windows, to ensure EGL is widely supported. (perhaps fallback to SF

[2018-03-01 19:27] dimitry-ishenko commented on #897
IMHO the DIAG window should be separated out from the server just like the media scanner. The server can push diagnostic messages to a socket. Then you could even run the DIAG window on a different computer. Maybe this can even be done with OSC?

Full-screen screen consumer can write to a frame buffer and not depend on X11. I don't know if anybody uses windowed screen consumer.

I don't know much

[2018-03-01 20:10] baltedewit commented on #897
Trivial, considering diag info is already sent out via osc. It's been on my list for a little while now, but I haven't had reason to prioritize yet.

Actually, one of my clients uses it extensively for remote monitoring via teamview. I don't think we'd want to compromise on functionality there.

I've done this before with some crazy combo of CUDA drivers + virtualgl + Xvfb which was all a bit of h

[2018-03-01 21:49] Julusian commented on #897
Yep, that is something Ive wanted to see done for a while, but havent gotten around to properly looking at it.

By using EGL we can get a opengl frame buffer object for a display, meaning we can avoid any frames going via the cpu.
I wouldnt want to remove the windowed screen consumer when we have X or are on windows, as it is useful to have especially when testing, but it being unavailable when X

[2018-03-01 23:04] maceyldn commented on #895
This sounds up my street.. Can you outline in more detail how you see it would work?

[2018-03-02 08:12] niklaspandersson commented on #893
Problem solved with latest graphic drivers.

[2018-03-02 08:12] #893 closed

[2018-03-02 08:13] dotarmin commented on #746
![](https://github.trello.services/images/mini-trello-icon.png) [Update README for CasparCG Server](https://trello.com/c/oP34t06g/30-update-readme-for-casparcg-server)

[2018-03-02 08:16] dotarmin commented on #889
![](https://github.trello.services/images/mini-trello-icon.png) [GitHub Wiki - Make pull request work](https://trello.com/c/EyQBy9yC/35-github-wiki-make-pull-request-work)

[2018-03-02 08:16] dotarmin commented on #890
![](https://github.trello.services/images/mini-trello-icon.png) [CasparCG Server Builds for Linux](https://trello.com/c/TfrGC4WB/33-casparcg-server-builds-for-linux)

[2018-03-02 08:17] dotarmin commented on #683
![](https://github.trello.services/images/mini-trello-icon.png) [CasparCG Server Builds for Windows](https://trello.com/c/oGPFieYM/16-casparcg-server-builds-for-windows)

[2018-03-02 08:26] dotarmin commented on #893
👍

[2018-03-02 09:41] jesperstarkar commented on #893
Which drivers/GPU?

[2018-03-02 09:42] dotarmin commented on #893
ping @niklaspandersson

[2018-03-02 09:43] ronag commented on #893
Nvidia Graphics Drivers

[2018-03-02 09:45] niklaspandersson commented on #893
Mmm. I have a Quadro K2200, and with the latest drivers (390.77) everything seems fine.

[2018-03-02 14:29] wifinityes commented on #895
The idea will be add a new ffmpeg consumer parameter for setting an uri with the XML EPG file with the standard:

<tv generator-info-name="casparcg-epg">
<channel id="test1">
<display-name>CHANNEL NAME</display-name>
</channel>
<programme channel="test1" start="20180215061800 +0100" stop="20180215070000 +0100">
<title lang="spa">SHADES OF BLUE (T2)</title>
<category lang="spa">Movie/Drama</categor

[2018-03-02 14:33] wifinityes commented on #895
The idea will be add a new ffmpeg consumer parameter for setting an uri with the XML EPG file with the standard:
`
<tv generator-info-name="casparcg-epg">
<channel id="test1">
<display-name>CHANNEL NAME</display-name>
</channel>
<programme channel="test1" start="20180215061800 +0100" stop="20180215070000 +0100">
<title lang="spa">SHADES OF BLUE (T2)</title>
<category lang="spa">Movie/Drama</catego

[2018-03-02 18:40] ronag opened #899 "Replace DIAG window with external app"
As suggested. It should be possible to implement DIAG externally based on OSC. Reduces server complexity. I like it!

[2018-03-02 18:41] ronag commented on #899
I would suggest a web app + osc websocket proxy

[2018-03-02 18:47] TomKaltz commented on #899
Cool idea but we have a good thing working currently.  We can just leave as is?

[2018-03-02 19:01] ronag commented on #899
Leaving until we have a better alternative... yes

[2018-03-02 19:20] TomKaltz opened #900 "osc messages for consumer and producer destruction"
Would be nice to get an osc message when a producer or consumer is destroyed so our clients can be smarter.

[2018-03-02 19:24] ronag commented on #900
osc is not for messaging, it's a realtime state transfer protocol, in this case the client should notice when the consumer is removed from the osc state.

[2018-03-02 19:40] TomKaltz commented on #900
we definitely need more info but I remember in my 2.0.7 fork I added osc messages when file was eof and it was extremely helpful for the client I was building.  I’ll see if I can find what else I added and explain why it was so helpful

[2018-03-02 19:42] TomKaltz commented on #900
Also I don’t think detecting when state isn’t updated anymore is difficult. Getting a distinct message for certain events is way more useful.

[2018-03-02 20:47] ronag commented on #900
It's easier. But it's not possible with OSC.

[2018-03-02 21:16] ronag commented on #883
Fixed

[2018-03-02 21:16] #883 closed

[2018-03-03 03:09] TomKaltz opened #901 "ffmpeg consumer dropped frames"
This is a sort of a continuation of #883

Compiled 1fb0d9348d424a008d1e2ee97539aac15a1e0f1f myself.

Used command....
```add 1-700 file record700.mxf -codec:v dnxhd -b:v 120M -codec:a pcm_s16le -flags:v +ilme+ildct -filter:v interlace,scale=out_range=tv:out_color_matrix=bt709,format=yuv422p```

Input buffer fills linearly from the start of the consumer and saturates and never drains.  Plenty of re

[2018-03-03 03:18] TomKaltz commented on #901
Also please note that the stock 2.0.7 release records this file without dropped frames with following command...

```ADD 1-7 FILE record7.mxf -vcodec dnxhd```

[2018-03-03 16:45] baltedewit commented on #900
I think we could do better. I'd love to see diagnostics info added back so we can start exploring visualization in a webpage rather than through opengl.

The HTML producer doesn't output anything yet and the decklink outputs as if it is a file. The image producer outputs a path, but without any differentation of whether it is a movie or an image.

As a personal request, I'd love to see volume per

[2018-03-04 06:54] baltedewit commented on #878
Note, as a workaround you can use a VF filter: `PLAY 1-10 media VF scale=x:y`

[2018-03-04 09:18] ronag commented on #901
Yea, but 2.0.7 doesn't output proper colors.

The bottleneck here seems to be the extra scale filter we add to correct the color range (and the fact that we don't run the encoder and filter in parallel).

[2018-03-04 10:11] ronag commented on #901
There is no way around this issue. The `scale` filter doesn't run in real time unless you use a powerful enough cpu in terms of SIMD, frequency and IPC. More cores does not help.

[2018-03-04 10:18] 5opr4ni commented on #901
Is there anyway we could do this at a card level. (Decklink/bluefish)

[2018-03-04 10:19] ronag commented on #901
I'm not sure why it's so slow.

Resolving this requires one of the following:

- Faster colorspace transform on CPU
- Parallel colorspace transform
- Do the transform on GPU

[2018-03-04 10:19] ronag commented on #901
@5opr4ni no card is involved here, other than the gpu

[2018-03-04 10:19] premultiply commented on #901
I am wondering why this scale filter should be/is so slow on this position.
I have to check this with standalone ffmpeg next week. Maybe some additional flags provide more performance...
I had no issues with encoding high bitrate long gop h264 4:2:2 on HP Z440 workstation.

[2018-03-04 10:20] 5opr4ni commented on #901
Sorry! missed the consumer, thought about the producer.

[2018-03-04 10:20] ronag commented on #901
@5opr4ni on input it's not a problem as far as I can tell

[2018-03-04 10:21] ronag commented on #901
I wish the scale filter had slice threading...

[2018-03-04 10:23] ronag commented on #901
Take a 59p video and see if you can build a corresponding command string that runs in realtime in standalone ffmpeg.

[2018-03-04 10:28] premultiply commented on #901
Yes. And have to check if it does not scale twice for any reason.

[2018-03-04 10:46] premultiply commented on #878
So maybe the problem here is the requiered two-dimensional crop to get the active picture from the codec picture.

[2018-03-04 10:51] ronag commented on #878
There is some kind of limitation if OGL in terms of dimensions (weird). The fix is 1 hack around the OGL issue, 2 hack in ffmpeg by adding an auto scale filter which scales it to an appropriate dimension.

[2018-03-04 10:52] ronag commented on #878
We should probably also fix the error tailspin.

[2018-03-04 11:32] pkeuter commented on #878
I don't see any OGL errors. Is this Linux only?

What I do see when playing the file by @TomKaltz is this:
![image](https://user-images.githubusercontent.com/433441/36945030-f6cee6ac-1fa7-11e8-8da6-e6dccaef2904.png)

I have absolutely no idea why this is happening, am I the only one?

[2018-03-04 11:45] ronag commented on #878
Please make sure you have the latest GPU drivers when testing this.

[2018-03-04 12:01] ronag commented on #901
On other alternative is to make the GPU mixer always output TV range. That way we might not need the extra color transform (except for the screen consumer which could downgrade to experimental until we fix it). @premultiply?

[2018-03-04 12:04] ronag commented on #901
Another alternative is to output YUV444 from the mixer. Hmmm.... I think I like that best of all alternatives.

Will however require an extra GPU pass and also some work in the screen consumer.

[2018-03-04 12:31] premultiply commented on #901
No it is not that easy as you convert to YUV (dont care of color sampling here) it is always TV range BUT you have to decide about the COLOR MATRIX **before** you do the conversion from RGB. This would only be possible if the colormatrix gets locked to the channel mode and other input and output modes  (resolutions) are not allowed. I do not think we want that.
Converting the colormatrix afterward

[2018-03-04 14:03] ronag commented on #901
@premultiply what about 16 bit output from mixer? We want to do that in the future anyway...

[2018-03-04 14:05] ronag commented on #901
Hmm... of course that will require dithering...

[2018-03-04 14:06] ronag commented on #901
The only clean solution would be to have multiple different outputs from mixer depending on consumer... if we are to do this without CPU involvement...

Easiest is probably if FFMPEG could take advantage of multi-core for these transformations.

[2018-03-04 14:07] ronag commented on #901
Since we are not doing. any scaling in this conversion I could probably implement a slice threading util based on sws scale.

[2018-03-04 15:28] ronag commented on #901
@TomKaltz please verify

[2018-03-04 20:58] premultiply commented on #901
Possible further optimizations:
- Convert directly to YUV422P as 4:4:4 formats are unusual for recorded files.
- Maybe drop the alphachannel completly for ffmpeg consumer if this will further improve the performance (maybe only together with previous point, yuv422p) as recording with alpha channel may be rare.
- Make color matrix dependant on channel mode / resolution.

[2018-03-04 21:16] ronag commented on #901
@premultiply: please create separate issue for those

[2018-03-05 04:54] TomKaltz commented on #901
@ronag and I iterated on this today and it's getting better but still very inefficient.   In my testing it seems if we omit alpha and swscale to AV_PIX_FMT_YUV422P it helps slightly.  The best performance I got was manually changing all occurrences of ```AV_PIX_FMT_YUVA422P``` to ```AV_PIX_FMT_YUV422P``` in ffmpeg_consumer.cpp after commit 0d721847b49d022f7db09f48e92d8732b0db19c8 and using the fol

[2018-03-05 05:25] jamesdwise commented on #715
I'm working on the Bluefish producer right now, and  I'm wondering if there would be any demand / interest for a config flag that allowed the producer to give caspar RGB frames instead of YUV.
ie. doing the colourspace conversion on bluefish device rather than in software.
Also wondering if this might remove some of the colour space issues that the decklink has been seeing

[2018-03-05 06:05] premultiply commented on #715
If the bluefish driver does proper color conversion on driver or hardware this may have a small benefit. But we have to check if bwdif is able to work in RGB mode first.

[2018-03-05 06:08] premultiply commented on #901
Just to make shure: You have verified that it is not dnxhd codec from ffmpeg which kills the performance? Same with x264?

[2018-03-05 06:11] TomKaltz commented on #901
I definitely tested with ProRes with same bad results.  I did a quick test with x264 defaults and it was slightly better but still not good.

[2018-03-05 07:00] ronag commented on #715
bwdif does have `AV_PIX_FMT_GBRP`, i.e. planar "RGB". If bluefish can give full range RGB that would be faster. We just need to make sure that bwdif correctly resolves to `AV_PIX_FMT_GBRP`.

[2018-03-05 07:03] ronag commented on #901
@TomKaltz your computer is 2.3 GHz with 3.1 turbo :)... no? Personally, I don't think recording is something for a laptop.

One more optimization would be to do the color conversion and interlacing in the same step... but now we're moving things out of the ffmpeg filter => more complexity.

[2018-03-05 07:56] premultiply commented on #901
Interlacing outside of user defined filter would mean that high quality progressive recording is lost when channel is set to interlaced format. Might be ok for most recording applications but replays will suffer. Mmmmh...

Anyway I would prefer to switch to AV_PIX_FMT_YUV422P as @TomKaltz said above as it would reduce the buffersizes/amount of data to move and increase the performance for common u

[2018-03-05 09:55] ronag commented on #901
We need to use an alpha based pixel format since some users record alpha. We should create a dummy filter graph and check the resolved pixel format and use that.

[2018-03-05 11:19] Julusian commented on #900
Perhaps there could be an TCP based event socket that clients can connect to for infrequent one off messages such as this? There could be better ways though.

That would be a good idea.
Also, adding the missing osc data to the other producers is usually pretty simple to do, so if there can be an issue listing the endpoints what you want to see added for those than that can be discussed and quickly

[2018-03-05 11:51] TomKaltz commented on #900
I’ve used one-off messaging via osc with very good results. It’s very rare you have UDP packet loss these days.  I understand it’s considered not safe but perhaps we can add these osc messages with the explicit documentation that they can be unreliable?

Of course if we figure a better way to get pertinent info to client apps then we should definitely not do this.

[2018-03-05 12:09] ronag commented on #901
@premultiply: I'm unsure whether performing the transform in slices is actually valid given dithering etc... are you able to find out?

[2018-03-05 12:11] premultiply commented on #901
I can try to measure it if there is a build availible.

[2018-03-05 12:15] ronag commented on #901
The auto build should be running.

[2018-03-06 09:49] ronag commented on #894
STOP or CG STOP?

[2018-03-06 09:50] ronag commented on #894
This might be fixed in https://github.com/CasparCG/server/commit/a7856fd638ff37bcc1e881c95cc2d84c1474f8a2

Please verify

[2018-03-06 10:06] ronag commented on #901
I'm removing this from 2.2. There is not much more we can do without more effort.

[2018-03-06 10:07] ronag commented on #891
Is ffmpeg_consumer out of sync as well?

[2018-03-06 10:09] premultiply commented on #891
Let me check... May take a while. I am quiet busy at the moment.

[2018-03-06 10:54] ronag commented on #891
@premultiply nvm, @5opr4ni's check answers my question

[2018-03-06 10:57] premultiply commented on #891
@ronag Not for shure. Exactly one frame may be another reason than the different offsets seen on my measurements on decklink output.

[2018-03-06 10:59] ronag commented on #891
can you provide your test file?

[2018-03-06 11:01] premultiply commented on #891
Yep. But it's quite huge and you may need a valid reader device for it.

[2018-03-06 11:02] dotarmin commented on #894
I'm on it!

[2018-03-06 11:37] 5opr4ni commented on #891
96 hours later. ;)
<img width="805" alt="screen shot 2018-03-06 at 12 35 03" src="https://user-images.githubusercontent.com/20354852/37030406-1a784668-213b-11e8-8352-863bbb38cb17.png">

[2018-03-06 11:37] ronag commented on #861
Is this an issue with the producer or consumer or unknown?

[2018-03-06 11:38] ronag commented on #891
So it's roughly 60 ms off.

[2018-03-06 11:39] premultiply commented on #891
So I did some tests again. The audio offset is not fix (file to decklink). It changes in range from 0 to 40 ms when restarting the server and/or changing the output mode but it seems to be constant over time.

[2018-03-06 11:40] 5opr4ni commented on #891
40ms, se my image earlier in the thread so you can compare with the original file.

[2018-03-06 11:44] premultiply commented on #891
Recording file by ffmpeg_consumer and playing again through server to decklink_consumer adds no additional delay so ffmpeg_consumer seems to be fine.

[2018-03-06 11:46] dotarmin commented on #894
I can confirm that it works as expected now. Both STOP and CG STOP works.

[2018-03-06 11:46] #894 closed

[2018-03-06 11:55] ronag commented on #891
ok, so it's a decklink frame scheduling issue. Could be either Caspar or Decklink drivers or both.

[2018-03-06 11:59] premultiply commented on #901
From what I can see from fist test the new transform is inaccurate with levelshifts. But I have to do multipass tests.

[2018-03-06 12:04] 5opr4ni commented on #891
Strange! I am testing the latest build for the deckling producer and did an external SDI recording and got this. Now I will leave it running until tomorrow. I think we are accurate enough?
<img width="805" alt="screen shot 2018-03-06 at 12 58 00" src="https://user-images.githubusercontent.com/20354852/37031354-c2d8878e-213e-11e8-9c1e-0ad4c4509abd.png">

[2018-03-06 12:43] ronag commented on #901
@premultiply I think the issue is more the possible seams between the slices since it might be using dithering for the full => tv range transformation to distribute rounding errors. I'm unsure of the exact implementation and it's impact. @5opr4ni maybe you know someone that can shed light on it?

It's more important when going from e.g. 10 bit to 8 bit.

[2018-03-06 14:47] Julusian commented on #828
@PeterAkakpo I have just had a chance to properly play with this, and have solved the issue with the contents of version.h, but the location of the file is not an issue. It is being placed into the folder "generated" and shell.rc is correctly fidning it in there. cmake is setting that folder as a include directory, so if cmake ran correctly it will be found.

[2018-03-06 14:51] #828 closed

[2018-03-06 17:22] Julusian opened #908 "Windows: CMake copies both debug and release dlls to output"
### Current Behaviour
When building a release build, then the debug dlls are copied to the output directory. The same is true with release dlls when doing a debug build.

These is present in each of 2.2, 2.1 and 2.0 builds.

### Expected Behaviour
It would be better to not include the unused dlls. This reduces the clutter in the build folder and will reduce the resulting size of the folder/zip

[2018-03-06 17:23] Julusian opened #909 "Windows: Builds from http://builds.casparcg.com/ missing flash template-host files"
The cg20.fth.* templatehost files are missing from the automated builds

@dotarmin

[2018-03-06 17:26] dotarmin commented on #909
Strange, let me check this asap.

[2018-03-06 17:59] dotarmin commented on #908
Good timing @ronag ;)

[2018-03-06 18:14] ronag commented on #908
I win!

[2018-03-06 18:15] dotarmin commented on #908
Only by 2 seconds! But I guess a win is a win! :bowing_man:

[2018-03-06 18:17] dotarmin commented on #909
Darn! It was totally on me! It's fixed now! :beer:

[2018-03-06 18:18] #909 closed

[2018-03-06 18:18] ronag commented on #877
I think we're going for 18. Closing.

[2018-03-06 18:18] #877 closed

[2018-03-06 18:18] #56 closed

[2018-03-06 18:19] ronag commented on #57
RESTART does this.

[2018-03-06 18:19] ronag commented on #63
Not doing this.

[2018-03-06 18:19] #63 closed

[2018-03-06 18:21] #139 closed

[2018-03-06 18:21] #171 closed

[2018-03-06 18:21] #354 closed

[2018-03-06 18:22] ronag commented on #337
@jesperstarkar is this fixed in 2.2?

[2018-03-06 18:22] ronag commented on #314
@pkeuter ping

[2018-03-06 18:23] #247 closed

[2018-03-06 18:24] #420 closed

[2018-03-06 18:24] #411 closed

[2018-03-06 18:25] #596 closed

[2018-03-06 18:32] TomKaltz commented on #571
I think I was still seeing this recently. It happens when there is no
active network connection or WiFi disconnected.

On Tue, Mar 6, 2018 at 13:24 Robert Nagy <notifications@github.com> wrote:

--
Thomas Kaltz III 586-214-7150 Sent from Gmail Mobile

[2018-03-06 18:34] TomKaltz commented on #57
I think that feature isn’t working. I’ll have to check again but I think I tried last week and did nothing.

[2018-03-06 18:56] pkeuter commented on #818
@ronag I assume this can be closed?

[2018-03-06 19:09] pkeuter commented on #314
What do we want with this? Currently the HTML producer only looks at `.html` files in the template directory, but since you want to eventually move away from the template directory, is this still relevant?

Referring to @Julusian in #797

I agree with including file extensions anyway, as a further clarification of what is loaded. What about case sensitivity? It would be worth considering now with

[2018-03-06 20:07] Julusian commented on #571
Yes, I can reproduce this

[2018-03-06 21:23] pkeuter opened #910 "Async creation of ffmpeg producer never throws"
This makes ffmpeg accept every (even unplayable) file and return a 200 PLAY OK, even when it fails afterwards. It also breaks playing `PLAY 1-1 http://google.com` (which is less important). We might be able to still asynchronously create the producer, but await it with a promise (and a timeout, because the creation might stall indefinitely).

[2018-03-06 21:49] Julusian opened #911 "Flash: Tidy up templatehost files"
There are currently 41 templatehost files that are required on windows to be able to use the flash producer.

Does someone at SVT who knows the flash producer well know their purpose?
What is different between them?
Is it possible to remove some of these and condense it down to one or a couple?

I have tried renaming them around so that I am using one aimed for a different resolution and framerate

[2018-03-07 00:29] Julusian commented on #897
Potentially useful link: https://www.collabora.com/news-and-blog/blog/2017/12/22/cef-on-wayland/

[2018-03-07 07:14] 5opr4ni commented on #861
Working!

[2018-03-07 07:14] #861 closed

[2018-03-07 07:59] dotarmin commented on #911
Maybe @jeansson or @niklaspandersson could shim in here?

I agree, for the moment the root folder is really cluttered by these. A quick solution would be to create the template folder already at the build stage and put those there instead.

/Armin

[2018-03-07 08:27] dotarmin opened #913 "Vote: Skip Ubuntu 17.10 support and focus on 18.04 LTS instead"
Hi!

### Background
I have been trying to run CasparCG Server 2.2.0 on Ubuntu 17.10 without any success. After it has been built using Docker using the Docker-files provided and extracted from Docker I get the following error when trying to run the server by running `run.sh`.

[code]

I have been looking around for the error without any success but what I have came across is that a solution is to

[2018-03-07 09:06] ronag commented on #910
I'm not keen to change this. It kind of goes with my future wish. File extension always required :).

[2018-03-07 09:07] dotarmin commented on #746
@MauriceVeraart Little late but does scanner.exe work for you?

[2018-03-07 09:43] pkeuter commented on #910
Are you sure? There are HLS streams not specifically using an extension, because it's not mandatory. Of course it's good practice to use a .mpd or .m3u8 extension, but this not always happens. #905 gave us a chance to catch the ffmpeg producer not being able to play something, and feed it to other producers. For example `PLAY 1-1 http://google.com`. This doesn't have an extension, but it would be

[2018-03-07 09:44] ronag commented on #910
I vote for this!

[2018-03-07 09:54] pkeuter commented on #910
@ronag How do we go with the `200 PLAY OK` then? Is this wanted behaviour? This would make it a 'Producer has accepted the play request', but not a specific PLAY OK, because that's to be determined later.

[2018-03-07 09:57] ronag commented on #910
@pkeuter that's the problem with AMCP. For now we'll have to live with it. 200 should say ok the command is valid and has been accepted. Not whether it has succeeded or not... because that can take an indeterminate amount of time which will block everything.

[2018-03-07 10:23] Julusian commented on #913
I started having a play with building for 18.04 last night. and have something that runs. I hit the same error on attempting to run, which was just some files that weren't being copied.
https://github.com/Julusian/CasparCG-Server/commit/2eb56d7e5ec8d2b6473ff14591b61520fb75cfbf#diff-38d13f5bb32606e35ea06563ff190d35

[2018-03-07 10:55] walterav1984 commented on #913
@dotarmin
Could you also start a "vote/poll" on which desktop environment to run or just ubuntu server with a window manager? Because I like @Julusian his notice that openbox gave him more performance than Unity>Gnome3 will give by default. Although I'm not sure openbox used vsync...

https://github.com/CasparCG/server/issues/877#issuecomment-368837920

@Julusian I will try your 18.04 patches, I a

[2018-03-07 10:55] dotarmin commented on #890
See #913 .
New issue will be created if needed.

[2018-03-07 10:55] #890 closed

[2018-03-07 11:15] Julusian commented on #913
@walterav1984 I believe that ubuntu calls the drivers nvidia-384, even though once installed they claim to be 390... I did a fresh install of 18.04 last night, so went straight for latest everything, so didn't have any issues with opengl or blackmagic versions. The Blackmagic 10.9.11 driver works against the 4.15 kernel without any changes making that easier.
Yes, I too installed the artful versio

[2018-03-07 11:36] walterav1984 commented on #913
Thanks for mentioning docker version, and that BMD DesktopVideo driver 10.9.11 doesn't need patching for 18.04.

I think you're correct about nvidia-384, its now a meta package however it says 390.25(Nvidia settings info) last week there was a real nvidia-390 which gave boot loop errors.

PS: tried to build your docker version but it says:
https://github.com/Julusian/CasparCG-Server/commit/2eb56d7

[2018-03-07 11:41] Julusian commented on #913
Ah yes, I had to rebuild the base image, so bumped the version. I have just pushed another commit which adds a build-base-images script to help build that as well as ffmpeg and boost.

[2018-03-07 12:12] dotarmin commented on #913
Keep up the good work @Julusian ! 👍 I think focusing on 18.04 is the right way and LTS version from there and onwards.

I did try this, I located the `libsoftokn3.so` and copied but it didn't help in my case unfortunately.

[2018-03-07 12:16] dotarmin commented on #913
@walterav1984 Agree but we have to wait just a bit with these kind of things and focus on getting one stable Linux version and then take it from there. But the idea is great! Can you just create a plain issue with this idea so it won't be forgotten.

/Armin

[2018-03-07 12:26] walterav1984 commented on #913
@Julusian
Your latest pull https://github.com/Julusian/CasparCG-Server/commit/2f7078a773dc1e09e1adb44096963be052011c31 fixes the manifest error and builds, when running `tools/linux/build-base-images` and than `tools/linux/build-in-docker`.

However extracting the docker build or run interactive from dockerbuild still doens't work for me.
Sadly no error messages, for extracted docker build just st

[2018-03-07 12:37] Julusian commented on #913
@walterav1984 There is a typo in the build-in-docker script where it tags it as casparcg/server3, so you are likely extracting the wrong image... I've amended the commit that broke that.

[2018-03-07 12:51] walterav1984 commented on #913
A quick rebuild with removing the "3" character shows a new error when run both with launch-interactive as extracted docker build, `Type "q" to close application.` will try a total rebuild if that might help.

[2018-03-07 12:55] Julusian commented on #913
That doesn't look like an error, just normal startup to me, this is what I get
[code]

[2018-03-07 13:23] walterav1984 opened #914 "Vote:Ubuntu Linux desktop environment / window / loginmanager"
On @dotarmin suggestion https://github.com/CasparCG/server/issues/913#issuecomment-371120449 a placeholder for discussing which desktop environment / window / login-manager may have performance/stability and or debugging ease compared to bloated/instable GPU dependent desktop environments vs serverbuilds with xorg openbox and lightdm? The reason is this comment from @Julusian  https://github.com/C

[2018-03-07 13:31] Julusian commented on #571
The solution to this appears to be to reduce the amount of logging done by CEF.
That does stop any js console.log calls from being shown and could potentially hide other useful information.

[code]

[2018-03-07 13:34] dotarmin commented on #914
Referencing issue #897 as "good to know".

[2018-03-07 13:36] walterav1984 commented on #914
Indeed that may/will be the final destination but before that we need a environment which most of use can run and administer.

[2018-03-07 14:08] premultiply commented on #901
@ronag Can we try to replace swscale by zscale filter? Maybe it has better performance and accuracy.

[2018-03-07 14:18] walterav1984 commented on #913
@Julusian
OMG it runs, I had to use `sudo ./run.sh` instead of `./run.sh`and its playing AMB and CG1080i50 demo loops!!!

[2018-03-07 14:34] walterav1984 commented on #913
BMD Intensity 4K hdmi with decklink consumer @PAL or @720p5000 also plays the demo videos with audio, just like the screen consumer.

[2018-03-07 14:45] premultiply commented on #901
`-filter:v interlace,zscale=rangein=full:primaries=709:transfer=709:matrix=709:range=limited:,format=yuv422p`
should do it if RGBA is passed to ffmpeg (again). _dither_ parameter may be added additionally.
https://ffmpeg.org/ffmpeg-filters.html#zscale-1

[2018-03-07 15:58] ronag commented on #901
@premultiply we're not using a scale filter, we're doing the scale manually

[2018-03-07 16:13] premultiply commented on #901
Yes i know. But it’s also swscale. And i‘d like to try doing it by zscale with ffmpeg as before with scale and no manual preconversion to compare the performance.

[2018-03-07 17:11] jesperstarkar commented on #571
We need to see `console.log` output.

[2018-03-07 17:40] ronag commented on #901
Run some benchmarks with vanilla ffmpeg. If there is any tangible advantage I’ll revert the parallel conversion.

[2018-03-07 17:42] pkeuter commented on #910
@ronag Thinking about this, we can also check specifically for .m3u8 or .mpd files. Combined with the [FFMPEG] prefix (for other, or no extensions) this would handle all possible scenarios as well. Agreed?

[2018-03-07 20:53] premultiply commented on #901
@TomKaltz Can you try it again with a build before https://github.com/CasparCG/server/commit/7b94bc6544b620583263bee411f88be99ab6eda2 and `-filter:v interlace,zscale=rangein=full:primaries=709:transfer=709:matrix=709:range=limited,format=yuv422p`?